<div class="w3ls-banner "> 
    <div class="banner-text">  
        <div class="container">
          
          <h2>{{'homeMainTitle' | translate}}</h2>
          <p>{{'homeMainText' | translate}}</p>

          <a [routerLink]="['/view-car-groups']"  class="wthree-btn btn-6 scroll">{{'booking_now' | translate}}<span></span></a>         
          
        </div> 
    </div> 
</div>	


<div class="about">
  <div class="container">
    <div class="col-md-6 agileits_about_grid_left">
      
    </div> 
    <img src="assets/images/4.png" alt=" " class="img-responsive about-w3img" />
    <div class="col-md-6 agileits_about_grid_right">
      <h3 class="agileits-title">{{'about' | translate}} <span class="w3lshr-line"> </span></h3>
      <h4>{{'about_title' | translate}}</h4>
      <p>{{'about_text' | translate}}</p>
    </div>
    <div class="clearfix"> </div>
  </div> 
</div>

<div class="w3ls_about_bottom">
  <div class="container"> 
    <div class="w3_about_bottom_grid"> 
      <h4><span>Integer aliquam</span> Donec nibh eros, placerat et dictum</h4>
      <a style="visibility: hidden" href="#myModal" class="wthree-btn btn-6"  data-toggle="modal">Read More<span></span></a> 
    </div>
  </div>
</div>

<div class="features">
  <div class="container"> 
    <div class="w3layouts_skills_grids w3layouts-features-agileinfo">
      <div class="col-md-6 col-sm-9 w3features-right">
        <div id="register" class="login-form agileits-right"> 
          <div class="agile-row">
            
            <div *ngIf="!isClinet()" >
              <h5>{{ 'signup' | translate }}</h5> 
              <div class="login-agileits-top"> 	
                <form [formGroup]='signupForm' (submit)='onSignupFormSubmit()'  > 
                  <p>{{ 'name' | translate }} </p>
                  <input type="text" class="name" formControlName='name'/>
                  <p>{{ 'email' | translate }}</p>
                  <input type="email" class="email" formControlName='email'/>
                  <p>{{ 'phone' | translate }}</p>
                  <input type="text" formControlName='phone'/>
                  <p>{{ 'password' | translate }}</p>
                  <input type="password" class="password" formControlName='password'/>   
                  <input type="submit" value="{{ 'signup' | translate }}">
                </form> 	
              </div>  
            </div>

            <div *ngIf="isClinet()" >
              <img alt=" " class="img-responsive" src="assets/images/1.jpg">
              <br>
              <img alt=" " class="img-responsive" src="assets/images/g2.jpg">
              <br>
              <img alt=" " class="img-responsive" src="assets/images/g3.jpg">
            </div>

          </div>  
        </div>  
      </div>
      <div class="col-md-6 w3features-left">
        <h3 class="agileits-title">{{'features' | translate}}<span class="w3lshr-line"> </span></h3>
      
        <div *ngFor="let item of _features" class="w3features-grids">
          <div class="w3features-left-gridl">
            <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
              <i class="hi-icon {{ item.icon }}"> </i>
            </div>
          </div>
          <div class="w3features-left-gridr">
            <h4>{{item.title}}</h4>
            <p>{{item.text}}</p>
          </div>
          <div class="clearfix"> </div>
        </div> 
         

      </div> 
      <div class="clearfix"> </div>
    </div>
  </div>
</div>

<div class="services jarallax">
  <div class="container"> 
    <div class="w3ls_banner_bottom_grids">
      <ul class="cbp-ig-grid">
        <li *ngFor="let item of services">
          <div class="w3_grid_effect">
            <span class="cbp-ig-icon {{item.icon}}"></span>
            <h4 class="cbp-ig-title">{{item.title}}</h4>
            <span class="cbp-ig-category">{{item.text}}</span>
          </div>
        </li>
      </ul>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>

<div class="contact">
  <div class="w3_agileits_contact_grids">
    <div class="col-md-6 col-xs-8 w3_agileits_contact_grid_left">
      <div class="agile_map">
          <p-gmap *ngIf="mapOptions"  [overlays]="mapOverlays"  [options]="mapOptions" [style]="{'width':'100%','min-height':'580px'}" ></p-gmap>
      </div>
      <div class="agileits_w3layouts_map_pos">
        <div class="agileits_w3layouts_map_pos1">
          <h3>{{'contact_info' | translate}}</h3>
          <p>{{'_contact_address' | translate}}</p>
          <ul class="wthree_contact_info_address">
            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:{{'_contact_email' | translate}}">{{'_contact_email' | translate}}</a></li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>{{'_contact_phone' | translate}}</li>
          </ul>
          <div class="w3_agile_social_icons w3_agile_social_icons_contact">
            <ul>
              <li><a target="_blank" href="{{'_contact_facebook' | translate}}" class="icon icon-cube agile_facebook"></a></li>
              <li><a target="_blank" href="{{'_contact_instagram' | translate}}" class="icon icon-cube agile_instagram"></a></li>
              <li><a target="_blank" href="{{'_contact_twitter' | translate}}" class="icon icon-cube agile_t"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 w3_agileits_contact_grid_right">
      <h3 class="agileits-title">{{'contact' | translate}}<span class="w3lshr-line"> </span></h3>  
      <form [formGroup]='messageForm' (submit)='onMessageFormSubmit()' >
        <span class="input input--ichiro">
          <input class="input__field input__field--ichiro" type="text" id="input-25" formControlName='name' placeholder=" " required="" />
          <label class="input__label input__label--ichiro" for="input-25">
            <span class="input__label-content input__label-content--ichiro">{{'your_name' | translate}}</span>
          </label>
        </span>
        <span class="input input--ichiro">
          <input class="input__field input__field--ichiro" type="email" id="input-26" formControlName='email'placeholder=" " required="" />
          <label class="input__label input__label--ichiro" for="input-26">
            <span class="input__label-content input__label-content--ichiro">{{'your_email' | translate}}</span>
          </label>
        </span>
        <textarea placeholder="{{'your_message_here' | translate}}" formControlName='message'></textarea>
        <input type="submit" value="{{'send' | translate}}">
      </form>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
