<div class="view-profile-any-thing" *ngIf="guest">

    <div class="row" >  
        <div class="col-md-12">
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <panel-heading-in-profile
                        [name]='guest.name'
                        [deleted]='guest.deleted'
                        
                        [displayIsOnline]='false'

                        [displayControl]='false'

                        (onDelete)='delete()'
                        (onRestore)='restore()'
                    >
                    </panel-heading-in-profile>
                </div>

                <div class="panel-body">

                    <ul class="list-group">
                       
                        <!-- name -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [fieldValue]='guest.name'

                            [displayName]="'name' | translate"
                            icon='fa fa-user'
                        ></input-text-in-profile>

                        <!-- phone -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [fieldValue]='guest.phone | numEnToAr'

                            [displayName]="'phone' | translate"
                            icon='fa fa-phone'
                        ></input-text-in-profile>

                        <!-- iqama -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [fieldValue]='guest.iqama | numEnToAr'

                            [displayName]="'iqama' | translate"
                            icon='fa fa-id-card'
                        ></input-text-in-profile>

                        <!-- iqamaExpiryDate -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [fieldValue]='guest.iqamaExpiryDate  | date:"yyyy-MM-dd"'

                            [displayName]="'iqama_expiry_date' | translate"
                            icon='fa fa-calendar'
                        ></input-text-in-profile>

                        <!-- drivingLicence -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [fieldValue]='guest.drivingLicence | numEnToAr'

                            [displayName]="'driving_licence' | translate"
                            icon='fa fa-envira'
                        ></input-text-in-profile>

                        <!-- drivingLicenceExpiryDate -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [fieldValue]='guest.drivingLicenceExpiryDate | date:"yyyy-MM-dd"'

                            [displayName]="'driving_licence_expiry_date' | translate"
                            icon='fa fa-calendar'
                        ></input-text-in-profile>

                        <!-- birthday -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [fieldValue]='guest.birthday | date:"yyyy-MM-dd"'

                            [displayName]="'birthday' | translate"
                            icon='fa fa-birthday-cake'
                        ></input-text-in-profile>

                        <!-- createdAt -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [fieldValue]='guest.createdAt | timeAgo'

                            [displayName]="'created_at' | translate"
                            icon='fa fa-sign-in'
                        ></input-text-in-profile>

                        <!-- updatedAt -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [fieldValue]='guest.updatedAt | timeAgo'

                            [displayName]="'updated_at' | translate"
                            icon='fa fa-pencil'
                        ></input-text-in-profile>

                    </ul>

                </div>
            </div>

        </div>
    </div>

</div> 


