<div class="router-outlet-content">
    <div class="container">
        
        <div class="view-profile-any-thing" *ngIf="carGroup">

            <div style="margin-bottom: 15px;">
                <image-slider
                    [images]="carGroup.images"
                    [canAdd]='false'
                    [canDelete]='false'
                    [title]="'car_images' | translate"
                >
                </image-slider>
            </div>

            <div class="row">  
                <div class="col-md-12">
                    
                    <!-- carGroup -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <panel-heading-in-profile
                                [name]='carGroupTitle'
                                [displayIsOnline]='false'
                                [displayControl]='false'
                            >
                            </panel-heading-in-profile>
                        </div>

                        <div class="panel-body">
                            <ul class="list-group">

                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='carGroup.carType | getValueByLang:"nameEn,nameAr"'

                                    [displayName]="'car_type' | translate"
                                    icon='fa fa-car'
                                ></input-text-in-profile>

                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='carGroup.carModel | getValueByLang:"nameEn,nameAr"'

                                    [displayName]="'car_model' | translate"
                                    icon='fa fa-car'
                                ></input-text-in-profile>

                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='carGroup.branch | getValueByLang:"nameEn,nameAr"'

                                    [displayName]="'branch' | translate"
                                    icon='fa fa-briefcase'
                                ></input-text-in-profile>

                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='carGroup.year | numEnToAr'

                                    [displayName]="'year' | translate"
                                    icon='fa fa-calendar'
                                ></input-text-in-profile>

                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='(carGroup.allowedKm | numEnToAr) + " KM "'

                                    [displayName]="'allowed_km' | translate"
                                    icon='fa fa-gear'
                                ></input-text-in-profile>
                                
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='carGroup.views | numEnToAr'

                                    [displayName]="'views' | translate"
                                    icon='fa fa-eye'
                                ></input-text-in-profile>
                                
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='(carGroup.plusKmPrice | numEnToAr)  + " $ "' 

                                    [displayName]="'plus_km_price' | translate"
                                    icon='fa fa-usd'
                                ></input-text-in-profile>

                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='(carGroup.pricePerDay | numEnToAr)  + " $ "' 

                                    [displayName]="'price_per_day' | translate"
                                    icon='fa fa-usd'
                                ></input-text-in-profile>

                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='(carGroup.discountPerDay | numEnToAr)  + " $ "' 

                                    [displayName]="'discount_per_day' | translate"
                                    icon='fa fa-usd'
                                ></input-text-in-profile>

                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='getDaysCount() | numEnToAr'

                                    [displayName]="'days_count' | translate"
                                    icon='fa fa-calendar'
                                ></input-text-in-profile>

                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='getTotalPrice() | numEnToAr'

                                    [displayName]="'total_price' | translate"
                                    icon='fa fa-usd'
                                ></input-text-in-profile>

                            </ul>
                            
                            <div style="padding-top: 10px;" class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <app-btn
                                        (onClick)='booking()'
                                        [label]='"booking_car" | translate'
                                    ></app-btn>
                                </div>
                            </div>
                          
                        </div>

                    </div>
                    <!-- ./carGroup -->

                </div>
            </div>
        </div> 
        
    </div> 
</div> 


