@import './var';

// ------- en style -------
.style-ltr input-calendar-in-profile ,
.style-ltr input-calendar-hijri-in-profile ,
.style-ltr input-password-in-profile ,
.style-ltr input-text-in-profile {


    .list-group-item .extra-link.fa
    {
        padding: 3px 7px 3px 8px;
        background: $mainColor;
        border-radius: 5px;
        width: 32px;
        margin-right: 0px;
        position: absolute;
        top: 7px;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
        outline: none;

        &.extra-link-1 {
            right: 10px;
        };
        &.extra-link-2 {
            right: 52px;
        };
    }

    // list-group-item
    .list-group-item 
    {
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 15px;
        position: relative;
        padding-right: 5px;
        padding-left: 5px;
        color: $textColor;

    }
    .list-group-item > div > .fa
    {
        text-align: center;
        width: 32px;
        color: $mainColor;
        font-size: 18px;
    }
    .list-group-item .icon-control.fa-edit
    {
        
        padding: 4px 7px 2px 7px;
        background: $mainColor;
        border-radius: 5px;
        width: 32px;
        margin-right: 0px;
        position: absolute;
        right: 10px;
        top: 7px;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
    }
    .list-group-item .icon-control.fa-times
    {
        padding: 2px 8px 3px 8px;
        background: $mainColor;
        border-radius: 5px;
        width: 32px;
        margin-right: 0px;
        position: absolute;
        right: 10px;
        top: 8px;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
    }
    .list-group-item .icon-control:hover,
    .list-group-item .extra-link:hover,
    {
        background: $mainHoverColor;
    }

    // input
    // password
    .list-group-item .ui-inputgroup.password .fa-eye
    {
        right: 40px;
        top: 6px;
        color: #333;
        font-size: 17px;
        position: absolute;
        cursor: pointer;
    }
    .list-group-item .ui-inputgroup.password .fa-eye:hover
    {
        color: $mainColor;
    }

    .list-group-item .ui-inputgroup
    {
        display: inline-block;
        width: 60%;
        position: relative;
    }
    @media (max-width: 768px) {
        .list-group-item .ui-inputgroup
        {
            width: 100% !important;
        }
    }
    .list-group-item .ui-inputgroup > input
    {
        border-radius: 22px;
        padding-left: 16px !important;
        width: 100%;
        padding-right: 35px;
    }
    .list-group-item .ui-inputgroup > input:focus,
    .list-group-item > input:focus
    {
        box-shadow: 0 0 5px $mainColor !important;
    }
    .list-group-item .ui-inputgroup button
    {
        padding-right: 17px;
        border-radius: 0 22px 22px 0;
        margin-left: -30px;
        background: $mainColor;
        border: 0;
    }
    .list-group-item .ui-inputgroup > input + button ,
    .list-group-item .ui-inputgroup > .fa.fa-eye + button 
    {
        padding-top: 2px;
        padding-bottom: 3px;
    }

    .list-group-item .ui-inputgroup > input + button .fa-edit,
    .list-group-item .ui-inputgroup > .fa.fa-eye + button .fa-edit
    {
        width: 32px;
        margin-right: 0px;
        position: absolute;
        right: 5px;
        top: 16.5px;
        left: 9px;
        color: #fff;
        font-size: 19px;
    }
    @media (max-width: 768px) {
        .list-group-item > div > span
        {
            padding-left: 0px;
            padding-top: 5px;
            display: block;
            width: 100%;
            text-align: center;
            line-height: 22px;
        }
        
        .list-group-item .ui-inputgroup
        {
            width: 100%;
            margin-top: 12px;
        }
        .list-group-item .ui-inputgroup input
        {
            min-width: 0;
            width: 100%;
        }
        .list-group-item .ui-inputgroup input,
        .list-group-item input
        {
            min-width: 100% !important;
        }
    }
    .list-group-item .ui-inputgroup button:hover
    {
        background: $mainHoverColor;
        border: 0;
    }
    .list-group-item > div
    {
        word-break: break-all;
        width: 100%;
    }
    .list-group-item > strong,
    .list-group-item > div > strong
    {
        margin-right: 6px;
        display: inline-block;
    }

};
// ------- en style -------


// ------- ar style -------
.style-rtl input-calendar-in-profile ,
.style-rtl input-calendar-hijri-in-profile ,
.style-rtl input-password-in-profile ,
.style-rtl input-text-in-profile {
    
    direction: rtl;

    .list-group-item .extra-link.fa
    {
        padding: 3px 5px 3px 9px;
        background: $mainColor;
        border-radius: 5px;
        width: 32px;
        margin-right: 0px;
        position: absolute;
        top: 7px;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
        outline: none;
        left: 52px;
        
        &.extra-link-1 {
            left: 10px;
        };
        &.extra-link-2 {
            left: 52px;
        };
    }

    // list-group-item
    .list-group-item 
    {
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 15px;
        position: relative;
        padding-left: 5px;
        padding-right: 5px;
        color: $textColor;

    }
    .list-group-item > div > .fa
    {
        text-align: center;
        width: 32px;
        color: $mainColor;
        font-size: 18px;
    }   
    .list-group-item .icon-control.fa-edit
    {
        padding: 4px 4px 2px 7px;
        background: $mainColor;
        border-radius: 5px;
        width: 32px;
        margin-right: 0px;
        position: absolute;
        left: 10px;
        top: 7px;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
        
    }
    .list-group-item .icon-control.fa-times
    {
        padding: 2px 8px 3px 8px;
        background: $mainColor;
        border-radius: 5px;
        width: 32px;
        margin-right: 0px;
        position: absolute;
        left: 10px;
        top: 8px;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
    }
    .list-group-item .icon-control:hover,
    .list-group-item .extra-link:hover
    {
        background: $mainHoverColor;
    }

    
    // input
    // password
    .list-group-item .ui-inputgroup.password .fa-eye
    {
        left: 40px;
        top: 6px;
        color: #333;
        font-size: 17px;
        position: absolute;
        cursor: pointer;
    }
    .list-group-item .ui-inputgroup.password .fa-eye:hover
    {
        color: $mainColor;
    }

    .list-group-item .ui-inputgroup
    {
        display: inline-block;
        width: 60%;
        position: relative;
    }
    @media (max-width: 768px) {
        .list-group-item .ui-inputgroup
        {
            width: 100% !important;
        }
    }
    .list-group-item .ui-inputgroup > input
    {
        border-radius: 22px;
        padding-right: 16px !important;
        width: 100%;
        padding-left: 35px;
        text-align: right
    }
    .list-group-item .ui-inputgroup > input:focus,
    .list-group-item > input:focus
    {
        box-shadow: 0 0 5px $mainColor !important;
    }
    .list-group-item .ui-inputgroup button
    {
        padding-right: 17px;
        border-radius: 22px 0  0 22px;
        background: $mainColor;
        border: 0;
        position: absolute;
        left: 1px;
    }
    .list-group-item .ui-inputgroup > input + button ,
    .list-group-item .ui-inputgroup > .fa.fa-eye + button 
    {
        padding-top: 2px;
        padding-bottom: 3px;
    }

    .list-group-item .ui-inputgroup > input + button .fa-edit,
    .list-group-item .ui-inputgroup > .fa.fa-eye + button .fa-edit
    {
        width: 32px;
        margin-right: 0px;
        position: absolute;
        top: 16.5px;
        left: 11px;
        color: #fff;
        font-size: 19px;
    }
    @media (max-width: 768px) {
        .list-group-item > div > span
        {
            padding-left: 0px;
            padding-top: 5px;
            display: block;
            width: 100%;
            text-align: center;
            line-height: 22px;
        }
        
        .list-group-item .ui-inputgroup
        {
            width: 100%;
            margin-top: 12px;
        }
        .list-group-item .ui-inputgroup input
        {
            min-width: 0;
            width: 100%;
        }
        .list-group-item .ui-inputgroup input,
        .list-group-item input
        {
            min-width: 100% !important;
        }
    }
    .list-group-item .ui-inputgroup button:hover
    {
        background: $mainHoverColor;
        border: 0;
    }
    .list-group-item > div
    {
        word-break: break-all;
        width: 100%;
        text-align: right;
    }
    .list-group-item > strong,
    .list-group-item > div > strong
    {
        margin-left: 6px;
        display: inline-block;
    }

};
// ------- ar style -------




// calendar main
input-calendar-in-profile,
input-calendar-hijri-in-profile {
    .ui-calendar {
        width: 100%;
    };
    .ui-calendar > input {
        width: 100%;
        border-radius: 22px !important;
    };
    .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active
    {
        background: $mainHoverColor;
    };
    .ui-inputgroup .ui-inputtext:not(:last-child) {
        border-right: 1px solid #DDD;
    }
}
// ./calendar main

// calendar en
.style-ltr input-calendar-in-profile ,
.style-ltr input-calendar-hijri-in-profile {
    .ui-calendar > input {
        padding-left: 10px; 
    };
    .list-group-item .ui-inputgroup > p-calendar + button 
    {
        padding-top: 2px;
        padding-bottom: 3px;
    }
    .list-group-item .ui-inputgroup > p-calendar + button .fa-edit
    {
        width: 32px;
        margin-right: 0px;
        position: absolute;
        right: 5px;
        top: 16.5px;
        left: 9px;
        color: #fff;
        font-size: 19px;
    }
    .ui-inputgroup {
        width: 50% !important;
    }
}
// ./calendar en

// calendar ar
.style-rtl input-calendar-in-profile ,
.style-rtl input-calendar-hijri-in-profile {

    .ui-calendar > input {
        padding-right: 10px; 
    };
    .list-group-item .ui-inputgroup > p-calendar + button 
    {
        padding-top: 2px;
        padding-bottom: 3px;
    }

    .list-group-item .ui-inputgroup > p-calendar + button .fa-edit
    {
        width: 32px;
        margin-right: 0px;
        position: absolute;
        top: 16.5px;
        left: 11px;
        color: #fff;
        font-size: 19px;
    }
    .ui-inputgroup {
        width: 50% !important;
    }
}
// ./calendar ar
