@import './var';

// loading-one
.loading-one {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 30px;
  }
.loading-one div {
  position: absolute;
  top: 11px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: $mainHoverColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading-one div:nth-child(1) {
  left: 6px;
  animation: loading-one1 0.6s infinite;
}
.loading-one div:nth-child(2) {
  left: 6px;
  animation: loading-one2 0.6s infinite;
}
.loading-one div:nth-child(3) {
  left: 26px;
  animation: loading-one2 0.6s infinite;
}
.loading-one div:nth-child(4) {
  left: 45px;
  animation: loading-one3 0.6s infinite;
}
@keyframes loading-one1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading-one3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading-one2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
// ./loading-one

// loading-two
.loading-two {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loading-two:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid $mainHoverColor;
  border-color: $mainHoverColor transparent $mainHoverColor transparent;
  animation: loading-two 1.2s infinite;
}
@keyframes loading-two {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
// ./loading-two





