@import './loading.scss';
@import './form.scss';
@import './profile.scss';
@import './custom-data-view,2,3.scss';
@import './input-text,password,calendar-in-profile.scss';
@import './swal.scss';

a {
    cursor: pointer;
};

.row {
    margin-right: 0;
    margin-left: 0;

    &.row-eq-height {
        @media (min-width: 768px) {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        };
    };
};

// for text hover color
.ui-inputtext:focus
{
    box-shadow: 0 0 5px #fac12f;
};
// ./for text hover color


// on ar
.style-rtl *
{
    letter-spacing: 0 !important;
};

// center
.center-child-in-laptop
{
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

    justify-content: center;
    align-items: center;
};
@media (max-width: 768px) {
    .center-child-in-phone
    {
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

        justify-content: center;
        align-items: center;
    }
};
// ./center

.router-outlet-content {
    padding: 20px 0 20px 0;
};

.swal-text {
    text-align: center !important;
}