@import './var';

.view-profile-any-thing {
 
    & > .row > div {
        padding: 0;
    };

    .panel {
        margin-bottom: 0;
    }
    .panel-body {
        width: 80%;
        margin: auto;
        & {
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }

    .panel-heading {
        border-bottom : 0;
    };

    ul.list-group {
        padding-bottom: 0;
        margin-bottom: 0;
    }

};
