// swal
.swal-button--confirm:not(.swal-button--danger):hover,
.swal-button--confirm:not(.swal-button--danger):active,
.swal-button--confirm:not(.swal-button--danger):focus,
.swal-button--confirm:not(.swal-button--danger)
{
    background-color: $mainColor;
    border-color: transparent !important;
}


.style-rtl .swal-content {
    direction: rtl;
}