// --------- var ---------
$mainColor : #fac12f;
$mainHoverColor : #e6af21;
$textColor : #696666;
@mixin transition($time) {
    -webkit-transition: all $time;
    -o-transition: all $time;
    -moz-transition: all $time;
    transition: all $time;
};
// --------- var ---------
