// --------- var ---------
$mainColor : #6edd19;
$mainHoverColor : #5fc00c;
$editIconColor: #72afd2;
$textColor : #696666;
@mixin transition($time) {
    -webkit-transition: all $time;
    -o-transition: all $time;
    -moz-transition: all $time;
    transition: all $time;
};
// --------- var ---------


// ------- main style -------
// ------- main style -------


// ------- en style -------
::ng-deep .style-ltr select-many {


    width: 100%;

    p-multiselect.select-many .select-item-label {
        display: inline-block;
        padding-left: 5px;
    }

    p-multiselect.select-many .ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active {
        border: 1px solid $mainHoverColor !important;
        background: $mainHoverColor !important;
    }
    p-multiselect.select-many .ui-multiselect-filter-icon.pi.pi-search {
        right: 6px;
        left: auto;
    }

    // header
    p-multiselect.select-many .ui-widget-header .ui-chkbox.ui-widget {
        padding-right: 10px;
    }
    p-multiselect.select-many .ui-multiselect-filter-container input {
        padding-left: 5px;
    }


    & > div {
        @media (max-width: 768px) {
            padding-top: 5px;
        }
    }

    p-multiselect.select-many .ui-multiselect-panel .ui-multiselect-filter {
        padding-right: 2.0em;
    }
    p-multiselect.select-many *
    {
        letter-spacing: 0.5px;
    }
    p-multiselect.select-many .ui-multiselect.ui-state-focus
    {
        box-shadow: 0 0 5px $mainColor !important;
    }
    p-multiselect.select-many.ui-state-highlight
    {
        background: $mainColor;
    }
    p-multiselect.select-many .ui-multiselect,
    p-multiselect.select-many .ui-multiselect:hover
    {
        padding: 6px;
        padding-left: 15px;
        border-radius: 22px;
        background: white ;
        border: 0;
    }
    p-multiselect.select-many .ui-multiselect-trigger.ui-state-default.ui-corner-right
    {
        padding: 10px 28px 10px 10px;
        border-radius: 0px 22px 22px 0px;
        border: 0;
        background: $mainColor;
        
    }
    p-multiselect.select-many .ui-multiselect-trigger.ui-state-default.ui-corner-right:hover
    {
        border: 0;
        background: $mainHoverColor !important;
        
    }
    p-multiselect.select-many .ui-multiselect .ui-multiselect-trigger .fa {
        color: #fff;
    }
    p-multiselect.select-many .ui-multiselect-item
    {
        padding-left: 7px;
        color: $mainHoverColor;

        margin-top: 1px;
        margin-bottom: 1px;

        padding-bottom: 12px;
        padding-top: 12px;
    }
    p-multiselect.select-many .ui-multiselect-item .select-item-label
    {
        transition: padding 0.5s  ease;
        -webkit-transition: padding 0.5s  ease;
        -moz-transition: padding 0.5s  ease;
        -o-transition: padding 0.5s  ease;
    }
    p-multiselect.select-many .ui-multiselect-item:hover .select-item-label
    {
        padding-left: 13px;
    }
    p-multiselect.select-many .ui-multiselect-item:not(.ui-state-highlight):hover .select-item-label
    {
        color: $mainHoverColor !important;
    }
    p-multiselect.select-many .ui-multiselect-item.ui-state-highlight:hover,
    p-multiselect.select-many .ui-multiselect-item.ui-state-highlight
    {
        color: #FFF !important;
    }
    p-multiselect.select-many .ui-multiselect-item.ui-state-highlight
    {
        background: $mainHoverColor;
        border-color: $mainHoverColor;
    }
    p-multiselect.select-many label.ui-multiselect-label
    {
        color: $mainHoverColor ;
    };
    p-multiselect.select-many 
    {
    z-index: auto;
    position: relative;
    width: 100%;
    }
    p-multiselect.select-many > i.fa
    {
    position: absolute;
    z-index: 1;
    top: 18px;
    left: 34px; 
    font-size: 15px;
    color: #666666;
    }
    p-multiselect.select-many  .ui-multiselect
    {
    background: #DDD !important;
    padding: 9px 11px 7px 11px !important;
    }
    p-multiselect.select-many  .ui-multiselect label
    {
        background: #DDD !important;
        color: $textColor !important;
        padding-left: 40px !important;
        font-weight: bold !important;
    }
    p-multiselect.select-many .ui-multiselect-trigger-icon {
        color: #fff;
        position: absolute;
        left: 17px;
        top: 27px;
    }
    i.select-many {
        text-align: center;
        width: 32px;
        color: $textColor;
        font-size: 18px;
        position: absolute;
        top: 16px !important;
        z-index: 1;
        
        left: 13px !important;
    };


};
// ------- en style -------


// ------- ar style -------
::ng-deep .style-rtl select-many {

    width: 100%;

    p-multiselect.select-many .select-item-label {
        display: inline-block;
        padding-right: 5px;
    }

    p-multiselect.select-many .ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active {
        border: 1px solid $mainHoverColor !important;
        background: $mainHoverColor !important;
    }
    p-multiselect.select-many .ui-multiselect-filter-icon.pi.pi-search {
        left: 6px;
        right: auto;
    }

    // header
    p-multiselect.select-many .ui-widget-header {
        text-align: right;
        .ui-multiselect-close {
            left: 5px;
            right: auto;
        }
    }
     p-multiselect.select-many .ui-widget-header .ui-chkbox.ui-widget {
        padding-left: 10px;
    }
    p-multiselect.select-many .ui-multiselect-filter-container input {
        padding-right: 5px;
    }

    


    & > div {
        @media (max-width: 768px) {
            padding-top: 5px;
        }
    }

    p-multiselect.select-many
    {
        direction: rtl;
    }
    p-multiselect.select-many .ui-multiselect-panel .ui-multiselect-filter {
        padding-right: 2.0em;
    }
    p-multiselect.select-many *
    {
        letter-spacing: 0.5px;
    }
    p-multiselect.select-many .ui-multiselect.ui-state-focus
    {
        box-shadow: 0 0 5px $mainColor !important;
    }
    p-multiselect.select-many.ui-state-highlight
    {
        background: $mainColor;
    }
    p-multiselect.select-many .ui-multiselect,
    p-multiselect.select-many .ui-multiselect:hover
    {
        padding: 6px;
        padding-left: 15px;
        border-radius: 22px;
        background: white ;
        border: 0;
    }
    p-multiselect.select-many .ui-multiselect-trigger.ui-state-default.ui-corner-right
    {
        left: 0 !important;
        right: auto;
        padding: 10px 28px 10px 10px;
        border-radius: 22px 0px 0px 22px;
        border: 0;
        background: $mainColor;
    }
    p-multiselect.select-many .ui-multiselect-trigger.ui-state-default.ui-corner-right:hover
    {
        border: 0;
        background: $mainHoverColor !important;
        
    }
    p-multiselect.select-many .ui-multiselect .ui-multiselect-trigger .fa {
        color: #fff;
    }
    p-multiselect.select-many .ui-multiselect-item
    {
        padding-right: 7px;
        color: $mainHoverColor;

        margin-top: 1px;
        margin-bottom: 1px;

        padding-bottom: 12px;
        padding-top: 12px;

        text-align: right;
    }
    p-multiselect.select-many .ui-multiselect-item .select-item-label
    {
        transition: padding 0.5s  ease;
        -webkit-transition: padding 0.5s  ease;
        -moz-transition: padding 0.5s  ease;
        -o-transition: padding 0.5s  ease;
    }
    p-multiselect.select-many .ui-multiselect-item:hover .select-item-label
    {
        padding-right: 13px;
    }
    p-multiselect.select-many .ui-multiselect-item:not(.ui-state-highlight):hover .select-item-label
    {
        color: $mainHoverColor !important;
    }
    p-multiselect.select-many .ui-multiselect-item.ui-state-highlight:hover,
    p-multiselect.select-many .ui-multiselect-item.ui-state-highlight
    {
        color: #FFF !important;
    }
    p-multiselect.select-many .ui-multiselect-item.ui-state-highlight
    {
        background: $mainHoverColor;
        border-color: $mainHoverColor;
    }
    p-multiselect.select-many label.ui-multiselect-label
    {
        color: $mainHoverColor ;
    };
    p-multiselect.select-many 
    {
    z-index: auto;
    position: relative;
    width: 100%;
    }
    p-multiselect.select-many > i.fa
    {
    position: absolute;
    z-index: 1;
    top: 18px;
    left: 34px; 
    font-size: 15px;
    color: #666666;
    }
    p-multiselect.select-many  .ui-multiselect
    {
        background: #DDD !important;
        padding: 9px 11px 7px 11px !important;
    }
    p-multiselect.select-many  .ui-multiselect label
    {
        background: #DDD !important;
        color: $textColor !important;
        padding-right: 40px !important;
        font-weight: bold !important;
    }
    p-multiselect.select-many .ui-multiselect-trigger-icon {
        color: #fff;
        position: absolute;
        left: 20px;
        top: 27px;
    }
    
    i.select-many {
        text-align: center;
        width: 32px;
        color: $textColor;
        font-size: 18px;
        position: absolute;
        top: 16px !important;
        z-index: 1;
        right: 13px !important;
    };


};
// ------- ar style -------


