<div class="view-profile-any-thing" *ngIf="carGroup">

    <div style="margin-bottom: 15px;">
        <image-slider
            [images]="carGroup.images"
            [canAdd]='canEditCarGroupImage'
            [canDelete]='canEditCarGroupImage'
            [title]="'car_group_images' | translate"
            (onDelete)='onDeleteImage($event)'
            (onAdd)='onAddImage($event)'
        >
        </image-slider>
    </div>

    <div class="row">  
        <div class="col-md-12">
            
            <!-- carGroup -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <panel-heading-in-profile
                        [name]='carGroupTitle'
                        [deleted]='carGroup.deleted'
                        
                        [displayIsOnline]='false'

                        [displayControl]='true'
                        [canDelete]='canDeleteCarGroup'
                        [canRestore]='canRestoreCarGroup'

                        (onDelete)='delete()'
                        (onRestore)='restore()'
                    >
                    </panel-heading-in-profile>
                </div>

                <div class="panel-body">
                    <ul class="list-group">
                        
                        <!-- carsCount -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [fieldValue]='carGroup.carsCount | carLength'

                            [displayName]="'the_cars_count' | translate"
                            icon='fa fa-tachometer'
                        ></input-text-in-profile>

                        <!-- carType -->
                        <input-select-one-in-profile
                            [displayControl]='canEditCarGroup' [edit]='edit.carType_id'

                            [placeholder]='"edit" | translate'
                            fieldName='carType_id' [fieldValue]='carGroup.carType | getValueByLang:"nameEn,nameAr" '
                            [value]='carGroup.carType._id'
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpCarTypeModel._id'
                            [requiredErrorEnum]='car_type_required'
                            [invalidErrorEnum]='car_type_invalid'
                            (onValidationError)='onValidationError($event)'

                            [options]='carTypesOptions'

                            [displayName]="'car_type' | translate"
                            icon='fa fa-car'

                            editNameInEvent='carType_id'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-select-one-in-profile>

                        <!-- carModel -->
                        <input-select-one-in-profile
                            [displayControl]='canEditCarGroup' [edit]='edit.carModel_id'

                            [placeholder]='"edit" | translate'
                            fieldName='carModel_id' [fieldValue]='carGroup.carModel | getValueByLang:"nameEn,nameAr" '
                            [value]='carGroup.carModel._id'
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpCarModelModel._id'
                            [requiredErrorEnum]='car_model_required'
                            [invalidErrorEnum]='car_model_invalid'
                            (onValidationError)='onValidationError($event)'

                            [options]='carModelsOptions'

                            [displayName]="'car_model' | translate"
                            icon='fa fa-car'

                            editNameInEvent='carModel_id'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-select-one-in-profile>

                        <!-- branch -->
                        <input-select-one-in-profile
                            [displayControl]='canEditCarGroup' [edit]='edit.branch_id'

                            [placeholder]='"edit" | translate'
                            fieldName='branch_id' [fieldValue]='carGroup.branch | getValueByLang:"nameEn,nameAr" '
                            [value]='carGroup.branch._id'
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpBranchModel._id'
                            [requiredErrorEnum]='branch_required'
                            [invalidErrorEnum]='branch_invalid'
                            (onValidationError)='onValidationError($event)'

                            [options]='branchesCanThisEmployeeAccessOptions'

                            [displayName]="'the_branch' | translate"
                            icon='fa fa-briefcase'

                            editNameInEvent='branch_id'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'

                            [displayLink]='true'
                            [linkLabel]="'view_branch' | translate"
                            [linkUrl]="['/view-branches' , carGroup.branch._id]" 
                        ></input-select-one-in-profile>

                        <!-- year -->
                        <input-select-one-in-profile
                            [displayControl]='canEditCarGroup' [edit]='edit.year'

                            [placeholder]='"edit" | translate'
                            fieldName='year' [fieldValue]='carGroup.year | numEnToAr'
                            [value]='carGroup.year'
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpCarGroupModel.year'
                            [requiredErrorEnum]='year_required'
                            [invalidErrorEnum]='year_invalid'
                            (onValidationError)='onValidationError($event)'

                            [options]='yearsOptions'

                            [displayName]="'the_year' | translate"
                            icon='fa fa-calendar'

                            editNameInEvent='year'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-select-one-in-profile>
   

                        <!-- allowedKm -->
                        <input-text-in-profile
                            [displayControl]='canEditCarGroup' [edit]='edit.allowedKm'

                            fieldName='allowedKm' 
                            [fieldValue]='(carGroup.allowedKm | numEnToAr) + " KM "'
                            [value]='carGroup.allowedKm' 
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpCarGroupModel.allowedKm'
                            [requiredErrorEnum]='allowedKm_required'
                            [invalidErrorEnum]='allowedKm_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'allowed_km' | translate"
                            icon='fa fa-gear'

                            editNameInEvent='allowedKm'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-text-in-profile>

                        <!-- plusKmPrice -->
                        <input-text-in-profile
                            [displayControl]='canEditCarGroup' [edit]='edit.plusKmPrice'

                            fieldName='plusKmPrice'
                            [value]='carGroup.plusKmPrice'
                            [fieldValue]='(carGroup.plusKmPrice | numEnToAr)  + " $ "' 
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpCarGroupModel.plusKmPrice'
                            [requiredErrorEnum]='plusKmPrice_required'
                            [invalidErrorEnum]='plusKmPrice_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'plus_km_price' | translate"
                            icon='fa fa-usd'

                            editNameInEvent='plusKmPrice'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-text-in-profile>

                        <!-- pricePerDay -->
                        <input-text-in-profile
                            [displayControl]='canEditCarGroup' [edit]='edit.pricePerDay'

                            fieldName='pricePerDay' 
                            [value]='carGroup.pricePerDay' 
                            [fieldValue]='(carGroup.pricePerDay | numEnToAr)  + " $ "' 
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpCarGroupModel.pricePerDay'
                            [requiredErrorEnum]='pricePerDay_required'
                            [invalidErrorEnum]='pricePerDay_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'price_per_day' | translate"
                            icon='fa fa-usd'

                            editNameInEvent='pricePerDay'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-text-in-profile>

                        <!-- discountPerDay -->
                        <input-text-in-profile
                            [displayControl]='canEditCarGroup' [edit]='edit.discountPerDay'

                            fieldName='discountPerDay' 
                            [fieldValue]='(carGroup.discountPerDay | numEnToAr)  + " $ "' 
                            [value]='carGroup.discountPerDay' 
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpCarGroupModel.discountPerDay'
                            [requiredErrorEnum]='discountPerDay_required'
                            [invalidErrorEnum]='discountPerDay_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'discount_per_day' | translate"
                            icon='fa fa-usd'

                            editNameInEvent='discountPerDay'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-text-in-profile>

                        <!-- views -->
                        <input-text-in-profile
                            [displayControl]='canEditCarGroup' [edit]='edit.views'

                            fieldName='views' 
                            [fieldValue]='carGroup.views | numEnToAr' 
                            [value]='carGroup.views' 
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpCarGroupModel.views'
                            [requiredErrorEnum]='views_required'
                            [invalidErrorEnum]='views_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'views' | translate"
                            icon='fa fa-eye'

                            editNameInEvent='views'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-text-in-profile>

                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [value]='carGroup.createdAt | timeAgo'

                            [displayName]="'created_at' | translate"
                            icon='fa fa-sign-in'
                        ></input-text-in-profile>

                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [value]='carGroup.updatedAt | timeAgo'

                            [displayName]="'updated_at' | translate"
                            icon='fa fa-pencil'
                        ></input-text-in-profile>

                    </ul>

                </div>
            </div>
            <!-- ./carGroup -->

        </div>
    </div>
</div> 


