<div class="parent-of-signin-form-page parent-of-add-form-page ">
	<div class="wrap-login100 row">

		<form role="form" [formGroup]='formGroup' (submit)='onSubmit()' class="login100-form">
			
			<span class="login100-form-title">
				{{'add_employee' | translate}}
			</span>



			<!-- employeeGroup_id -->
		  	<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 select-one" >
					<select-one
						formControlName="employeeGroup_id"
						icon='fa fa-object-ungroup'     
						[options]='employeeGroupsOptions'   
						[placeholder]='"employee_group" | translate'
					>
					</select-one>
				</div>
				<input-error-in-form [control]='formGroup.controls.employeeGroup_id'></input-error-in-form>
			</div>

			<!-- name -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100" >
					<input 
						formControlName='name' 
						class="input100" 
						type="text" 
						placeholder="{{'name' | translate}}">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
				</div>
				<input-error-in-form [control]='formGroup.controls.name'></input-error-in-form>
			</div>

			<!-- email -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 " >
					<input 
						formControlName='email' 
						class="input100" 
						type="text" 
						placeholder="{{'email' | translate}}">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</span>
				</div>
				<input-error-in-form [control]='formGroup.controls.email'></input-error-in-form>
			</div>

			<!-- password -->
			<div class="col-md-6 col-xs-12">
				<div class="parent_input_password wrap-input100">
					<i class="fa fa-eye" (mouseenter)='pa.type="text"' (mouseleave)='pa.type="password"'></i>
					<input  formControlName='password' #pa class="input100" type="password" placeholder="{{'password' | translate}}">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
					<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>
				<input-error-in-form [control]='formGroup.controls.password'></input-error-in-form>
			</div>
		
			<!-- btn -->
			<div class="col-md-4 col-md-offset-4 col-xs-12 col-xs-offset-0">
				<div class="container-login100-form-btn">
					<button class="login100-form-btn" >
						{{'save' | translate}}
					</button>
				</div>
			</div>
	
		</form>
	</div>
</div>



