// --------- var ---------
$mainColor : #6edd19;
$mainHoverColor : #5fc00c;
$editIconColor: #72afd2;
$textColor : #696666;
@mixin transition($time) {
    -webkit-transition: all $time;
    -o-transition: all $time;
    -moz-transition: all $time;
    transition: all $time;
};
// --------- var ---------


// ------- main style -------
::ng-deep {
    
    // navbar
    .navbar-right.navbar-custom-menu ,
    .navbar-left.navbar-custom-menu 
    {
        margin-right: 0px !important;
    }

    .navbar-left.navbar-custom-menu a > .fa ,
    .navbar-right.navbar-custom-menu a > .fa 
    { 
        padding-right: 5px;
    }
    // ./navbar


    // content 
    section.content
    {
        
        min-height: calc(100vh - 101px);
        direction: ltr !important;
        padding:15px;

        & {
            @media (max-width: 767px){
                min-height: calc(100vh - 151px)
            }
        };

    };
    // ./content 


    // nav
    .skin-green .main-header .navbar
    {
        background: $mainColor;
    };
    .skin-green .main-header .logo:hover,
    .skin-green .main-header .navbar .dropdown-menu li a:hover ,
    .skin-green .main-header .navbar .sidebar-toggle:hover ,
    .skin-green .main-header .logo
    {
        background: $mainHoverColor;
    };
    // ./nav


};
// ------- main style -------
