<!-- wrapper -->
<div class="wrapper">

    <!-- top header -->
    <header class="main-header">

        <!-- Logo -->
        <div class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">
                {{ 'logo_mini' | translate }}
            </span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">
                {{ 'logo' | translate }}
            </span>
        </div>
        <!-- ./Logo -->

        <!-- top nav -->
        <nav class="navbar navbar-static-top">
    
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- ./Sidebar toggle button-->

            <!-- ar -->
            <div *ngIf="(style == 'rtl')" class="navbar-left navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown notifications-menu">
                        <a class="dropdown-toggle" (click)="changeLang('en')">
                            <span>
                                {{ 'lang_en' | translate }}
                            </span>
                            <i class="fa fa-language"></i>
                        </a>
                    </li>
                    <li  *ngIf="(isEmployee() || isAdmin())" class="dropdown notifications-menu">
                        <a class="dropdown-toggle" (click)='logout()'>
                            <span>
                                {{ 'sign_out' | translate }}
                            </span>
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </li>
                    <li  *ngIf="(isEmployee() || isAdmin())" class="dropdown notifications-menu">
                        <a class="dropdown-toggle" (click)='back()'>
                            <span>
                                {{ 'back' | translate }}
                            </span>
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- ar -->

            <!-- en -->
            <div *ngIf="(style == 'ltr')" class="navbar-right navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li  *ngIf="(isEmployee() || isAdmin())" class="dropdown notifications-menu">
                        <a class="dropdown-toggle" (click)='back()'>
                            <i class="fa fa-chevron-left"></i>
                            <span>
                                {{ 'back' | translate }}
                            </span>
                        </a>
                    </li>
                    <li  *ngIf="(isEmployee() || isAdmin())" class="dropdown notifications-menu">
                        <a class="dropdown-toggle" (click)='logout()'>
                            <i class="fa fa-sign-out"></i>
                            {{ 'sign_out' | translate }}
                        </a>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a class="dropdown-toggle" (click)="changeLang('ar')">
                            <i class="fa fa-language"></i>
                            <span>
                                {{ 'lang_ar' | translate }}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- en -->
  
        </nav>
        <!-- ./top nav -->

    </header>
    <!-- ./top header -->


    <!-- Left side column -->
    <aside class="main-sidebar">
        <section class="sidebar">
  
          <br>

            <!-- items -->
            <ul class="sidebar-menu" data-widget="tree">
  
                <li *ngIf="!isEmployee() && !isAdmin()" [ngClass]="{ 'active': routerLinkActive_employeeSignin.isActive}">
                    <a #routerLinkActive_employeeSignin="routerLinkActive" routerLinkActive="active"  [routerLink]="['/employee-signin']" >
                        <i class="fa fa-sign-in"></i> 
                        <span>
                            {{ 'employee_signin' | translate }}
                        </span>
                    </a>
                </li>
    
                <li *ngIf="!isEmployee() && !isAdmin()" [ngClass]="{ 'active': routerLinkActive_adminSignin.isActive}">
                    <a #routerLinkActive_adminSignin="routerLinkActive" routerLinkActive="active"  [routerLink]="['/admin-signin']" >
                        <i class="fa fa-sign-in"></i> 
                        <span>
                            {{ 'admin_signin' | translate }}
                        </span>
                    </a>
                </li>
  
                <li *ngIf="isEmployee()" [ngClass]="{ 'active': routerLinkActive_employeeProfile.isActive}">
                    <a #routerLinkActive_employeeProfile="routerLinkActive" routerLinkActive="active"  [routerLink]="['/employee-profile']" >
                        <i class="fa fa-user"></i> 
                        <span>
                                {{ 'employee_profile' | translate }}
                        </span>
                    </a>
                </li>
                <li *ngIf="isAdmin()" [ngClass]="{ 'active': routerLinkActive_viewEmployees.isActive}">
                    <a #routerLinkActive_viewEmployees="routerLinkActive" routerLinkActive="active"  [routerLink]="['/view-employees']" >
                        <i class="fa fa-users"></i>
                        <span>
                            {{ 'view_employees' | translate }}
                        </span>
                    </a>
                </li> 
                <li *ngIf="isAdmin()" [ngClass]="{ 'active': routerLinkActive_viewEmployeeGroups.isActive}">
                    <a #routerLinkActive_viewEmployeeGroups="routerLinkActive" routerLinkActive="active"  [routerLink]="['/view-employee-groups']" >
                        <i class="fa fa-object-ungroup"></i> 
                        <span>
                            {{ 'view_employee_groups' | translate }}
                        </span>
                    </a>
                </li> 
                <li *ngIf="isEmployee()" [ngClass]="{ 'active': routerLinkActive_viewCarGroups.isActive}">
                    <a #routerLinkActive_viewCarGroups="routerLinkActive" routerLinkActive="active"  [routerLink]="['/view-car-groups']" >
                        <i class="fa fa-car"></i> 
                        <span>
                            {{ 'view_car_groups' | translate }}
                        </span>
                    </a>
                </li> 
                <li *ngIf="isEmployee()" [ngClass]="{ 'active': routerLinkActive_viewcars.isActive}">
                    <a #routerLinkActive_viewcars="routerLinkActive" routerLinkActive="active"  [routerLink]="['/view-cars']" >
                        <i class="fa fa-car"></i> 
                        <span>
                            {{ 'view_cars' | translate }}
                        </span>
                    </a>
                </li> 
                <li *ngIf="isEmployee()" [ngClass]="{ 'active': routerLinkActive_viewBranches.isActive}">
                    <a #routerLinkActive_viewBranches="routerLinkActive" routerLinkActive="active"  [routerLink]="['/view-branches']" >
                        <i class="fa fa-briefcase"></i> 
                        <span>
                            {{ 'view_branches' | translate }}
                        </span>
                    </a>
                </li> 
                <li *ngIf="isEmployee()" [ngClass]="{ 'active': routerLinkActive_viewClients.isActive}">
                    <a #routerLinkActive_viewClients="routerLinkActive" routerLinkActive="active"  [routerLink]="['/view-clients']" >
                        <i class="fa fa-users"></i> 
                        <span>
                            {{ 'view_clients' | translate }}
                        </span>
                    </a>
                </li> 
                <li *ngIf="isEmployee()" [ngClass]="{ 'active': routerLinkActive_viewGuests.isActive}">
                    <a #routerLinkActive_viewGuests="routerLinkActive" routerLinkActive="active"  [routerLink]="['/view-guests']" >
                        <i class="fa fa-users"></i> 
                        <span>
                            {{ 'view_guests' | translate }}
                        </span>
                    </a>
                </li> 
                <li *ngIf="isEmployee()" [ngClass]="{ 'active': routerLinkActive_viewBookings.isActive}">
                    <a #routerLinkActive_viewBookings="routerLinkActive" routerLinkActive="active"  [routerLink]="['/view-bookings']" >
                        <i class="fa fa-ticket"></i> 
                        <span>
                            {{ 'view_bookings' | translate }}
                        </span>
                    </a>
                </li> 
                <li *ngIf="isEmployee()" [ngClass]="{ 'active': routerLinkActive_addCarType.isActive}">
                    <a #routerLinkActive_addCarType="routerLinkActive" routerLinkActive="active"  [routerLink]="['/car-types/add-car-type']" >
                        <i class="fa fa-car"></i> 
                        <span>
                            {{ 'add_car_type' | translate }}
                        </span>
                    </a>
                </li> 
                <li *ngIf="isEmployee()" [ngClass]="{ 'active': routerLinkActive_addCarModel.isActive}">
                    <a #routerLinkActive_addCarModel="routerLinkActive" routerLinkActive="active"  [routerLink]="['/car-types/add-car-model']" >
                        <i class="fa fa-car"></i> 
                        <span>
                            {{ 'add_car_model' | translate }}
                        </span>
                    </a>
                </li> 

              
              
  
          </ul>
          <!-- items -->

        </section>
    </aside>
    <!-- ./Left side column -->
    
    <!-- content-wrapper -->
    <div class="content-wrapper" style="position: relative;">
      
        <!-- loading -->
        <app-loading></app-loading>
        <!-- ./loading -->
        
        <!-- scroll -->
        <scroll-top-btn></scroll-top-btn>
        <!-- ./scroll -->

        <section class="content">
            <!-- router -->
            <router-outlet></router-outlet> 
            <!-- ./router -->
        </section>
  
    </div>
    <!-- /.content-wrapper -->
  
    <!-- footer -->
    <footer class="main-footer text-center">
        <strong [innerHTML]="'copyright' | translate"> </strong> 
    </footer>
    <!-- ./footer -->
  
</div>
<!-- ./wrapper -->
  
  
  
  
