<div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollUpDistance]="2" 
    [infiniteScrollThrottle]="50"
    (scrolled)="scroll()"
>

    <div class="panel panel-default">

        <!-- head -->
        <div class="custom-head panel-heading">
            <div class="ui-helper-clearfix">
                <div class="ui-g" style="padding: 0">
                
                    <div class="ui-md-3 ui-g-12 center-child-in-phone">
                        <select-one
                            [(ngModel)]="sortByModel"
                            icon='fa-sort'     
                            [options]='sortByOptions'   
                            (onChange)='reset()'  
                            [placeholder]="'sort_by' | translate"  
                            [disabled]='searchMode'
                        >
                        </select-one>
                    </div>

                    <div *ngIf="(!useSearch) || (!useFilter)" class="ui-g-0 ui-md-1"></div>

                    <div *ngIf="useFilter" class="ui-md-4 ui-g-12 center-child-in-phone">
                        <select-one
                            [disabled]='searchMode'
                            [(ngModel)]="filterByModel"
                            [icon]='filterByIcon'     
                            [options]='_filterByOptions'   
                            (onChange)='reset()'  
                            [placeholder]="filterByTitle"      
                        >
                        </select-one>
                    </div>

                    <div *ngIf="useSearch" class="ui-md-3 center-child-in-phone ui-g-12 ">
                        <div class="parent-search">
                            <input [(ngModel)]="searchModel" type="text" (keyup.enter)="clickSearch()" pInputText [placeholder]="'search' | translate" >
                            <button pButton class="search-btn" type="button" icon="fa fa-search"  (click)="clickSearch()" ></button>
                            <button pButton *ngIf="searchMode" class="search-close-btn" type="button" icon="fa fa-close" (click)='closeSearch()'></button>
                        </div>
                    </div>

                    <div *ngIf="(!useSearch) || (!useFilter)" class="ui-g-0 ui-md-3"></div>

                    <div *ngIf="displayLink" class="center-child-in-phone ui-g-12 ui-md-2">
                        <app-btn
                            [routerLink]="linkUrl" 
                            [label]='linkLabel'
                        >
                        </app-btn>
                    </div>

                </div>
            </div>
        </div>
        <!-- ./head -->

        <div class="panel-body">
            <!-- custom-data-view style -->
           <ng-content></ng-content>
        </div>  

        <!-- footer -->
        <div style="border-bottom: 0;" class="panel-footer">
            <div [hidden]='!loading'>
                <div  class="ui-g center-child-in-laptop">
                    <div class="loading-one"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>

            <div [hidden]='loading'>
                <div [hidden]='0' class="ui-g center-child-in-laptop parent-bottom-length-title">
                    <p class="lead bottom-length-title-text">
                        {{ bottomLengthTitle }} 
                    </p>
                    <p class="lead" [innerHTML]='"( " + itemsCount + " )" '></p>
                </div>
            </div>
        </div>
        <!-- ./footer -->

    </div>

</div>