// --------- var ---------
$mainColor : #fac12f;
$mainHoverColor : #e6af21;
$textColor : #696666;
@mixin transition($time) {
    -webkit-transition: all $time;
    -o-transition: all $time;
    -moz-transition: all $time;
    transition: all $time;
};
// --------- var ---------


// ------- main style -------
::ng-deep panel-heading-in-profile {
    h2 
    {
        color: $textColor !important;
        font-size: 16px;
        font-weight: 600;
        position: relative;
    }
    h2 .fa-trash
    {
        position: absolute;
        top : -2px;
        font-size: 21px;
        color: red;
        cursor: pointer;
    }
    h2 .fa.restore
    {
        position: absolute;
        top : -2px;
        font-size: 21px;
        color: $mainHoverColor;
        cursor: pointer;
    }

    h2 div.parent-panel-heading-in-profile {
        position: relative;
        display: inline-block;
    }

    h2 .panel-heading-in-profile-online-icon {
        font-size: 12px;
        top: 3px;
        position: absolute;
    }

}
// ------- main style -------


// ------- en style -------
::ng-deep .style-ltr panel-heading-in-profile {
    h2 .panel-heading-in-profile-online-icon {
        left: -16px;
    }
    h2 .fa-trash,
    h2 .fa.restore
    {
        left: 0;
    }
}
// ------- en style -------

// ------- ar style -------
::ng-deep .style-rtl panel-heading-in-profile {
    h2 .panel-heading-in-profile-online-icon {
        right: -16px;
    }
    h2 div.parent-panel-heading-in-profile {
        direction: rtl;
    }
    h2 .fa-trash,
    h2 .fa.restore
    {
        right: 0;
    }

}
// ------- ar style -------

 