
<custom-data-view
    (onLazyLoad)='onLazyLoad($event)'
    
    [useSearch]='true'
    [useFilter]='false'

    (onReset)='onReset($event)'

    [loading]='loading'
    [itemsCount]='employeeGroups.length | numEnToAr'
    [bottomLengthTitle]="'employee_groups_count' | translate"

    [displayLink]='true'
    [linkUrl]="['/view-employee-groups/add-employee-group']"
    [linkLabel]="'add' | translate"
>
    <!-- content -->
    <div *ngFor="let item of employeeGroups" class="ui-g parent-in-custom-data-view" >
        <div class="ui-g-12">

            <!-- employeeGroup -->
            <div class="ui-g item-in-custom-data-view">

                <div class="ui-g-12">
                    <i class="fa fa-object-ungroup"></i>
                    <strong>
                        {{'name' | translate}} :
                    </strong>
                    <span>
                        {{ item | getValueByLang:"nameEn,nameAr"  }}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-briefcase"></i>
                    <strong>
                        {{'branches' | translate}} :
                    </strong>
                    <span [innerHTML]='item.branches | showBranches'>
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-desktop"></i>
                    <strong>
                        {{'screens' | translate}} :
                    </strong>
                    <span [innerHTML]='item.screens | showScreens'>
                    </span>
                </div>

                

                <button *ngIf="item.deleted" class="item-btn-deleted item-btn-2" tooltipPosition="top" 
                    [pTooltip]="'deleted' | translate" 
                    pButton type="button" icon="fa fa-times" >
                </button>
                <button *ngIf="!item.deleted" class="item-btn-not-deleted item-btn-2" tooltipPosition="top" 
                    [pTooltip]="'not_deleted' | translate" 
                    pButton type="button" icon="fa fa-times" >
                </button>

                <button class="item-btn" tooltipPosition="top" 
                    [pTooltip]="'view_employee_group' | translate" 
                    [routerLink]="['/view-employee-groups' , item._id]" 
                    pButton type="button" icon="fa fa-object-ungroup" >
                </button>

            </div>
            <!-- ./employeeGroup -->
                                                    
        </div>
    </div>
    <!-- ./content    -->

</custom-data-view>

