
<div class="copyw3-agile">
<div class="container">  
    <div class="w3_agile_social_icons footer-w3icons">
    <ul>
        <li><a target="_blank" href="{{'_contact_facebook' | translate}}" class="icon icon-cube agile_facebook"></a></li>
        <li><a target="_blank" href="{{'_contact_instagram' | translate}}" class="icon icon-cube agile_instagram"></a></li>
        <li><a target="_blank" href="{{'_contact_twitter' | translate}}" class="icon icon-cube agile_t"></a></li>
    </ul>
    </div> 
    <p>Copyright &copy; 2017-2018  m-alsafi</p>
</div>
</div>


