$mainColor : #6edd19;
$mainHoverColor : #5fc00c;
$editIconColor: #72afd2;
$textColor : #696666;
@mixin transition($time) {
    -webkit-transition: all $time;
    -o-transition: all $time;
    -moz-transition: all $time;
    transition: all $time;
};

::ng-deep {

    // en
    // .style-ltr employee-online-statistics .employee-online-statistics-parent-of-control
    // {
        
    // }

    // ar
    .style-rtl employee-online-statistics .employee-online-statistics-parent-of-control
    {
        direction: rtl;
    }

};