
<!-- Statistics -->
<div style="margin-top: 15px;" class="panel panel-default">

    <div class="panel-heading">
        <panel-heading-in-profile
            [name]="'online_statistics' | translate"
            [deleted]='0'
            [displayControl]='false'
            [canDelete]='false'
            [canRestore]='false'
        >
        </panel-heading-in-profile>
    </div>

    <div style="width: 100%;" class="panel-body">
        
        <div class="panel panel-default">
         
            <div class="panel-heading">
                <!-- Control -->
                <div class="row-eq-height employee-online-statistics-parent-of-control row">

                    <div class="ui-g-12 ui-md-4 center-child-in-phone">
                        <select-one
                            [disabled]='false'
                            [(ngModel)]="yearModel"
                            icon='fa-calendar'     
                            [options]='yearOptions'     
                            [placeholder]="'choose_year' | translate"  
                            (onChange)='getThisEmployeeTimeStatistics()'
                        >
                        </select-one>
                    </div>
                    
                    <div class="ui-g-0 ui-md-1"></div>

                    <div class="ui-g-12 ui-md-4 center-child-in-phone">
                        <select-one
                            [disabled]='false'
                            [(ngModel)]="monthModel"
                            icon='fa-calendar'     
                            [options]='monthOptions'     
                            [placeholder]="'choose_month' | translate"   
                            (onChange)='getThisEmployeeTimeStatistics()'
                        >
                        </select-one>
                    </div>

                </div>
                <!-- ./Control -->
            </div>

            <div style="width: 100%;" class="panel-body">
                <!-- chart -->
                <chart-statistics
                    [dataPoints]='dataPoints'
                    [loading]='chartStatisticsLoading'
                    elementId='EmployeeProfileChartStatistics'
                ></chart-statistics>
                <!-- ./chart -->
            </div>

        </div>


    </div>
    
</div>
<!-- ./Statistics -->