<custom-data-view
    (onLazyLoad)='onLazyLoad($event)'

    [filterByOptions]='carGroupsCanThisEmployeeAccessFilterOptions'
    [filterByTitle]="'all_car_groups' | translate"
    filterByIcon="fa-car"

    [useSearch]='true'
    [useFilter]='true'

    (onReset)='onReset($event)'

    [loading]='loading'
    [itemsCount]='cars.length | numEnToAr'
    [bottomLengthTitle]="'cars_count' | translate"

    [displayLink]='canAddCar'
    [linkUrl]="['/view-cars/add-car']"
    [linkLabel]="'add' | translate"
>
    <!-- content -->
    <div *ngFor="let item of cars" class="ui-g parent-in-custom-data-view" >
        
        <div class="ui-g-12">

            <!-- carGroup -->
            <div class="ui-g item-in-custom-data-view">
                
                <div class="ui-g-12">
                    <i class="fa fa-id-card"></i>
                    <strong>
                        {{'plate_number' | translate}} :
                    </strong>
                    <span>
                        {{ item.plateNumber }}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-car"></i>
                    <strong>
                        {{'car_type' | translate}} :
                    </strong>
                    <span>
                        {{ item.carGroup.carType | getValueByLang:"nameEn,nameAr"  }}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-car"></i>
                    <strong>
                        {{'car_model' | translate}} :
                    </strong>
                    <span>
                        {{ item.carGroup.carModel | getValueByLang:"nameEn,nameAr"  }}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-briefcase"></i>
                    <strong>
                        {{'the_branch' | translate}} :
                    </strong>
                    <span>
                        {{ item.carGroup.branch | getValueByLang:"nameEn,nameAr"  }}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-certificate"></i>
                    <strong>
                        {{'status' | translate}} :
                    </strong>
                    <span [innerHTML]='getCarStatus(item.status)'>
                    </span>
                </div>



                <button *ngIf="item.deleted" class="item-btn-deleted item-btn-4" tooltipPosition="top" 
                    [pTooltip]="'deleted' | translate" 
                    pButton type="button" icon="fa fa-times" >
                </button>
                <button *ngIf="!item.deleted" class="item-btn-not-deleted item-btn-4" tooltipPosition="top" 
                    [pTooltip]="'not_deleted' | translate" 
                    pButton type="button" icon="fa fa-times" >
                </button>

                <button class="item-btn item-btn-3" tooltipPosition="top" 
                    [pTooltip]="'view_branch' | translate" 
                    [routerLink]="['/view-branches' , item.carGroup.branch._id]" 
                    pButton type="button" icon="fa fa-briefcase" >
                </button>

                <button class="item-btn" tooltipPosition="top" 
                    [pTooltip]="'view_car' | translate" 
                    [routerLink]="['/view-cars' , item._id]" 
                    pButton type="button" icon="fa fa-car" >
                </button>

                <button class="item-btn item-btn-2" tooltipPosition="top" 
                    [pTooltip]="'view_car_group' | translate" 
                    [routerLink]="['/view-car-groups' , item.carGroup._id]" 
                    pButton type="button" icon="fa fa-car" >
                </button>

            </div>
            <!-- carGroup -->
                                                    
        </div>

    </div>
    <!-- ./content    -->

</custom-data-view>

