<div class="view-profile-any-thing">
    <div class="row" *ngIf="employee">  
        <div class="col-md-12">
            
            <!-- employee -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <panel-heading-in-profile
                        [name]='employee.name'
                        [deleted]='employee.deleted'
                        
                        [displayIsOnline]='true'
                        [isOnline]='true'

                        [displayControl]='false'
                        [canDelete]='false'
                        [canRestore]='false'
                    >
                    </panel-heading-in-profile>
                </div>

                <div class="panel-body">

                    <ul class="list-group">
                        
                        <input-text-in-profile
                            [displayControl]='true' [edit]='edit.name'

                            fieldName='name' [value]='employee.name' 
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpEmployeeModel.name'
                            [requiredErrorEnum]='name_required'
                            [invalidErrorEnum]='name_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'name' | translate"
                            icon='fa fa-user'

                            editNameInEvent='name'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-text-in-profile>

                        <input-text-in-profile
                            [displayControl]='true' [edit]='edit.email'

                            fieldName='email' [value]='employee.email' 
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpEmployeeModel.email'
                            [requiredErrorEnum]='email_required'
                            [invalidErrorEnum]='email_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'email' | translate"
                            icon='fa fa-envelope'

                            editNameInEvent='email'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-text-in-profile>

                        <input-password-in-profile
                            [displayControl]='true' [edit]='edit.password'

                            fieldName='password'
                            (onSave)='onSaveEditPassword($event)'

                            [RegExp]='RegExpEmployeeModel.password'
                            [requiredErrorEnum]='password_required'
                            [invalidErrorEnum]='password_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'password' | translate"
                           
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-password-in-profile>

                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            fieldName='employeeGroup' [value]='employee.employeeGroup | getValueByLang:"nameEn,nameAr"'

                            [displayName]="'employee_group' | translate"
                            icon='fa fa-object-ungroup'
                        ></input-text-in-profile>

                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            fieldName='createdAt' [value]='employee.createdAt | timeAgo'

                            [displayName]="'created_at' | translate"
                            icon='fa fa-sign-in'
                        ></input-text-in-profile>

                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            fieldName='updatedAt' [value]='employee.updatedAt | timeAgo'

                            [displayName]="'updated_at' | translate"
                            icon='fa fa-pencil'
                        ></input-text-in-profile>

                    </ul>

                </div>
            </div>
            <!-- ./employee -->

            <!-- employee-online-statistics -->
            <div style="margin-top: 15px;">
                <employee-online-statistics
                    [isAdmin]='false'
                >
                </employee-online-statistics>
            </div>
            <!-- ./employee-online-statistics -->

            <!-- employee-actions -->
            <div style="margin-top: 15px;">
                <employee-actions
                    [isAdmin]='false'
                >
                </employee-actions>
            </div>
            <!-- ./employee-actions -->

        </div>
    </div>
</div> 



