// --------- var ---------
$mainColor : #6edd19;
$mainHoverColor : #5fc00c;
$editIconColor: #72afd2;
$textColor : #696666;
@mixin transition($time) {
    -webkit-transition: all $time;
    -o-transition: all $time;
    -moz-transition: all $time;
    transition: all $time;
};
// --------- var ---------


// ------- main style -------
::ng-deep image-slider {
    .slideshow-parent {
        position: relative;
    }
    
    .slideshow-parent button.delete-image:active,
    .slideshow-parent button.delete-image:focus,
    .slideshow-parent button.open-image:active,
    .slideshow-parent button.open-image:focus
    {
        background: $mainColor;
        border-color: $mainColor;
    }
    .slideshow-parent button.open-image,
    .slideshow-parent button.delete-image
    {
        position: absolute;
        top: 5px;
        background: $mainColor;
        border-color: $mainColor;
        height: 30px;
        width: 35px;
        z-index: 101;
        &:hover {
            background: $mainHoverColor !important;
            border-color: $mainHoverColor !important;
        }
        .fa-trash ,
        .fa-search-plus
        {
            color: #fff;
            font-size: 18px
        }
    };

    .upload-image-parent {
        padding-top: 16px;

        p-fileUpload span.ui-fileupload-choose {
            padding: 3px;
            font-size: 15px;
            background: $mainColor;
            border-color: $mainColor;
            &:hover {
                background: $mainHoverColor !important;
                border-color: $mainHoverColor !important;
            }

            .ui-button-icon-left.pi.pi-plus {
                top: 52%;
            }
        }
    }

    .slick-dots li button::before
    {
        width: 7px !important;
        height: 7px !important;
        border-radius: 7px !important;
        color: $mainHoverColor !important;
        background: $mainHoverColor !important;
    }

    .slides {
        background-color: transparent !important;
    };
}
// ------- main style -------


// ------- en style -------
::ng-deep .style-ltr image-slider {
    .slideshow-parent button.open-image-position-2 {
        right: 70px;
    }
    .slideshow-parent button.open-image-position-1 {
        right: 25px;
    }
    .slideshow-parent button.delete-image {
        right: 25px;
    }
}
// ------- en style -------


// ------- ar style -------
::ng-deep .style-rtl image-slider {
    .slideshow-parent button.open-image-position-2 {
        left: 70px;
    }
    .slideshow-parent button.open-image-position-1 {
        left: 25px;
    }
    .slideshow-parent button.delete-image {
        left: 25px;
    }
}
// ------- ar style -------



::ng-deep .image-slider-zoom {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    z-index: 10002; 
    background: rgba(0, 0, 0, 0.88);

    & > div {
        width: auto;
        max-height: 70vh;
        min-height: 90vh;
    }
    & > div > img {
        max-height: 70vh;
        min-height: 90vh;
        border-radius: 10px;
    }

    & > div > .fa-times {
        font-size: 30px;
        color: $mainColor;
        right: 40px;
        top: 40px;
        position: fixed;
        @include transition(0.4s);
        cursor: pointer;
    };

    & > div > .fa-times:hover {
        transform: scale(1.3);
        color: $mainHoverColor;
    }

}