
<custom-data-view2
    (onLazyLoad)='onLazyLoad($event)'
    
    [filterBy1Options]='branchesCanThisEmployeeAccessFilterOptions'
    [filterBy1Title]="'all_branches' | translate"
    filterBy1Icon="fa-briefcase"

    [filterBy2Options]='carTypesFilterOptions'
    [filterBy2Title]="'all_car_types' | translate"
    filterBy2Icon="fa-car"

    (onReset)='onReset($event)'

    [loading]='loading'
    [itemsCount]='carGroups.length | numEnToAr'
    [bottomLengthTitle]="'car_groups_count' | translate"

    [displayLink]='canAddCarGroup'
    [linkUrl]="['/view-car-groups/add-car-group']"
    [linkLabel]="'add' | translate"
>
    <!-- content -->
    <div *ngFor="let item of carGroups" class="ui-g parent-in-custom-data-view" >
        
        <div class="parent-of-image hidden-xs" style="margin-top: 5px;">
            <img 
                [routerLink]="['/view-car-groups' , item._id]" 
                onError="this.src='/assets/images/no-image.png'" 
                [src]="item.images[0] ? imageUrl + item.images[0] : '/assets/images/no-image.png'" class="img-responsive" 
                alt="Image"
            >
        </div>
        
        <div class="ui-g-9 ui-sm-12">

            <!-- carGroup -->
            <div class="ui-g item-in-custom-data-view">

                <div class="ui-g-12">
                    <i class="fa fa-tachometer"></i>
                    <strong>
                        {{'the_cars_count' | translate}} :
                    </strong>
                    <span [innerHTML]='item.carsCount | carLength'></span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-car"></i>
                    <strong>
                        {{'car_type' | translate}} :
                    </strong>
                    <span>
                        {{ item.carType | getValueByLang:"nameEn,nameAr"  }}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-car"></i>
                    <strong>
                        {{'car_model' | translate}} :
                    </strong>
                    <span>
                        {{ item.carModel | getValueByLang:"nameEn,nameAr"  }}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-briefcase"></i>
                    <strong>
                        {{'the_branch' | translate}} :
                    </strong>
                    <span>
                        {{ item.branch | getValueByLang:"nameEn,nameAr"  }}
                    </span>
                </div>


                <button *ngIf="item.deleted" class="item-btn-deleted item-btn-2" tooltipPosition="top" 
                    [pTooltip]="'deleted' | translate" 
                    pButton type="button" icon="fa fa-times" >
                </button>
                <button *ngIf="!item.deleted" class="item-btn-not-deleted item-btn-2" tooltipPosition="top" 
                    [pTooltip]="'not_deleted' | translate" 
                    pButton type="button" icon="fa fa-times" >
                </button>

                <button class="item-btn" tooltipPosition="top" 
                    [pTooltip]="'view_car_group' | translate" 
                    [routerLink]="['/view-car-groups' , item._id]" 
                    pButton type="button" icon="fa fa-car" >
                </button>

            </div>
            <!-- carGroup -->
                                                    
        </div>

    </div>
    <!-- ./content    -->

</custom-data-view2>

