<div class="router-outlet-content __custom-data-view__">
  <div class="container">

    <div class="panel panel-default">
      
        <!-- head -->
        <div class="panel-heading">
         
          <div class="row">
            <div class="calendar-input col-md-4 col-md-offset-2">
                <p-calendar 
                  [showIcon]="true" 
                  [placeholder]="'pick_up_date' | translate" 
                  dateFormat="yy-mm-dd" 
                  [(ngModel)]="pickUpDateModel"
                  [minDate]='minDateForPickUpDate'
                  [maxDate]='maxDateForPickUpDate'
                  (onSelect)='onSelectPickUpDate()'
                ></p-calendar>
            </div>
            <div class="calendar-input col-md-4">
                <p-calendar 
                  [showIcon]="true" 
                  [placeholder]="'return_date' | translate" 
                  dateFormat="yy-mm-dd" 
                  [(ngModel)]="returnDateModel"
                  [minDate]='minDateForReturnDate'
                  (onSelect)='onSelectReturnDate()'
                ></p-calendar>
            </div>
          </div>

          <div class="row" style="padding-top:10px;padding-bottom:5px">
            <div class="col-md-4 col-md-offset-4">
              <select-one
                [placeholder]="'all_cities' | translate"
                icon='fa fa-user'
                [options]='citiesOptions'
                [(ngModel)]="cityModel"
                (onChange)='onSelectCity()'
              ></select-one>
            </div>
          </div>

          <div *ngIf="isRequiredOptionsExists" class="row" style="padding-top:10px;padding-bottom:5px">
            <div class="col-md-3">
              <select-one
                [placeholder]="'all_branches' | translate"
                icon='fa fa-briefcase'
                [options]='branchesOptions'
                [(ngModel)]="branchModel"
                (onChange)='start()'
              ></select-one>
            </div>
            <div class="col-md-3">
              <select-one
                [placeholder]="'all_years' | translate"
                icon='fa fa-calendar'
                [options]='yearsOptions'
                [(ngModel)]="yearModel"
                (onChange)='start()'
              ></select-one>
            </div>
            <div class="col-md-3">
              <select-one
                [placeholder]="'all_cars_types' | translate"
                icon='fa fa-car'
                [options]='carTypesOptions'
                (onChange)='onSelectCarType()'
                [(ngModel)]="carTypeModel"
                (onChange)='start()'
              ></select-one>
            </div>
            <div class="col-md-3">
              <select-one
                [placeholder]="'all_cars_models' | translate"
                icon='fa fa-car'
                [options]='carModelsOptions'
                [(ngModel)]="carModelModel"
                (onChange)='start()'
              ></select-one>
            </div>
          </div>
          
        </div>
        <!-- ./head -->


        <div style="overflow: hidden;" class="panel-body">
          <div class="main"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollUpDistance]="2" 
            [infiniteScrollThrottle]="50"
            (scrolled)="onLazyLoad()"
          >
  
            <!-- content -->
            <div *ngFor="let item of carGroups" class="ui-g parent-in-custom-data-view" >
              
              <div class="parent-of-image ui-sm-12" style="margin-top: 35px;">
                  <img 
                    [routerLink]="['/view-car-groups' , item._id]"  
                    onError="this.src='/assets/images/no-image.png'" 
                    [src]="item.images[0] ? imageUrl + item.images[0] : '/assets/images/no-image.png'" class="img-responsive" 
                    alt="Image"
                  >
              </div>

              <div class="ui-g-9 ui-sm-12">

                <!-- carGroup -->
                <div class="ui-g item-in-custom-data-view">

                  <div class="ui-g-12">
                      <i class="fa fa-car"></i>
                      <strong>
                          {{ item.carType | getValueByLang:'nameEn,nameAr' }} - 
                          {{ item.carModel | getValueByLang:'nameEn,nameAr'}} -
                          <span [innerHTML]='item.year | numEnToAr'></span>
                      </strong>
                  </div>

                  <div class="ui-g-12">
                      <i class="fa fa-briefcase"></i>
                      <strong>
                          {{'branch' | translate}} :
                      </strong>
                      <span>
                          {{ item.branch | getValueByLang:"nameEn,nameAr"  }}
                      </span>
                  </div>

                  <div class="ui-g-12">
                    <i class="fa fa-eye"></i>
                    <strong>
                        {{'views' | translate}} :
                    </strong>
                    <span [innerHTML]='item.views | numEnToAr'>
                    </span>
                  </div>

                  <div class="ui-g-12">
                    <i class="fa fa-usd"></i>
                    <strong>
                        {{'price' | translate}} :
                    </strong>
                    <span [innerHTML]='item.pricePerDay | numEnToAr'>
                    </span>
                  </div>

                  <div class="ui-g-12">
                    <i class="fa fa-usd"></i>
                    <strong>
                        {{'discount' | translate}} :
                    </strong>
                    <span [innerHTML]='item.discountPerDay | numEnToAr'>
                    </span>
                  </div>

                  <div class="ui-g-12">
                    <i class="fa fa-usd"></i>
                    <strong>
                        {{'days_count' | translate}} :
                    </strong>
                    <span [innerHTML]='getDaysCount() | numEnToAr'>
                    </span>
                  </div>


                  <div class="ui-g-12">
                    <i class="fa fa-usd"></i>
                    <strong>
                        {{'total_price' | translate}} :
                    </strong>
                    <span [innerHTML]='getTotlaPrice(item.pricePerDay ,item.discountPerDay ) | numEnToAr'>
                    </span>
                  </div>

                  <button class="item-btn" tooltipPosition="top" 
                    [pTooltip]="'view_car_group' | translate" 
                    [routerLink]="['/view-car-groups' , item._id]"  
                    pButton type="button" icon="fa fa-car" >
                  </button>
  

                </div>

                  <!-- carGroup -->
              </div>


            </div>
            <!-- ./content    -->


          </div>
        </div>


        <!-- footer -->
        <div *ngIf="isRequiredOptionsExists"  style="border-bottom: 0;" class="panel-footer">
            <div [hidden]='!loading'>
                <div  class="ui-g center-child-in-laptop">
                    <div class="loading-one"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>

            <div [hidden]='loading'>
                <div [hidden]='0' class="ui-g center-child-in-laptop parent-bottom-length-title">
                    <p class="lead bottom-length-title-text"> {{ 'car_groups_count' | translate }} </p>
                    <p class="lead" [innerHTML]='"( " + ((carGroups.length||0) | numEnToAr) + " )"'></p>
                </div>
            </div>
        </div>
        <!-- ./footer -->

    </div>

  </div>
</div> 
