// --------- var ---------
$mainColor : #fac12f;
$mainHoverColor : #e6af21;
$textColor : #696666;
@mixin transition($time) {
    -webkit-transition: all $time;
    -o-transition: all $time;
    -moz-transition: all $time;
    transition: all $time;
};
// --------- var ---------

::ng-deep .calendar-input {

  padding-top:5px;
  padding-bottom: 5px;

  p-calendar > span {
    width: 100%;

    & > .ui-datepicker-trigger {
      border-radius: 0px 22px 22px 0px;
      padding-right: 35px;
      background: $mainColor;
      border-color: $mainColor;

      &:hover {
        background: $mainHoverColor !important;
        border-color: $mainHoverColor !important;
      }

    }
  };

  input {
    width: 90%;
    padding: 10px;
    border-radius: 22px;
  };

  .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active {
    background: $mainColor !important;  
  }; 


};


// ar
::ng-deep .style-rtl {
  .parent-bottom-length-title {
    direction: rtl;
  }

  .calendar-input input {
    text-align: right;
  }
}

.parent-bottom-length-title p {
  margin-bottom: 0px;

  &.bottom-length-title-text {
    padding-left: 5px; 
    padding-right: 5px; 
  }
}

.panel {
  margin-bottom: 0px;
};

.panel-heading {
  border-bottom : 0;
};
