<div class="view-profile-any-thing" *ngIf="booking">

    <div class="row" >  
        <div class="col-md-12">
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <panel-heading-in-profile
                        [name]="carGroupTitle"
                        [deleted]='booking.deleted'
                        
                        [displayIsOnline]='false'

                        [displayControl]='true'
                        [canDelete]='canDeleteBooking'
                        [canRestore]='canRestoreBooking'

                        (onDelete)='delete()'
                        (onRestore)='restore()'
                    >
                    </panel-heading-in-profile>
                </div>

                <div class="panel-body">

                    <ul class="list-group">
                        
                        <!-- car -->
                        <input-select-one-in-profile
                            [displayControl]='canEditBooking && booking.bookingType == 2' [edit]='edit.car_id'

                            [placeholder]='"edit" | translate'
                            fieldName='car_id' [fieldValue]='booking?.car?.plateNumber || ("car_not_found" | translate)'
                            [value]='booking?.car?._id'
                            (onSave)='onEditCar($event)'

                            [RegExp]='RegExpCarModel._id'
                            [requiredErrorEnum]='car_id_required'
                            [invalidErrorEnum]='car_id_invalid'
                            (onValidationError)='onValidationError($event)'

                            [options]='carsOptions'

                            [displayName]="'the_car' | translate"
                            icon='fa fa-car'

                            editNameInEvent='car_id'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'

                            [displayLink]='!!booking?.car'
                            [linkLabel]="'view_car' | translate"
                            [linkUrl]="['/view-cars' , booking?.car?._id]" 
                        ></input-select-one-in-profile>

                        <!-- pickUpDate -->
                        <input-calendar-in-profile
                            [displayControl]='canEditBooking' [edit]='edit.pickUpDate'

                            fieldName='pickUpDate' 
                            [fieldValue]='booking.pickUpDate | date:"yyyy-MM-dd"' 
                            [value]='booking.pickUpDate' 
                            (onSave)='onEditDate($event)'

                            [RegExp]='RegExpBookingModel.pickUpDate'
                            [requiredErrorEnum]='pickUpDate_required'
                            [invalidErrorEnum]='pickUpDate_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'pick_up_date' | translate"
                            icon='fa fa-calendar'

                            editNameInEvent='pickUpDate'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-calendar-in-profile>

                        <!-- pickUpDate hijri -->
                        <input-calendar-hijri-in-profile
                            [displayControl]='canEditBooking' [edit]='edit.pickUpDate_hijri'

                            fieldName='pickUpDate' 
                            [fieldValue]='booking.pickUpDate' 
                            [value]='booking.pickUpDate' 
                            (onSave)='onEditDate($event)'

                            [RegExp]='RegExpBookingModel.pickUpDate'
                            [requiredErrorEnum]='pickUpDate_required'
                            [invalidErrorEnum]='pickUpDate_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'pick_up_date_hijri' | translate"
                            icon='fa fa-calendar'

                            editNameInEvent='pickUpDate_hijri'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-calendar-hijri-in-profile>
 
                        <!-- returnDate -->
                        <input-calendar-in-profile
                            [displayControl]='canEditBooking' [edit]='edit.returnDate'

                            fieldName='returnDate' 
                            [fieldValue]='booking.returnDate | date:"yyyy-MM-dd"' 
                            [value]='booking.returnDate' 
                            (onSave)='onEditDate($event)'

                            [RegExp]='RegExpBookingModel.returnDate'
                            [requiredErrorEnum]='returnDate_required'
                            [invalidErrorEnum]='returnDate_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'return_date' | translate"
                            icon='fa fa-calendar'

                            editNameInEvent='returnDate'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-calendar-in-profile>

                        <!-- returnDate hijri-->
                        <input-calendar-hijri-in-profile
                            [displayControl]='canEditBooking' [edit]='edit.returnDate_hijri'

                            fieldName='returnDate' 
                            [fieldValue]='booking.returnDate' 
                            [value]='booking.returnDate' 
                            (onSave)='onEditDate($event)'

                            [RegExp]='RegExpBookingModel.returnDate'
                            [requiredErrorEnum]='returnDate_required'
                            [invalidErrorEnum]='returnDate_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'return_date_hijri' | translate"
                            icon='fa fa-calendar'

                            editNameInEvent='returnDate_hijri'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-calendar-hijri-in-profile>

                        <!-- expiredAt -->
                        <input-calendar-in-profile
                            [displayControl]='canEditBooking && (booking.bookingType == 2)' [edit]='edit.expiredAt'

                            fieldName='expiredAt' 
                            [fieldValue]='booking.expiredAt | date:"yyyy-MM-dd hh:mm a"' 
                            [value]='booking.expiredAt' 
                            (onSave)='onEditExpiredAt($event)'

                            [RegExp]='RegExpBookingModel.expiredAt'
                            [requiredErrorEnum]='expiredAt_required'
                            [invalidErrorEnum]='expiredAt_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'expired_at' | translate"
                            icon='fa fa-calendar'

                            editNameInEvent='expiredAt'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'

                            [showTime]='true'
                        ></input-calendar-in-profile>

                        <!-- expiredAt hijri-->
                        <input-calendar-hijri-in-profile
                            [displayControl]='canEditBooking && (booking.bookingType == 2)' [edit]='edit.expiredAt_hijri'

                            fieldName='expiredAt' 
                            [fieldValue]='booking.expiredAt' 
                            [extraFieldValue]='booking.expiredAt | date:"hh:mm a"'
                            [fieldValue]='booking.expiredAt' 
                            [value]='booking.expiredAt' 
                            (onSave)='onEditExpiredAt($event)'

                            [RegExp]='RegExpBookingModel.expiredAt'
                            [requiredErrorEnum]='expiredAt_required'
                            [invalidErrorEnum]='expiredAt_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'expired_at_hijri' | translate"
                            icon='fa fa-calendar'

                            editNameInEvent='expiredAt_hijri'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'

                            [showTime]='true'
                        ></input-calendar-hijri-in-profile>

                        <!-- daysCount -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [fieldValue]='booking.daysCount | numEnToAr'

                            [displayName]="'days_count' | translate"
                            icon='fa fa-calendar'
                        ></input-text-in-profile>
                        
                        <!-- pricePerDay -->
                        <input-text-in-profile
                            [displayControl]='canEditBooking' [edit]='edit.pricePerDay'

                            fieldName='pricePerDay' 
                            [value]='booking.pricePerDay' 
                            [fieldValue]='(booking.pricePerDay | numEnToAr)  + " $ "' 
                            (onSave)='onEditPricePerDay($event)'

                            [RegExp]='RegExpBookingModel.pricePerDay'
                            [requiredErrorEnum]='pricePerDay_required'
                            [invalidErrorEnum]='pricePerDay_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'price_per_day' | translate"
                            icon='fa fa-usd'

                            editNameInEvent='pricePerDay'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-text-in-profile>

                        <!-- discountPerDay -->
                        <input-text-in-profile
                            [displayControl]='canEditBooking' [edit]='edit.discountPerDay'

                            fieldName='discountPerDay' 
                            [value]='booking.discountPerDay' 
                            [fieldValue]='(booking.discountPerDay | numEnToAr) + " $ "' 
                            (onSave)='onEditDiscountPerDay($event)'

                            [RegExp]='RegExpBookingModel.discountPerDay'
                            [requiredErrorEnum]='discountPerDay_required'
                            [invalidErrorEnum]='discountPerDay_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'discount_per_day' | translate"
                            icon='fa fa-usd'

                            editNameInEvent='discountPerDay'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-text-in-profile>

                        <!-- total -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [fieldValue]='(booking.total | numEnToAr)  + " $ "'

                            [displayName]="'total_price' | translate"
                            icon='fa fa-usd'
                        ></input-text-in-profile>

                        <!-- bookingCode -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [fieldValue]='booking.bookingCode'

                            [displayName]="'booking_code' | translate"
                            icon='fa fa-barcode'
                        ></input-text-in-profile>

                        <!-- guest -->
                        <input-text-in-profile
                            *ngIf="booking.guest"
                            [displayControl]='false' [edit]='false'

                            [fieldValue]='booking.guest.name'

                            [displayName]="'guest_name' | translate"
                            icon='fa fa-user'

                            [displayLink]='true'
                            [linkLabel]="'view_guest' | translate"
                            [linkUrl]="['/view-guests' , booking.guest._id]" 
                        ></input-text-in-profile>

                         <!-- client -->
                         <input-text-in-profile
                            *ngIf="booking.client"
                            [displayControl]='false' [edit]='false'

                            [fieldValue]='booking.client.name'

                            [displayName]="'client_name' | translate"
                            icon='fa fa-user'

                            [displayLink]='true'
                            [linkLabel]="'view_client' | translate"
                            [linkUrl]="['/view-clients' , booking.client._id]" 
                        ></input-text-in-profile>

                        <!-- bookingType -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [fieldValue]='getBookingType(booking.bookingType)'

                            [displayName]="'booking_type' | translate"
                            icon='fa fa-ticket'
                        ></input-text-in-profile>

                        <!-- pickUpBranch -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [fieldValue]="booking.pickUpBranch | getValueByLang:'nameEn,nameAr'"

                            [displayName]="'pick_up_branch' | translate"
                            icon='fa fa-briefcase'


                            [displayLink]='true'
                            [linkLabel]="'view_branch' | translate"
                            [linkUrl]="['/view-branches' , booking.pickUpBranch._id]" 
                        ></input-text-in-profile>

                        <!-- returnBranch -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [fieldValue]="booking.returnBranch | getValueByLang:'nameEn,nameAr'"

                            [displayName]="'return_branch' | translate"
                            icon='fa fa-briefcase'

                            [displayLink]='true'
                            [linkLabel]="'view_branch' | translate"
                            [linkUrl]="['/view-branches' , booking.returnBranch._id]" 
                        ></input-text-in-profile>

                        <!-- carType -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'
 
                            [fieldValue]="booking.carGroup.carType | getValueByLang:'nameEn,nameAr'"

                            [displayName]="'car_type' | translate"
                            icon='fa fa-car'
                        ></input-text-in-profile>

                        <!-- carModel -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [fieldValue]="booking.carGroup.carModel | getValueByLang:'nameEn,nameAr'"

                            [displayName]="'car_model' | translate"
                            icon='fa fa-car'
                        ></input-text-in-profile>
                        
                        <!-- createdAt -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [fieldValue]='booking.createdAt | timeAgo'

                            [displayName]="'created_at' | translate"
                            icon='fa fa-sign-in'
                        ></input-text-in-profile>

                        <!-- updatedAt -->
                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            [fieldValue]='booking.updatedAt | timeAgo'

                            [displayName]="'updated_at' | translate"
                            icon='fa fa-pencil'
                        ></input-text-in-profile>

                    </ul>

                    <div style="margin-top: 10px" class="row" *ngIf="booking.bookingType === 0">
                        
                        <div style="padding-top:5px" class="col-md-3 col-md-offset-3">
                            <app-btn
                                [label]="'cancel' | translate"
                                (onClick)='cancel()'
                            ></app-btn>
                        </div>
                        
                        <div style="padding-top:5px" class="col-md-3">
                            <app-btn
                                [label]="'approve' | translate"
                                (onClick)='approve()'
                            ></app-btn>
                        </div>

                    </div>

                    <div style="margin-top: 15px" class="row" *ngIf="booking.bookingType === 2">
                        
                        <div class="col-md-4 col-md-offset-4">
                            <app-btn
                                [label]="'active' | translate"
                                (onClick)='active()'
                            ></app-btn>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

</div> 


