<div class="parent-of-signin-form-page parent-of-add-form-page ">
	<div class="wrap-login100 row">

		<form role="form" [formGroup]='formGroup' (submit)='onSubmit()' class="login100-form">
			
			<span class="login100-form-title">
				{{'add_car_group' | translate}}
			</span>

			<!-- carType_id -->
		  	<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 select-one" >
					<select-one
						formControlName="carType_id"
						icon='fa fa-car'     
						[options]='carTypesOptions'   
						[placeholder]='"car_type" | translate'
						(onChange)='onChangeCarType($event)'
					>
					</select-one>
				</div>
				<input-error-in-form [control]='formGroup.controls.carType_id'></input-error-in-form>
			</div>

			<!-- carModel_id -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 select-one" >
					<select-one
						formControlName="carModel_id"
						icon='fa fa-car'     
						[options]='carModelsOptions'   
						[placeholder]='"car_model" | translate'
					>
					</select-one>
				</div>
				<input-error-in-form [control]='formGroup.controls.carModel_id'></input-error-in-form>
			</div>

			<!-- branch_id -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 select-one" >
					<select-one
						formControlName="branch_id"
						icon='fa fa-briefcase'     
						[options]='branchesCanThisEmployeeAccessOptions'   
						[placeholder]='"branch" | translate'
					>
					</select-one>
				</div>
				<input-error-in-form [control]='formGroup.controls.branch_id'></input-error-in-form>
			</div>


			<!-- year -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 select-one" >
					<select-one
						formControlName="year"
						icon='fa fa-calendar'     
						[options]='yearsOptions'   
						[placeholder]='"year" | translate'
					>
					</select-one>
				</div>
				<input-error-in-form [control]='formGroup.controls.year'></input-error-in-form>
			</div>

			<!-- allowedKm -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100" >
					<input 
						formControlName='allowedKm' 
						class="input100" 
						type="text" 
						placeholder="{{'allowed_km' | translate}}">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-usd" aria-hidden="true"></i>
					</span>
				</div>
				<input-error-in-form [control]='formGroup.controls.allowedKm'></input-error-in-form>
			</div>

			<!-- plusKmPrice -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 " >
					<input 
						formControlName='plusKmPrice' 
						class="input100" 
						type="text" 
						placeholder="{{'plus_km_price' | translate}}">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-usd" aria-hidden="true"></i>
					</span>
				</div>
				<input-error-in-form [control]='formGroup.controls.plusKmPrice'></input-error-in-form>
			</div>

			<!-- pricePerDay -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 " >
					<input 
						formControlName='pricePerDay' 
						class="input100" 
						type="text" 
						placeholder="{{'price_per_day' | translate}}">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-usd" aria-hidden="true"></i>
					</span>
				</div>
				<input-error-in-form [control]='formGroup.controls.pricePerDay'></input-error-in-form>
			</div>

			<!-- discountPerDay -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 " >
					<input 
						formControlName='discountPerDay' 
						class="input100" 
						type="text" 
						placeholder="{{'discount_per_day' | translate}}">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-usd" aria-hidden="true"></i>
					</span>
				</div>
				<input-error-in-form [control]='formGroup.controls.discountPerDay'></input-error-in-form>
			</div>
			
		
			<!-- btn -->
			<div class="col-md-4 col-md-offset-4 col-xs-12 col-xs-offset-0">
				<div class="container-login100-form-btn">
					<button class="login100-form-btn" >
						{{'save' | translate}}
					</button>
				</div>
			</div>
	
		</form>
	</div>
</div>



