<div class="w3ls-banner "> 
    <div class="header-w3layouts"> 
      <!-- Navigation -->
      <nav class="navbar top-nav-collapse navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">M-Alsafi</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div> 

          <!-- en -->
          <div class="collapse navbar-collapse navbar-ex1-collapse" *ngIf="style=='ltr'">
            <ul class="nav navbar-nav navbar-left cl-effect-15">
              <li [routerLink]="['/home']" routerLinkActive="active"><a>{{'home' | translate}}</a></li> 
              <li *ngIf="isClient()" [routerLink]="['/view-client']" routerLinkActive="active" ><a>{{'my_profile' | translate}}</a></li> 
              <li *ngIf="isClient()" [routerLink]="['/view-client-bookings']" routerLinkActive="active" ><a>{{'client_bookings' | translate}}</a></li> 
              <li *ngIf="!isClient()" [routerLink]="['/signin']" routerLinkActive="active" ><a>{{'signin' | translate}}</a></li> 
              <li *ngIf="!isClient()" [routerLink]="['/signup']" routerLinkActive="active" ><a>{{'signup' | translate}}</a></li> 
              <li [routerLink]="['/view-booking-by-code-and-iqama']" routerLinkActive="active" ><a>{{'search' | translate}}</a></li> 
              <li [routerLink]="['/view-car-groups']" routerLinkActive="active" ><a>{{'booking_now' | translate}}</a></li> 
            </ul>
            <ul class="nav navbar-nav navbar-right cl-effect-15">
              <li (click)='back()' ><a>{{'back' | translate}}</a></li> 
              <li *ngIf="isClient()" (click)='signout()'><a>{{'signout' | translate}}</a></li> 
              <li (click)='changeLang("ar")'><a>{{'arabic' | translate}}</a></li> 
            </ul>
          </div>

          <!-- ar -->
          <div class="collapse navbar-collapse navbar-ex1-collapse" *ngIf="style=='rtl'">
            <ul class="nav navbar-nav navbar-right cl-effect-15">
              <li [routerLink]="['/view-car-groups']" routerLinkActive="active" ><a>{{'booking_now' | translate}}</a></li> 
              <li [routerLink]="['/view-booking-by-code-and-iqama']" routerLinkActive="active" ><a>{{'search' | translate}}</a></li> 
              <li *ngIf="!isClient()" [routerLink]="['/signup']" routerLinkActive="active" ><a>{{'signup' | translate}}</a></li> 
              <li *ngIf="!isClient()" [routerLink]="['/signin']" routerLinkActive="active" ><a>{{'signin' | translate}}</a></li> 
              <li *ngIf="isClient()" [routerLink]="['/view-client-bookings']" routerLinkActive="active" ><a>{{'client_bookings' | translate}}</a></li> 
              <li *ngIf="isClient()" [routerLink]="['/view-client']" routerLinkActive="active" ><a>{{'my_profile' | translate}}</a></li> 
              <li [routerLink]="['/home']" routerLinkActive="active"><a>{{'home' | translate}}</a></li> 
            </ul>
            <ul class="nav navbar-nav navbar-left cl-effect-15">
              <li (click)='changeLang("en")'><a>{{'english' | translate}}</a></li> 
              <li *ngIf="isClient()" (click)='signout()'><a>{{'signout' | translate}}</a></li> 
              <li (click)='back()' ><a>{{'back' | translate}}</a></li> 
            </ul>
          </div>
  

        </div>
        <!-- /.container -->
      </nav>  
    </div>	
</div>	
