// --------- var ---------
$mainColor : #6edd19;
$mainHoverColor : #5fc00c;
$editIconColor: #72afd2;
$textColor : #696666;
@mixin transition($time) {
    -webkit-transition: all $time;
    -o-transition: all $time;
    -moz-transition: all $time;
    transition: all $time;
};
// --------- var ---------


// ------- main style -------
.save-parent {
    padding-top: 15px
};
.panel-heading {
    position: relative;
    & > .fa-map-marker ,
    & > .fa-edit ,
    & > .fa-times 
    {
        position: absolute;
        top: 9px;
        color: $editIconColor;
        font-size: 22px;
        cursor: pointer;
    };
};
// ------- main style -------


// ------- en style [ltr] -------
::ng-deep .style-ltr map .panel-heading > .fa-edit ,
::ng-deep .style-ltr map .panel-heading > .fa-times 
{
    left: 13px;
};
::ng-deep .style-ltr map .panel-heading > .fa-map-marker 
{
    left: 48px;
    top: 7px !important;
    color: $mainHoverColor !important;
};
// ------- en style -------

// ------- ar style [rtl] -------
::ng-deep .style-rtl map .panel-heading > .fa-edit ,
::ng-deep .style-rtl map .panel-heading > .fa-times 
{
    right: 13px;
};
::ng-deep .style-rtl map .panel-heading > .fa-map-marker 
{
    right: 48px;
    top: 7px !important;
    color: $mainHoverColor !important;
};
// ------- ar style -------
