<div class="panel panel-default">
    <div class="panel-heading">

        <panel-heading-in-profile
            [name]='title'
            [deleted]='false'
                
            [displayIsOnline]='false'
            [isOnline]='false'

            [displayControl]='false'
            [canDelete]='false'
            [canRestore]='false'
        >
        </panel-heading-in-profile>
        
        <i 
            *ngIf='!edit' 
            (click)='showEdit()'
            tooltipPosition="top" [pTooltip]="'edit' | translate"
            class="fa fa-edit"
        ></i>
        <i 
            *ngIf='edit' 
            (click)='hideEdit()'
            tooltipPosition="top" [pTooltip]="'close' | translate"
            class="fa fa-times"
        ></i>
        <i 
            (click)='useGPS()'
            tooltipPosition="top" [pTooltip]="'use_gps' | translate"
            class="fa fa-map-marker"
        ></i>

    </div>

    <div class="panel-body">
        
        <!-- map -->
        <div class='row'>
            <div class="col-xs-12 col-xs-offset-0 col-md-12" style="min-height: 400px">
                <p-gmap 
                    *ngIf="isFullLoad"
                    (onMapReady)="setMap($event)"
                    (onMapClick)="click($event)" 
                    [overlays]="overlays"  
                    [options]="options" 
                    [style]="{'width':'100%','height':'400px'}" >
                </p-gmap>
            </div>
        </div>
        <!-- map -->

        <!-- save -->
        <div *ngIf='canEdit && edit' class='row save-parent'>
            <div class='center-child-in-laptop col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2'>
                <app-btn (onClick)='save()' [label]="'save'| translate"></app-btn>
            </div>
        </div>
        <!-- save -->

    </div>

</div>