<!-- employeeActions -->
<div class="panel panel-default">
       
    <!-- head -->
    <div class="panel-heading">
        <panel-heading-in-profile
            [name]="'employee_actions' | translate"
            [deleted]='0'
            [displayControl]='false'
            [canDelete]='false'
            [canRestore]='false'
        >
        </panel-heading-in-profile>
    </div>
    <!-- ./head -->

    <!-- body -->
    <div style="width: 100%;" class="panel-body">
        
        <custom-data-view
            (onLazyLoad)='onLazyLoad($event)'
            [filterByTitle]="'all_actions_types' | translate"
            filterByIcon="fa-american-sign-language-interpreting"

            [useFilter]='true'
            [filterByOptions]='filterByOptions'
            (onReset)='onReset($event)'

            [loading]='loading'
            [itemsCount]='employeeActions.length'
            [bottomLengthTitle]="'employee_actions_count' | translate"
        >
            <!-- content -->
            <div *ngFor="let item of employeeActions" class="ui-g parent-in-custom-data-view" >
                <div class="ui-md-12">
                       
                    <!-- car -->
                    <div *ngIf="item.car"  class="ui-g item-in-custom-data-view">

                        <div class="ui-g-12">
                            <i class="fa fa-file"></i>
                            <strong>
                                {{'the_type' | translate}} :
                            </strong>
                            <span>
                                {{'car' | translate}}
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-desktop"></i>
                            <strong>
                                {{'the_screen' | translate}} :
                            </strong>
                            <span [innerText]='getScreen(item.screen)'>
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-id-card"></i>
                            <strong>
                                {{'plate_number' | translate}} :
                            </strong>
                            <span>
                                {{item.car.plateNumber}}
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-pencil"></i>
                            <strong>
                                {{'created_at' | translate}} :
                            </strong>
                            <span [innerHTML]='item.createdAt | timeAgo'></span>
                        </div>
                        
                        <button *ngIf="!isAdmin"  class="item-btn" tooltipPosition="top" 
                            [routerLink]="['/view-cars' , item.car._id]"
                            [pTooltip]="'view_car' | translate" 
                            pButton type="button" icon="fa fa-car" >
                        </button>

                        <button *ngIf="item.car.deleted" class="item-btn-deleted  {{isAdmin ? 'item-btn-1' : 'item-btn-2'}} " tooltipPosition="top" 
                            [pTooltip]="'deleted' | translate" 
                            pButton type="button" icon="fa fa-times" >
                        </button>
                        
                        <button *ngIf="!item.car.deleted" class="item-btn-not-deleted  {{isAdmin ? 'item-btn-1' : 'item-btn-2'}} " tooltipPosition="top" 
                            [pTooltip]="'not_deleted' | translate" 
                            pButton type="button" icon="fa fa-times" >
                        </button>

                    </div>
                    <!-- ./car -->

                    <!-- booking -->
                    <div *ngIf="item.booking" class="ui-g item-in-custom-data-view">

                        <div class="ui-g-12">
                            <i class="fa fa-file"></i>
                            <strong>
                                {{'the_type' | translate}} :
                            </strong>
                            <span>
                                {{'booking' | translate}}
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-desktop"></i>
                            <strong>
                                {{'the_screen' | translate}} :
                            </strong>
                            <span [innerText]='getScreen(item.screen)'>
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-barcode"></i>
                            <strong>
                                {{'booking_code' | translate}} :
                            </strong>
                            <span>
                                {{item.booking.bookingCode}}
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-id-card"></i>
                            <strong>
                                {{'iqama' | translate}} :
                            </strong>
                             <span [innerHTML]='item.booking.iqama | numEnToAr'></span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-pencil"></i>
                            <strong>
                                {{'created_at' | translate}} :
                            </strong>
                            <span [innerHTML]='item.createdAt | timeAgo'></span>
                        </div>

                        <button *ngIf="!isAdmin"  class="item-btn" tooltipPosition="top" 
                            [pTooltip]="'view_booking' | translate" 
                            [routerLink]="['/view-bookings' , item.booking._id]"
                            pButton type="button" icon="fa fa-ticket" >
                        </button>

                        <button *ngIf="item.booking.deleted" class="item-btn-deleted  {{isAdmin ? 'item-btn-1' : 'item-btn-2'}} " tooltipPosition="top" 
                            [pTooltip]="'deleted' | translate" 
                            pButton type="button" icon="fa fa-times" >
                        </button>

                        <button *ngIf="!item.booking.deleted" class="item-btn-not-deleted  {{isAdmin ? 'item-btn-1' : 'item-btn-2'}} " tooltipPosition="top" 
                            [pTooltip]="'not_deleted' | translate" 
                            pButton type="button" icon="fa fa-times" >
                        </button>

                    </div>
                    <!-- ./booking -->

                    <!-- carGroup -->
                    <div *ngIf="item.carGroup" class="ui-g item-in-custom-data-view">

                        <div class="ui-g-12">
                            <i class="fa fa-file"></i>
                            <strong>
                                {{'the_type' | translate}} :
                            </strong>
                            <span>
                                {{'car_group' | translate}}
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-desktop"></i>
                            <strong>
                                {{'the_screen' | translate}} :
                            </strong>
                            <span [innerText]='getScreen(item.screen)'>
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-usd"></i>
                            <strong>
                                {{'price_per_day' | translate}} :
                            </strong>
                            <span [innerHTML]='item.carGroup.pricePerDay | numEnToAr'>
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-pencil"></i>
                            <strong>
                                {{'created_at' | translate}} :
                            </strong>
                            <span [innerHTML]='item.createdAt | timeAgo'></span>
                        </div>

                        <button *ngIf="!isAdmin"  class="item-btn" tooltipPosition="top" 
                            [routerLink]="['/view-car-groups' , item.carGroup._id]"
                            [pTooltip]="'view_the_car_group' | translate" 
                            pButton type="button" icon="fa fa-car" >
                        </button>

                        <button *ngIf="item.carGroup.deleted" class="item-btn-deleted  {{isAdmin ? 'item-btn-1' : 'item-btn-2'}} " tooltipPosition="top" 
                            [pTooltip]="'deleted' | translate" 
                            pButton type="button" icon="fa fa-times" >
                        </button>

                        <button *ngIf="!item.carGroup.deleted" class="item-btn-not-deleted  {{isAdmin ? 'item-btn-1' : 'item-btn-2'}} " tooltipPosition="top" 
                            [pTooltip]="'not_deleted' | translate" 
                            pButton type="button" icon="fa fa-times" >
                        </button>

                    </div>
                    <!-- ./carGroup -->

                    <!-- carModel -->
                    <div *ngIf="item.carModel" class="ui-g item-in-custom-data-view">

                        <div class="ui-g-12">
                            <i class="fa fa-file"></i>
                            <strong>
                                {{'the_type' | translate}} :
                            </strong>
                            <span>
                                {{'car_model' | translate}}
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-desktop"></i>
                            <strong>
                                {{'the_screen' | translate}} :
                            </strong>
                            <span [innerText]='getScreen(item.screen)'>
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-car"></i>
                            <strong>
                                {{'the_name' | translate}} :
                            </strong>
                            <span>
                                {{item.carModel | getValueByLang:'nameEn,nameAr'}}
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-pencil"></i>
                            <strong>
                                {{'created_at' | translate}} :
                            </strong>
                            <span [innerHTML]='item.createdAt | timeAgo'></span>
                        </div>

                    </div>
                    <!-- ./carModel -->

                    <!-- carType -->
                    <div *ngIf="item.carType" class="ui-g item-in-custom-data-view">

                        <div class="ui-g-12">
                            <i class="fa fa-file"></i>
                            <strong>
                                {{'the_type' | translate}} :
                            </strong>
                            <span>
                                {{'car_type' | translate}}
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-desktop"></i>
                            <strong>
                                {{'the_screen' | translate}} :
                            </strong>
                            <span [innerText]='getScreen(item.screen)'>
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-car"></i>
                            <strong>
                                {{'the_name' | translate}} :
                            </strong>
                            <span>
                                {{item.carType | getValueByLang:'nameEn,nameAr'}}
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-pencil"></i>
                            <strong>
                                {{'created_at' | translate}} :
                            </strong>
                            <span [innerHTML]='item.createdAt | timeAgo'></span>
                        </div>

                    </div>
                    <!-- ./carType -->

                    <!-- branch -->
                    <div *ngIf="item.branch" class="ui-g item-in-custom-data-view">

                        <div class="ui-g-12">
                            <i class="fa fa-file"></i>
                            <strong>
                                {{'the_type' | translate}} :
                            </strong>
                            <span>
                                {{'branch' | translate}}
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-desktop"></i>
                            <strong>
                                {{'the_screen' | translate}} :
                            </strong>
                            <span [innerText]='getScreen(item.screen)'>
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-briefcase"></i>
                            <strong>
                                {{'name' | translate}} :
                            </strong>
                            <span>
                                {{item.branch | getValueByLang:'nameEn,nameAr'}}
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-map-marker"></i>
                            <strong>
                                {{'address' | translate}} :
                            </strong>
                            <span>
                                {{item.branch | getValueByLang:'addressEn,addressAr'}}
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-pencil"></i>
                            <strong>
                                {{'created_at' | translate}} :
                            </strong>
                            <span [innerHTML]='item.createdAt | timeAgo'></span>
                        </div>

                        <button *ngIf="item.branch.deleted" class="item-btn-deleted  {{isAdmin ? 'item-btn-1' : 'item-btn-2'}} " tooltipPosition="top" 
                            [pTooltip]="'deleted' | translate" 
                            pButton type="button" icon="fa fa-times" >
                        </button>

                        <button *ngIf="!item.branch.deleted" class="item-btn-not-deleted  {{isAdmin ? 'item-btn-1' : 'item-btn-2'}} " tooltipPosition="top" 
                            [pTooltip]="'not_deleted' | translate" 
                            pButton type="button" icon="fa fa-times" >
                        </button>

                        <button *ngIf="!isAdmin" class="item-btn" tooltipPosition="top" 
                            [routerLink]="['/view-branches' , item.branch._id]"
                            [pTooltip]="'view_branch' | translate" 
                            pButton type="button" icon="fa fa-briefcase" >
                        </button>

                    </div>
                    <!-- ./branch -->
                
                    <!-- client -->
                    <div *ngIf="item.client" class="ui-g item-in-custom-data-view">

                        <div class="ui-g-12">
                            <i class="fa fa-file"></i>
                            <strong>
                                {{'the_type' | translate}} :
                            </strong>
                            <span>
                                {{'client' | translate}}
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-desktop"></i>
                            <strong>
                                {{'the_screen' | translate}} :
                            </strong>
                            <span [innerText]='getScreen(item.screen)'>
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-map-marker"></i>
                            <strong>
                                {{'the_name' | translate}} :
                            </strong>
                            <span>
                                {{item.client.name}}
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <i class="fa fa-pencil"></i>
                            <strong>
                                {{'created_at' | translate}} :
                            </strong>
                            <span [innerHTML]='item.createdAt | timeAgo'></span>
                        </div>

                        <button *ngIf="item.client.deleted" class="item-btn-deleted  {{isAdmin ? 'item-btn-1' : 'item-btn-2'}} " tooltipPosition="top" 
                            [pTooltip]="'deleted' | translate" 
                            pButton type="button" icon="fa fa-times" >
                        </button>

                        <button *ngIf="!item.client.deleted" class="item-btn-not-deleted  {{isAdmin ? 'item-btn-1' : 'item-btn-2'}} " tooltipPosition="top" 
                            [pTooltip]="'not_deleted' | translate" 
                            pButton type="button" icon="fa fa-times" >
                        </button>

                        <button *ngIf="!isAdmin" class="item-btn" tooltipPosition="top" 
                            [routerLink]="['/view-clients' , item.client._id]"
                            [pTooltip]="'view_client' | translate" 
                            pButton type="button" icon="fa fa-user" >
                        </button>

                    </div>
                    <!-- ./client -->
                                                            
                </div>
            </div>
            <!-- ./content    -->

        </custom-data-view>

    </div>
    <!-- ./body -->

</div>
<!-- ./employeeActions -->
