// --------- var ---------
$mainColor : #6edd19;
$mainHoverColor : #5fc00c;
$editIconColor: #72afd2;
$textColor : #696666;
@mixin transition($time) {
    -webkit-transition: all $time;
    -o-transition: all $time;
    -moz-transition: all $time;
    transition: all $time;
};
// --------- var ---------


// ------- main style -------
::ng-deep scroll-top-btn {
    .scroll-top-btn
    {
        border-radius: 50%;
        padding: 20px;
        background: $mainColor !important;
        border-color: $mainColor !important;
        position: fixed; 
        bottom: 55px; 
        height: 30px;
        width: 36px;
        z-index: 2;
    }
    .scroll-top-btn:hover
    {
        transform: scale(1.2);
        background: $mainHoverColor !important;
        border-color: $mainHoverColor !important;
    }
    .scroll-top-btn .fa
    {
        color: #fff;
        font-size: 18px !important;
    }
}
// ------- main style -------


// ------- en style -------
::ng-deep .style-ltr scroll-top-btn{
    .scroll-top-btn.scroll-top-btn-hide
    {
        right: -45px;
    }
    .scroll-top-btn.scroll-top-btn-show
    {
        right: 20px;
    }
    .scroll-top-btn
    {
        right: -45px;
        @include transition(0.4s);
    }
}
// ------- en style -------

// ------- ar style -------
::ng-deep .style-rtl scroll-top-btn{
    .scroll-top-btn.scroll-top-btn-hide
    {
        left: -45px;
    }
    .scroll-top-btn.scroll-top-btn-show
    {
        left: 20px;
    }
    .scroll-top-btn
    {
        left: -45px;
        @include transition(0.4s);
    }
}
// ------- ar style -------
