<div class="router-outlet-content">
    <div class="container">
        
        <div class="parent-of-signin-form-page parent-of-add-form-page" *ngIf="!booking">
			<div class="wrap-login100 row">
				<form role="form" [formGroup]='searchForm' (submit)='onSubmit()' class="login100-form">
					
					<span class="login100-form-title">
						{{'bookings_search' | translate}}
					</span>

					<!-- name -->
					<div class="col-md-6 col-xs-12">
						<div class="wrap-input100" >
							<input 
								formControlName='bookingCode' 
								class="input100" 
								type="text" 
								placeholder="{{'booking_code' | translate}}">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-barcode" aria-hidden="true"></i>
							</span>
						</div>
						<input-error-in-form [control]='searchForm.controls.bookingCode'></input-error-in-form>
					</div>
					
					<!-- iqama -->
					<div class="col-md-6 col-xs-12">
						<div class="wrap-input100" >
							<input 
								formControlName='iqama' 
								class="input100" 
								type="text" 
								placeholder="{{'iqama' | translate}}">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-id-card" aria-hidden="true"></i>
							</span>
						</div>
						<input-error-in-form [control]='searchForm.controls.iqama'></input-error-in-form>
					</div>


					<!-- btn -->
					<div class="col-md-4 col-md-offset-4 col-xs-12 col-xs-offset-0">
						<div class="container-login100-form-btn">
							<button class="login100-form-btn" >
								{{'search' | translate}}
							</button>
						</div>
					</div>

				</form>
				
			</div>
		</div>

        <div class="view-profile-any-thing" *ngIf="booking">

            <div style="margin-bottom: 15px;">
                <image-slider
                    [images]="booking.carGroup.images"
                    [canAdd]='false'
                    [canDelete]='false'
                    [title]="'car_images' | translate"
                >
                </image-slider>
            </div>

            <div class="row">  
                <div class="col-md-12">
                    
                    <!-- booking -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <panel-heading-in-profile
                                [name]='carGroupTitle'
                                [displayIsOnline]='false'
                                [displayControl]='false'
                            >
                            </panel-heading-in-profile>
                        </div>

                        <div class="panel-body">
                            <ul class="list-group">

                                <!-- client -->
                                <input-text-in-profile
                                    *ngIf="booking.client"
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='booking.client.name'

                                    [displayName]="'client' | translate"
                                    icon='fa fa-user'
                                ></input-text-in-profile>

                                <!-- guest -->
                                <input-text-in-profile
                                    *ngIf="booking.guest"
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='booking.guest.name'

                                    [displayName]="'guest' | translate"
                                    icon='fa fa-user'
                                ></input-text-in-profile>

                                <!-- bookingType -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='getBookingType(booking.bookingType)'

                                    [displayName]="'booking_type' | translate"
                                    icon='fa fa-ticket'
                                ></input-text-in-profile>

                                <!-- bookingCode -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='booking.bookingCode'

                                    [displayName]="'booking_code' | translate"
                                    icon='fa fa-barcode'
                                ></input-text-in-profile>

                                <!-- carType -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='booking.carGroup.carType | getValueByLang:"nameEn,nameAr"'

                                    [displayName]="'car_type' | translate"
                                    icon='fa fa-car'
                                ></input-text-in-profile>

                                <!-- carType -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='booking.carGroup.carType | getValueByLang:"nameEn,nameAr"'

                                    [displayName]="'car_type' | translate"
                                    icon='fa fa-car'
                                ></input-text-in-profile>

                                <!-- carModel -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='booking.carGroup.carModel | getValueByLang:"nameEn,nameAr"'

                                    [displayName]="'car_model' | translate"
                                    icon='fa fa-car'
                                ></input-text-in-profile>

                                <!-- year -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='booking.carGroup.year | numEnToAr'

                                    [displayName]="'year' | translate"
                                    icon='fa fa-calendar'
                                ></input-text-in-profile>

                                <!-- pickUpBranch -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='booking.pickUpBranch | getValueByLang:"nameEn,nameAr"'

                                    [displayName]="'pick_up_branch' | translate"
                                    icon='fa fa-briefcase'
                                ></input-text-in-profile>

                                <!-- returnBranch -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='booking.returnBranch | getValueByLang:"nameEn,nameAr"'

                                    [displayName]="'return_branch' | translate"
                                    icon='fa fa-briefcase'
                                ></input-text-in-profile>

                                
                                <!-- pickUpDate -->
                                <input-text-in-profile
                                   [displayControl]='false' [edit]='false'

                                   [fieldValue]='booking.pickUpDate | date:"yyyy-MM-dd"'

                                   [displayName]="'pick_up_date' | translate"
                                   icon='fa fa-calendar'
                               ></input-text-in-profile>

                                <!-- pickUpDate hijri -->
                                <input-text-in-profile
                                   [displayControl]='false' [edit]='false'

                                   [fieldValue]='convertDateToHijri(booking.pickUpDate)'

                                   [displayName]="'pick_up_date_hijri' | translate"
                                   icon='fa fa-calendar'
                               ></input-text-in-profile>

                                <!-- returnDate -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='booking.returnDate | date:"yyyy-MM-dd"'

                                    [displayName]="'return_date' | translate"
                                    icon='fa fa-calendar'
                                ></input-text-in-profile>


                                <!-- returnDate hijri -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='convertDateToHijri(booking.returnDate)'

                                    [displayName]="'return_date_hijri' | translate"
                                    icon='fa fa-calendar'
                                ></input-text-in-profile>


                                <!-- expiredAt -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='booking.expiredAt | date:"yyyy-MM-dd hh:mm a"' 

                                    [displayName]="'expired_at' | translate"
                                    icon='fa fa-calendar'
                                ></input-text-in-profile>

                                <!-- expiredAt hijri -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='convertDateToHijri(booking.expiredAt) + " " + (booking.expiredAt | date:"hh:mm a")' 

                                    [displayName]="'expired_at_hijri' | translate"
                                    icon='fa fa-calendar'
                                ></input-text-in-profile>
  
                                
                                <!-- car platenumber -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='booking?.car?.plateNumber || ("car_not_found" | translate)'

                                    [displayName]="'car_plate_number' | translate"
                                    icon='fa fa-car'
                                ></input-text-in-profile>
                                
                                <!-- allowedKm -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='(booking.carGroup.allowedKm | numEnToAr) + " KM "'

                                    [displayName]="'allowed_km' | translate"
                                    icon='fa fa-gear'
                                ></input-text-in-profile>

                                <!-- plusKmPrice -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='(booking.carGroup.plusKmPrice | numEnToAr)  + " $ "' 

                                    [displayName]="'plus_km_price' | translate"
                                    icon='fa fa-usd'
                                ></input-text-in-profile>

                                <!-- pricePerDay -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='(booking.pricePerDay | numEnToAr)  + " $ "' 

                                    [displayName]="'price_per_day' | translate"
                                    icon='fa fa-usd'
                                ></input-text-in-profile>

                                <!-- discountPerDay -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='(booking.carGroup.discountPerDay | numEnToAr)  + " $ "' 

                                    [displayName]="'discount_per_day' | translate"
                                    icon='fa fa-usd'
                                ></input-text-in-profile>

                                <!-- daysCount -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='booking.daysCount | numEnToAr'

                                    [displayName]="'days_count' | translate"
                                    icon='fa fa-calendar'
                                ></input-text-in-profile>

                                <!-- total -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='booking.total | numEnToAr'

                                    [displayName]="'total_price' | translate"
                                    icon='fa fa-usd'
                                ></input-text-in-profile>

                            </ul>
                          
                        </div>

                    </div>
                    <!-- ./booking -->

                </div>
            </div>
        </div> 
        
    </div> 
</div> 


