// --------- var ---------
$mainColor : #fac12f;
$mainHoverColor : #e6af21;
$textColor : #696666;
@mixin transition($time) {
    -webkit-transition: all $time !important;
    -o-transition: all $time !important;
    -moz-transition: all $time !important;
    transition: all $time !important;
};
// --------- var ---------



// ------- main style -------
div {
    height: 100%;
};
::ng-deep .parent-of-btn-component button {
    margin-top: 0 !important;
    background: $mainColor !important;
    border-color: $mainColor !important;

    padding: 8px 19px 6px 19px ;
    border-radius: 22px !important;
    font-size: 14px !important;
    font-weight: bold !important;
    letter-spacing: 0.5px !important;
    padding-top: 7px;
    width: 100%;
    & > span.ui-button-text.ui-clickable {
        padding: .25em 1em;
    }

    &:hover
    {
        border-radius: 22px;
        margin-top: 0;
        background: $mainHoverColor !important;
        border-color: $mainHoverColor !important;
    }

}

// ------- main style -------


// ------- en style -------
// ------- en style -------

// ------- ar style -------
// ------- ar style -------
