<custom-data-view
    (onLazyLoad)='onLazyLoad($event)'
        
    [useSearch]='true'

    [useFilter]='false'
    (onReset)='onReset($event)'

    [loading]='loading'
    [itemsCount]='guests.length | numEnToAr'
    [bottomLengthTitle]="'guests_count' | translate"

    [displayLink]='false'
>
    <!-- content -->
    <div *ngFor="let item of guests" class="ui-g parent-in-custom-data-view" >
        
        
        <div class="ui-g-12">

            <!-- guests -->
            <div class="ui-g item-in-custom-data-view">
                
                <div class="ui-g-12">
                    <i class="fa fa-user"></i>
                    <strong>
                        {{'name' | translate}} :
                    </strong>
                    <span>
                        {{ item.name }}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-phone"></i>
                    <strong>
                        {{'phone' | translate}} :
                    </strong>
                    <span [innerHTML]='item.phone |numEnToAr'>
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-id-card"></i>
                    <strong>
                        {{'iqama' | translate}} :
                    </strong>
                    <span [innerHTML]='item.iqama |numEnToAr'>
                    </span>
                </div>


                <button *ngIf="item.deleted" class="item-btn-deleted item-btn-2" tooltipPosition="top" 
                    [pTooltip]="'deleted' | translate" 
                    pButton type="button" icon="fa fa-times" >
                </button>
                <button *ngIf="!item.deleted" class="item-btn-not-deleted item-btn-2" tooltipPosition="top" 
                    [pTooltip]="'not_deleted' | translate" 
                    pButton type="button" icon="fa fa-times" >
                </button>

                <button class="item-btn item-btn-1" tooltipPosition="top" 
                    [pTooltip]="'view_guest' | translate" 
                    [routerLink]="['/view-guests' , item._id]" 
                    pButton type="button" icon="fa fa-user" >
                </button>


            </div>
            <!-- guests -->
                                                    
        </div>

    </div>
    <!-- ./content    -->

</custom-data-view>

