<app-navbar></app-navbar>

<div class="div-fix-height-navbar"></div>

<app-loading></app-loading>

<div class="router-outlet">
  <router-outlet></router-outlet> 
</div>

<app-footer></app-footer>


<scroll-top-btn></scroll-top-btn>
<icon-car-to-booking></icon-car-to-booking>