<div class="router-outlet-content">
    <div class="container">
        <div class="view-profile-any-thing" *ngIf="client">

            <div style="margin-bottom: 15px;">
                <image-slider
                    [images]="clientImage"
                    [canAdd]='true'
                    [canDelete]='false'
                    [title]="'client_image' | translate"
                    (onAdd)='onAddImage($event)'
                >
                </image-slider>
            </div>

            <div class="row" >  
                <div class="col-md-12">
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <panel-heading-in-profile
                                [name]='client.name'
                                [displayIsOnline]='false'
                                [displayControl]='false'
                            >
                            </panel-heading-in-profile>
                        </div>

                        <div class="panel-body">

                            <ul class="list-group">
                                
                                <!-- name -->
                                <input-text-in-profile
                                    #name
                                    [displayControl]='true' [edit]='edit.name'

                                    fieldName='name' 
                                    [value]='client.name' 
                                    (onSave)='onSaveEdit($event)'

                                    [RegExp]='RegExpClientModel.name'
                                    [requiredErrorEnum]='name_required'
                                    [invalidErrorEnum]='name_invalid'
                                    (onValidationError)='onValidationError($event)'

                                    [displayName]="'name' | translate"
                                    icon='fa fa-user'

                                    editNameInEvent='name'
                                    (onOpenEdit)='openEdit($event)'
                                    (onCloseEdit)='closeEdit($event)'
                                ></input-text-in-profile>

                                <!-- email -->
                                <input-text-in-profile
                                    #email
                                    [displayControl]='true' [edit]='edit.email'

                                    fieldName='email' 
                                    [value]='client.email' 
                                    (onSave)='onSaveEdit($event)'

                                    [RegExp]='RegExpClientModel.email'
                                    [requiredErrorEnum]='email_required'
                                    [invalidErrorEnum]='email_invalid'
                                    (onValidationError)='onValidationError($event)'

                                    [displayName]="'email' | translate"
                                    icon='fa fa-envelope'

                                    editNameInEvent='email'
                                    (onOpenEdit)='openEdit($event)'
                                    (onCloseEdit)='closeEdit($event)'
                                ></input-text-in-profile>

                                <!-- phone -->
                                <input-text-in-profile
                                    #phone
                                    [displayControl]='true' [edit]='edit.phone'

                                    fieldName='phone' 
                                    [fieldValue]='client.phone | numEnToAr' 
                                    [value]='client.phone' 
                                    (onSave)='onSaveEdit($event)'

                                    [RegExp]='RegExpClientModel.phone'
                                    [requiredErrorEnum]='phone_required'
                                    [invalidErrorEnum]='phone_invalid'
                                    (onValidationError)='onValidationError($event)'

                                    [displayName]="'phone' | translate"
                                    icon='fa fa-phone'

                                    editNameInEvent='phone'
                                    (onOpenEdit)='openEdit($event)'
                                    (onCloseEdit)='closeEdit($event)'
                                ></input-text-in-profile>

                                <!-- password -->
                                <input-password-in-profile
                                    #password
                                    [displayControl]='true' [edit]='edit.password'

                                    fieldName='password'
                                    (onSave)='onSaveEdit($event)'

                                    [RegExp]='RegExpClientModel.password'
                                    [requiredErrorEnum]='password_required'
                                    [invalidErrorEnum]='password_invalid'
                                    (onValidationError)='onValidationError($event)'

                                    [displayName]="'password' | translate"
                                    
                                    (onOpenEdit)='openEdit($event)'
                                    (onCloseEdit)='closeEdit($event)'
                                ></input-password-in-profile>

                                <!-- iqama -->
                                <input-text-in-profile
                                    #iqama
                                    [displayControl]='true' [edit]='edit.iqama'

                                    fieldName='iqama' 
                                    [fieldValue]='client.iqama | numEnToAr' 
                                    [value]='client.iqama' 
                                    (onSave)='onSaveEdit($event)'

                                    [RegExp]='RegExpClientModel.iqama'
                                    [requiredErrorEnum]='iqama_required'
                                    [invalidErrorEnum]='iqama_invalid'
                                    (onValidationError)='onValidationError($event)'

                                    [displayName]="'iqama' | translate"
                                    icon='fa fa-id-card'

                                    editNameInEvent='iqama'
                                    (onOpenEdit)='openEdit($event)'
                                    (onCloseEdit)='closeEdit($event)'
                                ></input-text-in-profile>

                                <!-- iqamaExpiryDate -->
                                <input-calendar-in-profile
                                    #iqamaExpiryDate
                                    [displayControl]='true' [edit]='edit.iqamaExpiryDate'

                                    fieldName='iqamaExpiryDate' 
                                    [fieldValue]='client.iqamaExpiryDate | date:"yyyy-MM-dd"' 
                                    [value]='client.iqamaExpiryDate' 
                                    (onSave)='onSaveEditDate($event)'

                                    [RegExp]='RegExpClientModel.iqamaExpiryDate'
                                    [requiredErrorEnum]='iqamaExpiryDate_required'
                                    [invalidErrorEnum]='iqamaExpiryDate_invalid'
                                    (onValidationError)='onValidationError($event)'

                                    [displayName]="'iqama_expiry_date' | translate"
                                    icon='fa fa-calendar'

                                    editNameInEvent='iqamaExpiryDate'
                                    (onOpenEdit)='openEdit($event)'
                                    (onCloseEdit)='closeEdit($event)'
                                ></input-calendar-in-profile>

                                <!-- iqamaExpiryDate [hijri] -->
                                <input-calendar-hijri-in-profile
                                    #iqamaExpiryDate_hijri
                                    [displayControl]='true' [edit]='edit.iqamaExpiryDate_hijri'

                                    fieldName='iqamaExpiryDate' 
                                    [fieldValue]='client.iqamaExpiryDate' 
                                    [value]='client.iqamaExpiryDate' 
                                    (onSave)='onSaveEditDate($event)'

                                    [RegExp]='RegExpClientModel.iqamaExpiryDate'
                                    [requiredErrorEnum]='iqamaExpiryDate_required'
                                    [invalidErrorEnum]='iqamaExpiryDate_invalid'
                                    (onValidationError)='onValidationError($event)'

                                    [displayName]="'iqama_expiry_date_hijri' | translate"
                                    icon='fa fa-calendar'

                                    editNameInEvent='iqamaExpiryDate_hijri'
                                    (onOpenEdit)='openEdit($event)'
                                    (onCloseEdit)='closeEdit($event)'
                                ></input-calendar-hijri-in-profile>


                                <!-- drivingLicence -->
                                <input-text-in-profile
                                    #drivingLicence
                                    [displayControl]='true' [edit]='edit.drivingLicence'

                                    fieldName='drivingLicence' 
                                    [fieldValue]='client.drivingLicence | numEnToAr' 
                                    [value]='client.drivingLicence' 
                                    (onSave)='onSaveEdit($event)'

                                    [RegExp]='RegExpClientModel.drivingLicence'
                                    [requiredErrorEnum]='drivingLicence_required'
                                    [invalidErrorEnum]='drivingLicence_invalid'
                                    (onValidationError)='onValidationError($event)'

                                    [displayName]="'driving_licence' | translate"
                                    icon='fa fa-envira'

                                    editNameInEvent='drivingLicence'
                                    (onOpenEdit)='openEdit($event)'
                                    (onCloseEdit)='closeEdit($event)'
                                ></input-text-in-profile>

                                <!-- drivingLicenceExpiryDate -->
                                <input-calendar-in-profile
                                    #drivingLicenceExpiryDate
                                    [displayControl]='true' [edit]='edit.drivingLicenceExpiryDate'

                                    fieldName='drivingLicenceExpiryDate' 
                                    [fieldValue]='client.drivingLicenceExpiryDate | date:"yyyy-MM-dd"' 
                                    [value]='client.drivingLicenceExpiryDate' 
                                    (onSave)='onSaveEditDate($event)'

                                    [RegExp]='RegExpClientModel.drivingLicenceExpiryDate'
                                    [requiredErrorEnum]='drivingLicenceExpiryDate_required'
                                    [invalidErrorEnum]='drivingLicenceExpiryDate_invalid'
                                    (onValidationError)='onValidationError($event)'

                                    [displayName]="'driving_licence_expiry_date' | translate"
                                    icon='fa fa-calendar'

                                    editNameInEvent='drivingLicenceExpiryDate'
                                    (onOpenEdit)='openEdit($event)'
                                    (onCloseEdit)='closeEdit($event)'
                                ></input-calendar-in-profile>


                                <!-- drivingLicenceExpiryDate [hijri] -->
                                <input-calendar-hijri-in-profile
                                    #drivingLicenceExpiryDate_hijri
                                    [displayControl]='true' [edit]='edit.drivingLicenceExpiryDate_hijri'

                                    fieldName='drivingLicenceExpiryDate' 
                                    [fieldValue]='client.drivingLicenceExpiryDate' 
                                    [value]='client.drivingLicenceExpiryDate' 
                                    (onSave)='onSaveEditDate($event)'

                                    [RegExp]='RegExpClientModel.drivingLicenceExpiryDate'
                                    [requiredErrorEnum]='drivingLicenceExpiryDate_required'
                                    [invalidErrorEnum]='drivingLicenceExpiryDate_invalid'
                                    (onValidationError)='onValidationError($event)'

                                    [displayName]="'driving_licence_expiry_date_hijri' | translate"
                                    icon='fa fa-calendar'

                                    editNameInEvent='drivingLicenceExpiryDate_hijri'
                                    (onOpenEdit)='openEdit($event)'
                                    (onCloseEdit)='closeEdit($event)'
                                ></input-calendar-hijri-in-profile>

                                <!-- birthday -->
                                <input-calendar-in-profile
                                    #birthday
                                    [displayControl]='true' [edit]='edit.birthday'

                                    fieldName='birthday' 
                                    [fieldValue]='client.birthday | date:"yyyy-MM-dd"' 
                                    [value]='client.birthday' 
                                    (onSave)='onSaveEditDate($event)'

                                    [RegExp]='RegExpClientModel.birthday'
                                    [requiredErrorEnum]='birthday_required'
                                    [invalidErrorEnum]='birthday_invalid'
                                    (onValidationError)='onValidationError($event)'

                                    [displayName]="'birthday' | translate"
                                    icon='fa fa-birthday-cake'

                                    editNameInEvent='birthday'
                                    (onOpenEdit)='openEdit($event)'
                                    (onCloseEdit)='closeEdit($event)'
                                ></input-calendar-in-profile>

                                <!-- birthday [hijri] -->
                                <input-calendar-hijri-in-profile
                                    #birthday_hijri
                                    [displayControl]='true' [edit]='edit.birthday_hijri'

                                    fieldName='birthday' 
                                    [fieldValue]='client.birthday' 
                                    [value]='client.birthday' 
                                    (onSave)='onSaveEditDate($event)'

                                    [RegExp]='RegExpClientModel.birthday'
                                    [requiredErrorEnum]='birthday_required'
                                    [invalidErrorEnum]='birthday_invalid'
                                    (onValidationError)='onValidationError($event)'

                                    [displayName]="'birthday_hijri' | translate"
                                    icon='fa fa-birthday-cake'

                                    editNameInEvent='birthday_hijri'
                                    (onOpenEdit)='openEdit($event)'
                                    (onCloseEdit)='closeEdit($event)'
                                ></input-calendar-hijri-in-profile>


                                <!-- nationality -->
                                <input-select-one-in-profile
                                    #nationality_id
                                    [displayControl]='true' [edit]='edit.nationality_id'

                                    [placeholder]='"edit" | translate'
                                    fieldName='nationality_id' [fieldValue]='client.nationality | getValueByLang:"nameEn,nameAr"'
                                    [value]='client.nationality?._id'
                                    (onSave)='onEditNationality($event)'

                                    [RegExp]='RegExpNationalityModel._id'
                                    [requiredErrorEnum]='nationality_id_required'
                                    [invalidErrorEnum]='nationality_id_invalid'
                                    (onValidationError)='onValidationError($event)'

                                    [options]='nationalitiesOptions'

                                    [displayName]="'nationality' | translate"
                                    icon='fa fa-flag'

                                    editNameInEvent='nationality_id'
                                    (onOpenEdit)='openEdit($event)'
                                    (onCloseEdit)='closeEdit($event)'
                                ></input-select-one-in-profile>


                                <!-- address -->
                                <input-text-in-profile
                                    #address
                                    [displayControl]='true' [edit]='edit.address'

                                    fieldName='address' 
                                    [value]='client.address' 
                                    (onSave)='onSaveEdit($event)'

                                    [RegExp]='RegExpClientModel.address'
                                    [requiredErrorEnum]='address_required'
                                    [invalidErrorEnum]='address_invalid'
                                    (onValidationError)='onValidationError($event)'

                                    [displayName]="'address' | translate"
                                    icon='fa fa-map-marker'

                                    editNameInEvent='address'
                                    (onOpenEdit)='openEdit($event)'
                                    (onCloseEdit)='closeEdit($event)'
                                ></input-text-in-profile>

                                <!-- job -->
                                <input-text-in-profile
                                    #job
                                    [displayControl]='true' [edit]='edit.job'

                                    fieldName='job' 
                                    [value]='client.job' 
                                    (onSave)='onSaveEdit($event)'

                                    [RegExp]='RegExpClientModel.job'
                                    [requiredErrorEnum]='job_required'
                                    [invalidErrorEnum]='job_invalid'
                                    (onValidationError)='onValidationError($event)'

                                    [displayName]="'job' | translate"
                                    icon='fa fa-bookmark'

                                    editNameInEvent='job'
                                    (onOpenEdit)='openEdit($event)'
                                    (onCloseEdit)='closeEdit($event)'
                                ></input-text-in-profile>

                                <!-- createdAt -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='client.createdAt | timeAgo'

                                    [displayName]="'created_at' | translate"
                                    icon='fa fa-sign-in'
                                ></input-text-in-profile>

                                <!-- updatedAt -->
                                <input-text-in-profile
                                    [displayControl]='false' [edit]='false'

                                    [fieldValue]='client.updatedAt | timeAgo'

                                    [displayName]="'updated_at' | translate"
                                    icon='fa fa-pencil'
                                ></input-text-in-profile>

                                <div style="margin-top: 15px" class="row" >
                        
                                    <div class="col-md-4 col-md-offset-4">
                                        <app-btn
                                            [label]="'save_all' | translate"
                                            (onClick)='saveAll()'
                                        ></app-btn>
                                    </div>
            
                                </div>

                            </ul>

                        </div>
                    </div>

                </div>
            </div>

        </div> 
    </div> 
</div> 


