// --------- var ---------
$mainColor : #6edd19;
$mainHoverColor : #5fc00c;
$editIconColor: #72afd2;
$textColor : #696666;
@mixin transition($time) {
    -webkit-transition: all $time;
    -o-transition: all $time;
    -moz-transition: all $time;
    transition: all $time;
};
// --------- var ---------

// ------- en style -------
::ng-deep .style-ltr input-select-many-in-profile {
 

    // style for input in profile
    select-many p-multiselect.select-many .ui-multiselect {
        background: #DDD !important;
        padding: 1px !important;
    }
    select-many p-multiselect.select-many label.ui-multiselect-label
    {
        border-radius: 22px;
        padding: 7px 2em 1px .25em !important;
        padding-left: 50px !important;
    }
    // ./style for input in profile
 




    select-many i.select-many {
        top: 11px !important;
    }

    // list-group-item
    .list-group-item 
    {
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 15px;
        position: relative;
        padding-right: 5px;
        padding-left: 5px;
        color: $textColor;

    }
    .list-group-item > div > .fa
    {
        text-align: center;
        width: 32px;
        color: $mainColor;
        font-size: 18px;
    }
    .list-group-item .icon-control.fa-edit
    {
        
        padding: 4px 7px 2px 7px;
        background: $mainColor;
        border-radius: 5px;
        width: 32px;
        margin-right: 0px;
        position: absolute;
        right: 10px;
        top: 7px;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
    }
    .list-group-item .icon-control.fa-times
    {
        padding: 2px 8px 3px 8px;
        background: $mainColor;
        border-radius: 5px;
        width: 32px;
        margin-right: 0px;
        position: absolute;
        right: 10px;
        top: 8px;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
    }
    .list-group-item .icon-control:hover{
        background: $mainHoverColor;
    }


    .list-group-item .ui-inputgroup
    {
        display: inline-block;
        width: 40%;
        position: relative;
    }
    @media (max-width: 768px) {
        .list-group-item .ui-inputgroup
        {
            width: 100% !important;
        }
    }
    .list-group-item .ui-inputgroup button
    {
        background: #6edd19;
        border: 0;
        position: absolute;
        right: 0;
        border-radius: 0px 22px 22px 0px;
        top: 0px;
        padding: 5px 28px 4px 10px;
        span.ui-button-icon-left
        {
            font-size: 21px !important;
            top: 19px !important;
        }
        @media (max-width: 768px) 
        {
            top: 5px;
            padding: 6px 28px 3px 10px;
        }
    }

    @media (max-width: 768px) {
        .list-group-item > div > span
        {
            padding-left: 0px;
            padding-top: 5px;
            display: block;
            width: 100%;
            text-align: center;
            line-height: 22px;
        }
        
        .list-group-item .ui-inputgroup
        {
            width: 100%;
            margin-top: 12px;
        }
    }
    .list-group-item .ui-inputgroup button:hover
    {
        background: $mainHoverColor;
        border: 0;
    }
    .list-group-item > div
    {
        word-break: break-all;
        width: 100%;
    }
    .list-group-item > strong,
    .list-group-item > div > strong
    {
        margin-right: 6px;
        display: inline-block;
    }

};
// ------- en style -------

// ------- ar style -------
::ng-deep .style-rtl input-select-many-in-profile {
    direction: rtl;
   

    // style for input in profile
    select-many p-multiselect.select-many .ui-multiselect {
        background: #DDD !important;
        padding: 1px !important;
    }
    select-many p-multiselect.select-many label.ui-multiselect-label
    {
        border-radius: 22px;
        padding: 7px 2em 1px .25em !important;
        padding-right: 50px !important;
    }
    // ./style for input in profile
 

    select-many i.select-many {
        top: 11px !important;
    }




    // list-group-item
    .list-group-item 
    {
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 15px;
        position: relative;
        padding-left: 5px;
        padding-right: 5px;
        color: $textColor;

    }
    .list-group-item > div > .fa
    {
        text-align: center;
        width: 32px;
        color: $mainColor;
        font-size: 18px;
    }   
    .list-group-item .icon-control.fa-edit
    {
        padding: 4px 4px 2px 7px;
        background: $mainColor;
        border-radius: 5px;
        width: 32px;
        margin-right: 0px;
        position: absolute;
        left: 10px;
        top: 7px;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
    }
    .list-group-item .icon-control.fa-times
    {
        padding: 2px 8px 3px 8px;
        background: $mainColor;
        border-radius: 5px;
        width: 32px;
        margin-right: 0px;
        position: absolute;
        left: 10px;
        top: 8px;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
    }
    .list-group-item .icon-control:hover{
        background: $mainHoverColor;
    }

  
    .list-group-item .ui-inputgroup
    {
        display: inline-block;
        width: 40%;
        position: relative;
    }
    @media (max-width: 768px) {
        .list-group-item .ui-inputgroup
        {
            width: 100% !important;
        }
    }
    .list-group-item .ui-inputgroup button
    {
        border-radius: 22px 0  0 22px;
        left: 1px;
        background: $mainColor;
        border: 0;
        position: absolute;
        top: 0px;
        padding: 5px 28px 4px 10px;
        span.ui-button-icon-left
        {
            font-size: 21px !important;
            top: 19px !important;
            left: 21px; 
        }

        @media (max-width: 768px) 
        {
            top: 5px;
            padding: 6px 28px 3px 10px;
        }
    }
    @media (max-width: 768px) {
        .list-group-item > div > span
        {
            padding-left: 0px;
            padding-top: 5px;
            display: block;
            width: 100%;
            text-align: center;
            line-height: 22px;
        }
        
        .list-group-item .ui-inputgroup
        {
            width: 100%;
            margin-top: 12px;
        }
        .list-group-item .ui-inputgroup input
        {
            min-width: 0;
            width: 100%;
        }
        .list-group-item .ui-inputgroup input,
        .list-group-item input
        {
            min-width: 100% !important;
        }
    }
    .list-group-item .ui-inputgroup button:hover
    {
        background: $mainHoverColor;
        border: 0;
    }
    .list-group-item > div
    {
        word-break: break-all;
        width: 100%;
        text-align: right;
    }
    .list-group-item > strong,
    .list-group-item > div > strong
    {
        margin-left: 6px;
        display: inline-block;
    }

}
// ------- ar style -------



// fix style
@media (min-width: 768px)
{
    .list-group-item.input-select-many-in-profile--open
    {
        padding-bottom: 19px !important;
        padding-top: 0px !important;

        .ui-inputgroup
        {
            top: 12px !important;
        }
    }
}
