<custom-data-view
    (onLazyLoad)='onLazyLoad($event)'
        
    [useSearch]='true'

    [useFilter]='false'
    (onReset)='onReset($event)'

    [loading]='loading'
    [itemsCount]='clients.length | numEnToAr'
    [bottomLengthTitle]="'clients_count' | translate"

    [displayLink]='false'
>
    <!-- content -->
    <div *ngFor="let item of clients" class="ui-g parent-in-custom-data-view" >
        

        <div class="parent-of-image hidden-xs" style="margin-top: -5px;">
            <img 
                onError="this.src='/assets/images/no-image.png'" 
                [src]="item.image ? imageUrl + item.image : '/assets/images/no-image.png'" class="img-responsive" 
                alt="Image"
            >
        </div>
        
        <div class="ui-g-9 ui-sm-12">

            <!-- client -->
            <div class="ui-g item-in-custom-data-view">
                
                <div class="ui-g-12">
                    <i class="fa fa-user"></i>
                    <strong>
                        {{'name' | translate}} :
                    </strong>
                    <span>
                        {{ item.name }}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-envelope"></i>
                    <strong>
                        {{'email' | translate}} :
                    </strong>
                    <span>
                        {{ item.email }}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-phone"></i>
                    <strong>
                        {{'phone' | translate}} :
                    </strong>
                    <span [innerHTML]='item.phone |numEnToAr'>
                    </span>
                </div>


                <button *ngIf="item.deleted" class="item-btn-deleted item-btn-2" tooltipPosition="top" 
                    [pTooltip]="'deleted' | translate" 
                    pButton type="button" icon="fa fa-times" >
                </button>
                <button *ngIf="!item.deleted" class="item-btn-not-deleted item-btn-2" tooltipPosition="top" 
                    [pTooltip]="'not_deleted' | translate" 
                    pButton type="button" icon="fa fa-times" >
                </button>

                <button class="item-btn item-btn-1" tooltipPosition="top" 
                    [pTooltip]="'view_client' | translate" 
                    [routerLink]="['/view-clients' , item._id]" 
                    pButton type="button" icon="fa fa-user" >
                </button>


            </div>
            <!-- carGroup -->
                                                    
        </div>

    </div>
    <!-- ./content    -->

</custom-data-view>

