
<custom-data-view
    (onLazyLoad)='onLazyLoad($event)'
    
    [useSearch]='true'

    filterByIcon='fa-object-ungroup'
    [filterByTitle]="'all_employee_groups' | translate"

    [useFilter]='true'
    [filterByOptions]='employeeGroupsOptions'
    (onReset)='onReset($event)'

    [loading]='loading'
    [itemsCount]='employees.length | numEnToAr'
    [bottomLengthTitle]="'employees_count' | translate"

    [displayLink]='true'
    [linkUrl]="['/view-employees/add-employee']"
    [linkLabel]="'add' | translate"
>
    <!-- content -->
    <div *ngFor="let item of employees" class="ui-g parent-in-custom-data-view" >
        <div class="ui-g-12">

            <!-- employee -->
            <div class="ui-g item-in-custom-data-view">

                <div class="ui-g-12">
                    <i class="fa fa-user"></i>
                    <strong>
                        {{'name' | translate}} :
                    </strong>
                    <span>
                        {{ item.name }}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-object-ungroup"></i>
                    <strong>
                        {{'employee_group' | translate}} :
                    </strong>
                    <span>
                        {{ item.employeeGroup | getValueByLang:"nameEn,nameAr"  }}
                    </span>
                </div>


                <div class="ui-g-12">
                    <i class="fa fa-briefcase"></i>
                    <strong>
                        {{'branches' | translate}} :
                    </strong>
                    <span [innerHTML]='item.employeeGroup.branches | showBranches'>
                    </span>
                </div>

                <div class="ui-g-12">
                    <i 
                        style="font-size:13px;"
                        [ngStyle]="{color: item.isOnline ? '#5fc00c' : 'gray'}"
                        class="fa fa-circle">
                    </i>
                    <strong
                        [ngStyle]="{color: item.isOnline ? '#5fc00c' : 'gray'}"
                    >
                        {{ (item.isOnline ? 'online' : 'offline') | translate }}
                    </strong>
                </div>

                

                <button *ngIf="item.deleted" class="item-btn-deleted item-btn-3" tooltipPosition="top" 
                    [pTooltip]="'deleted' | translate" 
                    pButton type="button" icon="fa fa-times" >
                </button>
                <button *ngIf="!item.deleted" class="item-btn-not-deleted item-btn-3" tooltipPosition="top" 
                    [pTooltip]="'not_deleted' | translate" 
                    pButton type="button" icon="fa fa-times" >
                </button>

                <button class="item-btn" tooltipPosition="top" 
                    [pTooltip]="'view_employee' | translate" 
                    [routerLink]="['/view-employees' , item._id]" 
                    pButton type="button" icon="fa fa-user" >
                </button>

                <button class="item-btn item-btn-2" tooltipPosition="top" 
                    [pTooltip]="'view_employee_group' | translate" 
                    [routerLink]="['/view-employee-groups' , item.employeeGroup._id]" 
                    pButton type="button" icon="fa fa-object-ungroup" >
                </button>

            </div>
            <!-- ./employee -->
                                                    
        </div>
    </div>
    <!-- ./content    -->

</custom-data-view>

