// --------- var ---------
$mainColor : #6edd19;
$mainHoverColor : #5fc00c;
$editIconColor: #72afd2;
$textColor : #696666;
@mixin transition($time) {
    -webkit-transition: all $time;
    -o-transition: all $time;
    -moz-transition: all $time;
    transition: all $time;
};
// --------- var ---------


// ------- main style -------
::ng-deep overview-editor p-editor .ql-formats .ql-image {
    display: none !important;
};
.save-parent {
    padding-top: 15px
};
.panel-heading {
    position: relative;
    & > .fa-edit ,
    & > .fa-times 
    {
        position: absolute;
        top: 9px;
        color: $editIconColor;
        font-size: 22px;
        cursor: pointer;
    };
};
::ng-deep .style-rtl overview-editor .p-editor-parent-body-en,
::ng-deep .style-ltr overview-editor .p-editor-parent-body-en
{
    direction: ltr !important;
}
::ng-deep .style-rtl overview-editor .p-editor-parent-body-ar,
::ng-deep .style-ltr overview-editor .p-editor-parent-body-ar
{
    direction: rtl !important;
}

.viewer
{
    // border: 2px solid $mainHoverColor;
    min-height: 320px;
}
// ------- main style -------


// ------- en style [ltr] -------
::ng-deep .style-ltr overview-editor .panel-heading > .fa-edit ,
::ng-deep .style-ltr overview-editor .panel-heading > .fa-times 
{
    left: 13px;
};
// ------- en style -------

// ------- ar style [rtl] -------
::ng-deep .style-rtl overview-editor .panel-heading > .fa-edit ,
::ng-deep .style-rtl overview-editor .panel-heading > .fa-times 
{
    right: 13px;
};
// ------- ar style -------
