<div class="panel panel-default">
    <div class="panel-heading">

        <panel-heading-in-profile
            [name]='title'
            [deleted]='false'
                
            [displayIsOnline]='false'
            [isOnline]='false'

            [displayControl]='false'
            [canDelete]='false'
            [canRestore]='false'
        >
        </panel-heading-in-profile>
        
        <i 
            *ngIf='!edit' 
            (click)='showEdit()'
            tooltipPosition="top" [pTooltip]="'edit' | translate"
            class="fa fa-edit"
        ></i>
        <i 
            *ngIf='edit' 
            (click)='hideEdit()'
            tooltipPosition="top" [pTooltip]="'close' | translate"
            class="fa fa-times"
        ></i>

    </div>

    <div class="panel-body">
        <div class='row'>
            <div *ngIf="edit" class="col-xs-12 col-xs-offset-0 col-md-12" style="min-height: 320px">
                <p-editor *ngIf="isFullLoad" 
                    [(ngModel)]="overviewModel" 
                    [style]="{'height':'320px' ,'width':'100%'}">
                </p-editor>
            </div>
            <div 
                [innerHTML]='viewer | safeHtml' 
                *ngIf="!edit" 
                class='viewer ql-editor col-xs-12 col-xs-offset-0 col-md-12 
                {{ direction === "ltr" ? "p-editor-parent-body-en" : "p-editor-parent-body-ar"}}'
            >
            </div>
        </div>

        <div *ngIf='canEdit && edit' class='row save-parent'>
            <div class='center-child-in-laptop col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2'>
                <app-btn (onClick)='save()' [label]="'save'| translate"></app-btn>
            </div>
        </div>

    </div>

</div>