<div class="router-outlet-content">
    <div class="container">
            
    <custom-data-view
        (onLazyLoad)='onLazyLoad($event)'
            
        [useSearch]='true'

        [useFilter]='false'
        (onReset)='onReset($event)'

        [loading]='loading'
        [itemsCount]='bookings.length | numEnToAr'
        [bottomLengthTitle]="'bookings_count' | translate"

        [displayLink]='false'
    >
    
            <!-- content -->
            <div *ngFor="let item of bookings" class="ui-g parent-in-custom-data-view" >
                
            <div class="parent-of-image ui-sm-12" style="margin-top: 35px;">
                <img 
                    [routerLink]="['/view-client-bookings' , item._id]"  
                    onError="this.src='/assets/images/no-image.png'" 
                    [src]="item.carGroup.images[0] ? imageUrl + item.carGroup.images[0] : '/assets/images/no-image.png'" class="img-responsive" 
                    alt="Image"
                >
            </div>

            <div class="ui-g-9 ui-sm-12">

                <!-- carGroup -->
                <div class="ui-g item-in-custom-data-view">

                <div class="ui-g-12">
                    <i class="fa fa-car"></i>
                    <strong>
                        {{ item.carGroup.carType | getValueByLang:'nameEn,nameAr' }} - 
                        {{ item.carGroup.carModel | getValueByLang:'nameEn,nameAr'}} -
                        {{ item.carGroup.year | numEnToAr}} 
                    </strong>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-briefcase"></i>
                    <strong>
                        {{'return_branch' | translate}} :
                    </strong>
                    <span>
                        {{ item.returnBranch | getValueByLang:"nameEn,nameAr"  }}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-briefcase"></i>
                    <strong>
                        {{'pick_up_branch' | translate}} :
                    </strong>
                    <span>
                        {{ item.pickUpBranch | getValueByLang:"nameEn,nameAr"  }}
                    </span>
                </div>


                <div class="ui-g-12">
                    <i class="fa fa-usd"></i>
                    <strong>
                        {{'price' | translate}} :
                    </strong>
                    <span [innerHTML]='item.pricePerDay | numEnToAr'>
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-usd"></i>
                    <strong>
                        {{'discount' | translate}} :
                    </strong>
                    <span [innerHTML]='item.discountPerDay | numEnToAr'>
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-usd"></i>
                    <strong>
                        {{'days_count' | translate}} :
                    </strong>
                    <span [innerHTML]='item.daysCount | numEnToAr'>
                    </span>
                </div>


                <div class="ui-g-12">
                    <i class="fa fa-usd"></i>
                    <strong>
                        {{'total_price' | translate}} :
                    </strong>
                    <span [innerHTML]='item.total | numEnToAr'>
                    </span>
                </div>

                <button class="item-btn" tooltipPosition="top" 
                    [pTooltip]="'view_car_group' | translate" 
                    [routerLink]="['/view-client-bookings' , item._id]"  
                    pButton type="button" icon="fa fa-car" >
                </button>


                </div>

                <!-- carGroup -->
            </div>


            </div>
            <!-- ./content    -->


    </custom-data-view>

    </div>
</div>