<div class="error-page">
    <h2 class="headline text-yellow" [innerHTML]='number404'></h2>

    <div class="error-content">
        <h3 style="padding-top: 40px;">
            <i class="fa fa-warning text-yellow"></i> 
            {{ 'error404_title' | translate }}
        </h3>

        <p>
            {{ 'error404_msg1' | translate }}
            <a href="#" (click)='return()'>
                {{ 'error404_msg2' | translate }}
            </a>
            {{ 'error404_msg3' | translate }}
        </p>
    </div>
    <!-- /.error-content -->
</div>
<!-- /.error-page -->