<div class="parent-of-signin-form-page parent-of-add-form-page ">
	<div class="wrap-login100 row">

		<form role="form" [formGroup]='formGroup' (submit)='onSubmit()' class="login100-form">
			
			<span class="login100-form-title">
				{{'add_employee_group' | translate}}
			</span>

			<!-- branches -->
		  	<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 select-many" >
					<select-many
						formControlName="branches"
						icon='fa fa-briefcase'     
						[options]='branchesOptions'   
						[placeholder]='"branches" | translate'
					>
					</select-many>
				</div>
				<input-error-in-form [control]='formGroup.controls.branches'></input-error-in-form>
			</div>

			<!-- screens -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 select-many" >
					<select-many
						formControlName="screens"
						icon='fa fa-desktop'     
						[options]='screensOptions'   
						[placeholder]='"screens" | translate'
					>
					</select-many>
				</div>
				<input-error-in-form [control]='formGroup.controls.screens'></input-error-in-form>
			</div>

			<!-- nameEn -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100" >
					<input 
						formControlName='nameEn' 
						class="input100" 
						type="text" 
						[placeholder]="'name_en' | translate">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-object-ungroup" aria-hidden="true"></i>
					</span>
				</div>
				<input-error-in-form [control]='formGroup.controls.nameEn'></input-error-in-form>
			</div>


			<!-- nameAr -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100" >
					<input 
						formControlName='nameAr' 
						class="input100" 
						type="text" 
						[placeholder]="'name_ar' | translate">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-object-ungroup" aria-hidden="true"></i>
					</span>
				</div>
				<input-error-in-form [control]='formGroup.controls.nameAr'></input-error-in-form>
			</div>

		
		
			<!-- btn -->
			<div class="col-md-4 col-md-offset-4 col-xs-12 col-xs-offset-0">
				<div class="container-login100-form-btn">
					<button class="login100-form-btn" >
						{{'save' | translate}}
					</button>
				</div>
			</div>
	
		</form>
	</div>
</div>



