// --------- var ---------
$mainColor : #6edd19;
$mainHoverColor : #5fc00c;
$editIconColor: #72afd2;
$textColor : #696666;
@mixin transition($time) {
    -webkit-transition: all $time;
    -o-transition: all $time;
    -moz-transition: all $time;
    transition: all $time;
};
// --------- var ---------



// ------- main style -------
::ng-deep icon-car-to-booking {
    .icon-car-to-booking
    {
        border-radius: 50%;
        padding: 25px;
        background: $mainColor !important;
        border-color: $mainColor !important;
        position: fixed; 
        top: 100px; 
        height: 30px;
        width: 36px;
        z-index: 2;
    }
    .icon-car-to-booking:hover
    {
        transform: scale(1.2);
        background: $mainHoverColor !important;
        border-color: $mainHoverColor !important;
    }
    .icon-car-to-booking .fa
    {
        color: #fff;
        font-size: 25px !important;
        left: 48% !important;
    }
}
// ------- main style -------


// ------- en style -------
::ng-deep .style-ltr icon-car-to-booking{
    .icon-car-to-booking.icon-car-to-booking-hide
    {
        right: -60px;
    }
    .icon-car-to-booking.icon-car-to-booking-show
    {
        right: 20px;
    }
    .icon-car-to-booking
    {
        right: -60px;
        @include transition(0.4s) ;
    }
}
// ------- en style -------

// ------- ar style -------
::ng-deep .style-rtl icon-car-to-booking{
    .icon-car-to-booking.icon-car-to-booking-hide
    {
        left: -60px;
    }
    .icon-car-to-booking.icon-car-to-booking-show
    {
        left: 20px;
    }
    .icon-car-to-booking
    {
        left: -60px;
        @include transition(0.4s);
    }
}
// ------- ar style -------
