<div class="view-profile-any-thing" *ngIf="branch">

    <div style="margin-bottom: 15px;">
        <image-slider
            [images]="branch.images"
            [canAdd]='canEditBranchImage'
            [canDelete]='canEditBranchImage'
            [title]="'branch_images' | translate"
            (onDelete)='onDeleteImage($event)'
            (onAdd)='onAddImage($event)'
        >
        </image-slider>
    </div>
        
    <div style="margin-bottom: 15px;" class="row">  
        <div class="col-md-12">
            
            <!-- branch -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <panel-heading-in-profile
                        [name]='branch | getValueByLang:"nameEn,nameAr"'
                        [deleted]='branch.deleted'
                        
                        [displayIsOnline]='false'

                        [displayControl]='true'
                        [canDelete]='canDeleteBranch'
                        [canRestore]='canRestoreBranch'

                        (onDelete)='delete()'
                        (onRestore)='restore()'
                    >
                    </panel-heading-in-profile>
                </div>

                <div class="panel-body">

                    <ul class="list-group">
                        
                        <input-text-in-profile
                            [displayControl]='canEditBranch' [edit]='edit.nameEn'

                            fieldName='nameEn' [value]='branch.nameEn' 
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpBranchModel.nameEn'
                            [requiredErrorEnum]='nameEn_required'
                            [invalidErrorEnum]='nameEn_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'name_en' | translate"
                            icon='fa fa-briefcase'

                            editNameInEvent='nameEn'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-text-in-profile>

                        <input-text-in-profile
                            [displayControl]='canEditBranch' [edit]='edit.nameAr'

                            fieldName='nameAr' [value]='branch.nameAr' 
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpBranchModel.nameAr'
                            [requiredErrorEnum]='nameAr_required'
                            [invalidErrorEnum]='nameAr_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'name_ar' | translate"
                            icon='fa fa-briefcase'

                            editNameInEvent='nameAr'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-text-in-profile>

                        <input-text-in-profile
                            [displayControl]='canEditBranch' [edit]='edit.addressEn'

                            fieldName='addressEn' [value]='branch.addressEn' 
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpBranchModel.addressEn'
                            [requiredErrorEnum]='addressEn_required'
                            [invalidErrorEnum]='addressEn_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'address_en' | translate"
                            icon='fa fa-map-marker'

                            editNameInEvent='addressEn'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-text-in-profile>

                        <input-text-in-profile
                            [displayControl]='canEditBranch' [edit]='edit.addressAr'

                            fieldName='addressAr' [value]='branch.addressAr' 
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpBranchModel.addressAr'
                            [requiredErrorEnum]='addressAr_required'
                            [invalidErrorEnum]='addressAr_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'address_ar' | translate"
                            icon='fa fa-map-marker'

                            editNameInEvent='addressAr'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-text-in-profile>
                        

                        <input-text-in-profile
                            [displayControl]='canEditBranch' [edit]='edit.phone'

                            [fieldValue]='branch.phone | numEnToAr' 
                            fieldName='phone' 
                            [value]='branch.phone' 
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpBranchModel.phone'
                            [requiredErrorEnum]='phone_required'
                            [invalidErrorEnum]='phone_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'phone' | translate"
                            icon='fa fa-phone'

                            editNameInEvent='phone'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-text-in-profile>
                        


                        <input-text-in-profile
                            [displayControl]='canEditBranch' [edit]='edit.bookingStartCode'

                            [fieldValue]='branch.bookingStartCode' 
                            fieldName='bookingStartCode' 
                            [value]='branch.bookingStartCode' 
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpBranchModel.bookingStartCode'
                            [requiredErrorEnum]='bookingStartCode_required'
                            [invalidErrorEnum]='bookingStartCode_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'booking_start_code' | translate"
                            icon='fa fa-barcode'

                            editNameInEvent='bookingStartCode'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-text-in-profile>


                        <input-text-in-profile
                            [displayControl]='canEditBranch' [edit]='edit.waitingHoursForConfirm'

                            [fieldValue]='branch.waitingHoursForConfirm | numEnToAr' 
                            fieldName='waitingHoursForConfirm' 
                            [value]='branch.waitingHoursForConfirm' 
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpBranchModel.waitingHoursForConfirm'
                            [requiredErrorEnum]='waitingHoursForConfirm_required'
                            [invalidErrorEnum]='waitingHoursForConfirm_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'waiting_hours_for_confirm' | translate"
                            icon='fa fa-calendar'

                            editNameInEvent='waitingHoursForConfirm'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-text-in-profile>


                        <input-select-one-in-profile
                            [displayControl]='canEditBranch' [edit]='edit.city_id'

                            [placeholder]='"edit" | translate'
                            fieldName='city_id' [fieldValue]='branch.city | getValueByLang:"nameEn,nameAr"'
                            [value]='branch.city?._id'
                            (onSave)='onEditCity($event)'

                            [RegExp]='RegExpCityModel._id'
                            [requiredErrorEnum]='city_id_required'
                            [invalidErrorEnum]='city_id_invalid'
                            (onValidationError)='onValidationError($event)'

                            [options]='citiesOptions'

                            [displayName]="'city' | translate"
                            icon='fa fa-building'

                            editNameInEvent='city_id'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-select-one-in-profile>



                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            fieldName='createdAt' [value]='branch.createdAt | timeAgo'

                            [displayName]="'created_at' | translate"
                            icon='fa fa-sign-in'
                        ></input-text-in-profile>

                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            fieldName='updatedAt' [value]='branch.updatedAt | timeAgo'

                            [displayName]="'updated_at' | translate"
                            icon='fa fa-pencil'
                        ></input-text-in-profile>

                    </ul>

                </div>
            </div>
            <!-- ./branch -->

        </div>
    </div>

    <div style="margin-bottom: 15px;" >
        <overview-editor
            [title]="'overview_en'| translate"
            [canEdit]='canEditBranch'
            [html]='branch.overviewEn'
            (onSave)='onSaveOverViewEn($event)'
            direction='ltr'
        >
        </overview-editor>
    </div>

    <div style="margin-bottom: 15px;" >
        <overview-editor
            [title]="'overview_ar'| translate"
            [canEdit]='canEditBranch'
            [html]='branch.overviewAr'
            (onSave)='onSaveOverViewAr($event)'
            direction='rtl'
        >
        </overview-editor>
    </div>

    <div style="margin-bottom: 15px;" >
        <map
            [title]="'location' | translate"
            [canEdit]='canEditBranch'
            [location]='branch.location'
            (onSave)='onSaveLocation($event)'
        >
        </map>
    </div>


</div> 


