@import './var';


// ------- main style -------
custom-data-view3 ,
custom-data-view2 ,
custom-data-view { 
        
    .parent-in-custom-data-view
    {
        border-bottom: 1px solid #d9d9d9;
        position: relative;
        padding: 2em;
        @media (max-width: 768px) {
            padding: 2em 0px;
        };
    }

    // btn
    .parent-in-custom-data-view .item-in-custom-data-view .item-btn
    {
        padding: 3px 19px;
        background: $mainColor;
        border-color: $mainColor;
        position: absolute;

        span.ui-button-icon-left.ui-clickable
        {
            left: 10px !important;
            font-size: 20px;
            width: 100%;
            text-align: center;
        };

    }
    .parent-in-custom-data-view .item-in-custom-data-view .item-btn-2
    {
        top: 70px;
    }
    .parent-in-custom-data-view .item-in-custom-data-view .item-btn-3
    {
        top: 105px;
    }
    .parent-in-custom-data-view .item-in-custom-data-view .item-btn-4
    {
        top: 140px;
    }
    .parent-in-custom-data-view .item-in-custom-data-view .item-btn-deleted
    {
        padding: 0px 19px;
        background: transparent;
        border-color: transparent;
        position: absolute;
        
        span.ui-button-icon-left.ui-clickable
        {
            left: 10px !important;
            font-size: 20px;
            width: 100%;
            text-align: center;
            color: red
        };

        &:hover {
            background: transparent;
            border-color: transparent;
        }
    }
    .parent-in-custom-data-view .item-in-custom-data-view .item-btn-not-deleted
    {
        padding: 0px 19px;
        background: transparent;
        border-color: transparent;
        position: absolute;
        
        span.ui-button-icon-left.ui-clickable
        {
            left: 10px !important;
            font-size: 20px;
            width: 100%;
            text-align: center;
            color: $textColor;
        };

        &:hover {
            background: transparent;
            border-color: transparent;
        }

    };

    .parent-in-custom-data-view .item-in-custom-data-view .item-btn:hover
    {
        background: $mainHoverColor;
        border-color: $mainHoverColor;
    }
    // ./btn

    
    .parent-in-custom-data-view .item-in-custom-data-view > div > i
    {
        color: $mainColor;
        width: 30px;
        text-align: center;
        font-size: 18px;
    }
    .parent-in-custom-data-view .item-in-custom-data-view > div > strong
    {
        font-size: 16px;
        color: $textColor;
        padding-right: 5px
    }
    .parent-in-custom-data-view .item-in-custom-data-view > div > span
    {
        font-size: 16px;
        color: $textColor;
    }

    .parent-bottom-length-title .lead {
        margin-bottom: 0;
        padding-bottom: 0;

        &.bottom-length-title-text {
            padding-left:5px;
            padding-right:5px;
        }
    }

    .custom-head .parent-search {
        width: 100%;
        height: 100%;
        position: relative;

        input {
            padding: 15px 15px 12px 15px;
            border-radius: 22px;
            color: $textColor;
            font-weight: bold;
            width: 100%;
            border-color: transparent !important;
        }
        button {
            position: absolute;
        }
        .search-btn {
            padding: 12px 18px;
            background: $mainColor;
            border-color: $mainColor;
            &:hover {   
                background: $mainHoverColor;
                border-color: $mainHoverColor;
            }
        }
        .search-close-btn {
            padding: 12px;
            background: red;
            border-color: red;
            &:hover {   
                background: #ca0606;
                border-color: #ca0606;
            }
        }

    

    }

    .parent-of-image {
        margin-top: -15px;
        width: 150px;
        height: 150px;
        img {
            border-radius: 10px;
            border:2px solid $mainHoverColor;
            width: 150px;
            height: 150px;
            padding:1px;
            background:#fff;
            cursor: pointer;
            outline: none;
            @include transition(0.4s);

            &:hover {
                transform: scale(1.15);
            };
        }
    }

};
// ------- main style -------


// ------- en style -------
.style-ltr custom-data-view3 ,
.style-ltr custom-data-view2 ,
.style-ltr custom-data-view {
    .parent-in-custom-data-view .item-in-custom-data-view .item-btn,
    .parent-in-custom-data-view .item-in-custom-data-view .item-btn-deleted,
    .parent-in-custom-data-view .item-in-custom-data-view .item-btn-not-deleted
    {
        right: 10%;
        @media (max-width: 768px) {
            right: 0px;
        }
    };

    .custom-head .parent-search {
        .search-btn {
            right: 0px; 
            border-radius: 0 22px 22px 0;
        }
        .search-close-btn {
            right: 38px; 
        }
    }

    .parent-of-image
    {
        padding-right: 10px;
    }
};
// ------- en style -------


// ------- ar style -------
.style-rtl custom-data-view3 ,
.style-rtl custom-data-view2 ,
.style-rtl custom-data-view {
    .parent-in-custom-data-view .item-in-custom-data-view .item-btn,
    .parent-in-custom-data-view .item-in-custom-data-view .item-btn-deleted,
    .parent-in-custom-data-view .item-in-custom-data-view .item-btn-not-deleted
    {
        left: 10%;
        @media (max-width: 768px) {
            left: 0px;
        }
    };
    .parent-bottom-length-title
    {
        direction: rtl;
    };
    .custom-head {
        direction: rtl;
    };
    .parent-in-custom-data-view
    {
        direction: rtl;
    }
    .custom-head .parent-search {
        .search-btn {
            left: 0px; 
            border-radius: 22px 0 0 22px;
        }
        .search-close-btn {
            left: 38px; 
        }
    }

    .parent-of-image
    {
        padding-left: 10px;
    }
};
// ------- ar style -------
