@import './var';


// input en
.style-ltr .parent-of-signin-form-page .input100 {
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: #DDDDDD;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 55px;
};
// input ar
.style-rtl .parent-of-signin-form-page .input100 {
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: #DDDDDD;
  height: 50px;
  border-radius: 25px;
  padding: 0 55px 0 30px;
  text-align: right
}


// error ar
.style-rtl .parent-of-signin-form-page {
  .input-error
  {
    position: relative;
    color: red;
    margin-right: 35px;
    text-align: right;
    margin-top: 3px;
    min-height: 20px;
  }
  .input-error .fa
  {
    position: absolute;
    font-size: 14px;
    right: -17px;
    top: 2px;
  }
}
// error en
.style-ltr .parent-of-signin-form-page {
  .input-error
  {
    position: relative;
    color: red;
    margin-left: 35px;
    margin-top: 3px;
    min-height: 20px;
  }
  .input-error .fa
  {
    position: absolute;
    font-size: 14px;
    left: -17px;
    top: 2px;
  }
}


// input icon ar
.style-rtl .parent-of-signin-form-page {
  .symbol-input100 {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    color: #666666;
    @include transition(0.4s);
  }
  .symbol-input100 .fa {
    position: absolute;
    right: 30px;
  }

}
// input icon en
.style-ltr .parent-of-signin-form-page {
  .symbol-input100 {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    pointer-events: none;
    color: #666666;
    @include transition(0.4s);
  }
}

// password en
.style-ltr .parent-of-signin-form-page {

  .parent_input_password {
    .fa-eye:hover 
    {
      color: $mainColor;
    }
    .fa-eye
    {
        position: absolute;
        top: 15px;
        right: 19px;
        z-index: 2;
        font-size: 17px;
        cursor: pointer;
        color: #333;
    }
  }

}
// password ar
.style-rtl .parent-of-signin-form-page {

  .parent_input_password {
    .fa-eye:hover 
    {
      color: $mainColor;
    }
    .fa-eye
    {
        position: absolute;
        top: 15px;
        left: 19px;
        z-index: 2;
        font-size: 17px;
        cursor: pointer;
        color: #333;
    }
  }

}


.parent-of-signin-form-page {

  // input
  .wrap-input100 > input {
    outline: none;
    border: none;
  }
  .wrap-input100 > input:focus::-webkit-input-placeholder { color:transparent; }
  .wrap-input100 > input:focus:-moz-placeholder { color:transparent; }
  .wrap-input100 > input:focus::-moz-placeholder { color:transparent; }
  .wrap-input100 > input:focus:-ms-input-placeholder { color:transparent; }
  .wrap-input100 > input::-webkit-input-placeholder { color: #999999; }
  .wrap-input100 > input:-moz-placeholder { color: #999999; }
  .wrap-input100 > input::-moz-placeholder { color: #999999; }
  .wrap-input100 > input:-ms-input-placeholder { color: #999999; }

  .wrap-login100 {
    
    background: #FFF;
    border-radius: 8px;
    border: 1px solid #DDD;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 7% 130px 7% 95px;
  }
  .login100-pic {
    width: 316px;
  }
  .login100-pic img {
    max-width: 100%;
  }
  .login100-form {
    width: 290px;
  }
  .login100-form-title {
    font-size: 24px;
    color: #666666;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 45px;
  }
  .wrap-input100 {
    position: relative;
    width: 100%;
    margin-top: 12px;
    z-index: 1;
  }

  .focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: $mainColor;
  }
  .input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }
  @-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
  }
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
  }
  .input100:focus + .focus-input100 + .symbol-input100 {
    color: $mainColor;
  }


  //button
  button {
    outline: none !important;
    border: none;
    background: transparent;
  }
  button:hover {
    cursor: pointer;
  }
  .container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
    font-weight: bold;
  }
  .login100-form-btn {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    width: 75%;
    height: 40px;
    border-radius: 25px;
    background: $mainColor;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    @include transition(0.4s);
    
  }
  .login100-form-btn:hover {
    background: $mainHoverColor;
  }

  // Responsive
  @media (max-width: 992px) {
    .wrap-login100 {
      padding: 100px 90px 33px 85px;
    }

    .login100-pic {
      width: 35%;
    }

    .login100-form {
      width: 50%;
    }
  }

  @media (max-width: 768px) {
    .wrap-login100 {
      padding: 50px 80px 33px 80px;
      width: 100%
    }

    .login100-pic {
      display: none;
    }

    .login100-form {
      width: 100%;
    }
  }

  @media (max-width: 576px) {
    .wrap-login100 {
      padding: 50px 15px 33px 15px;
    }
  }


}


// for add page
.wrap-input100.select-one,
.wrap-input100.select-many
 {
  z-index: auto;
}

.parent-of-add-form-page {
  .login100-form-title {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .wrap-login100 {
    padding:30px !important;
    @media (max-width: 768px) {
      padding:30px 0px !important;
    }
  }
  form {
    width: 100% !important;
  }
}