@import './form';
@import './profile';
@import './loading.scss';
@import './swal.scss';
@import './custom-data-view,2,3.scss';
@import './input-text,password,calendar-in-profile.scss';





// main 
p , div , strong , a , label
{
    font-family: Verdana , Arial, Helvetica, sans-serif;
    letter-spacing: 0.3px
};
.row {
    margin-right: 0;
    margin-left: 0;

    &.row-eq-height {
        @media (min-width: 768px) {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        };
    };
};
// ./main 

// links
a {
    cursor: pointer;
}
a:hover , a:focus , a:active {
    text-decoration: none;
};
// ./links

// center
.center-child-in-laptop
{
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

    justify-content: center;
    align-items: center;
};
@media (max-width: 768px) {
    .center-child-in-phone
    {
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

        justify-content: center;
        align-items: center;
    }
};
// ./center

// for text hover color
.ui-inputtext:focus
{
    box-shadow: 0 0 5px #5fc00c;
}
// ./for text hover color


// on ar
.style-rtl *
{
    letter-spacing: 0 !important;
};



// for add car 
.tooltipStyleClass-in-plateNumber {
    direction: ltr !important;
    text-align: left !important;
};