// main
$mainColor : #6edd19;
$mainHoverColor : #5fc00c;

// icon
$editIconColor: #72afd2;

// text
$textColor : #696666;


@mixin transition($time) {
    -webkit-transition: all $time;
    -o-transition: all $time;
    -moz-transition: all $time;
    transition: all $time;
};
  