// --------- var ---------
$mainColor : #6edd19;
$mainHoverColor : #5fc00c;
$editIconColor: #72afd2;
$textColor : #696666;
@mixin transition($time) {
    -webkit-transition: all $time;
    -o-transition: all $time;
    -moz-transition: all $time;
    transition: all $time;
};
// --------- var ---------


// ------- main style -------
div.chart-statistics-parent
{
    position: relative;
    margin: 25px 10px 0 10px;
}
div.chart-statistics-parent .chart-overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(34, 45, 50, 0.8);
    z-index: 1;
    border-radius: 8px;
}
// ------- main style -------


// ------- en style -------
// ------- en style -------

// ------- ar style -------
// ------- ar style -------
