
<custom-data-view
    (onLazyLoad)='onLazyLoad($event)'
    
    [useSearch]='true'
    [useFilter]='false'

    (onReset)='onReset($event)'

    [loading]='loading'
    [itemsCount]='branches.length | numEnToAr'
    [bottomLengthTitle]="'branches_count' | translate"

    [displayLink]='canAddBranch'
    [linkUrl]="['/view-branches/add-branch']"
    [linkLabel]="'add' | translate"
>
    <!-- content -->
    <div *ngFor="let item of branches" class="ui-g parent-in-custom-data-view" >
        
        
        <div class="hidden-xs parent-of-image" style="margin-top:21px">
            <img 
                [routerLink]="['/view-branches' , item._id]" 
                onError="this.src='/assets/images/no-image.png'" 
                [src]="item.images[0] ? imageUrl + item.images[0] : '/assets/images/no-image.png'" class="img-responsive" 
                alt="Image"
            >
        </div>

        <div class="ui-g-9 ui-sm-12">

            <!-- branches -->
            <div class="ui-g item-in-custom-data-view">

                <div class="ui-g-12">
                    <i class="fa fa-briefcase"></i>
                    <strong>
                        {{'name' | translate}} :
                    </strong>
                    <span>
                        {{ item | getValueByLang:"nameEn,nameAr"  }}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-building"></i>
                    <strong>
                        {{'city' | translate}} :
                    </strong>
                    <span>
                        {{ item.city | getValueByLang:"nameEn,nameAr"  }}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-map-marker"></i>
                    <strong>
                        {{'address' | translate}} :
                    </strong>
                    <span>
                        {{ item | getValueByLang:"addressEn,addressAr"  }}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-phone"></i>
                    <strong>
                        {{'phone' | translate}} :
                    </strong>
                    <span [innerHTML]=' item.phone | numEnToAr'>
                    </span>
                </div>


                <div class="ui-g-12">
                    <i class="fa fa-barcode"></i>
                    <strong>
                        {{'booking_start_code' | translate}} :
                    </strong>
                    <span [innerHTML]=' item.bookingStartCode | numEnToAr'>
                    </span>
                </div>
                
                
                <button *ngIf="item.deleted" class="item-btn-deleted item-btn-2" tooltipPosition="top" 
                    [pTooltip]="'deleted' | translate" 
                    pButton type="button" icon="fa fa-times" >
                </button>
                <button *ngIf="!item.deleted" class="item-btn-not-deleted item-btn-2" tooltipPosition="top" 
                    [pTooltip]="'not_deleted' | translate" 
                    pButton type="button" icon="fa fa-times" >
                </button>

                <button class="item-btn" tooltipPosition="top" 
                    [pTooltip]="'view_branch' | translate" 
                    [routerLink]="['/view-branches' , item._id]" 
                    pButton type="button" icon="fa fa-briefcase" >
                </button>

            </div>
            <!-- ./branches -->
                                                    
        </div>
    </div>
    <!-- ./content    -->

</custom-data-view>

