<div class="parent-of-signin-form-page parent-of-add-form-page ">
	<div class="wrap-login100 row">

		<form role="form" [formGroup]='formGroup' (submit)='onSubmit()' class="login100-form">
			
			<span class="login100-form-title">
				{{'add_branch' | translate}}
			</span>

			<!-- nameEn -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100" >
					<input 
						formControlName='nameEn' 
						class="input100" 
						type="text" 
						placeholder="{{'name_en' | translate}}">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-briefcase" aria-hidden="true"></i>
					</span>
				</div>
				<input-error-in-form [control]='formGroup.controls.nameEn'></input-error-in-form>
			</div>

			<!-- nameAr -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 " >
					<input 
						formControlName='nameAr' 
						class="input100" 
						type="text" 
						placeholder="{{'name_ar' | translate}}">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-briefcase" aria-hidden="true"></i>
					</span>
				</div>
				<input-error-in-form [control]='formGroup.controls.nameAr'></input-error-in-form>
			</div>

			<!-- addressEn -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 " >
					<input 
						formControlName='addressEn' 
						class="input100" 
						type="text" 
						placeholder="{{'address_en' | translate}}">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
					</span>
				</div>
				<input-error-in-form [control]='formGroup.controls.addressEn'></input-error-in-form>
			</div>

			<!-- addressAr -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 " >
					<input 
						formControlName='addressAr' 
						class="input100" 
						type="text" 
						placeholder="{{'address_ar' | translate}}">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
					</span>
				</div>
				<input-error-in-form [control]='formGroup.controls.addressAr'></input-error-in-form>
			</div>
		
			<!-- phone -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 " >
					<input 
						formControlName='phone' 
						class="input100" 
						type="text" 
						placeholder="{{'phone' | translate}}">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-phone" aria-hidden="true"></i>
					</span>
				</div>
				<input-error-in-form [control]='formGroup.controls.phone'></input-error-in-form>
			</div>

			
			<!-- bookingStartCode -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 " >
					<input 
						formControlName='bookingStartCode' 
						class="input100" 
						type="text" 
						placeholder="{{'booking_start_code' | translate}}">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-barcode" aria-hidden="true"></i>
					</span>
				</div>
				<input-error-in-form [control]='formGroup.controls.bookingStartCode'></input-error-in-form>
			</div>

						
			<!-- waitingHoursForConfirm -->
			<div class="col-md-6 col-xs-12 ">
				<div class="wrap-input100 " >
					<input 
						formControlName='waitingHoursForConfirm' 
						class="input100" 
						type="text" 
						placeholder="{{'waiting_hours_for_confirm' | translate}}">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-calendar" aria-hidden="true"></i>
					</span>
				</div>
				<input-error-in-form [control]='formGroup.controls.waitingHoursForConfirm'></input-error-in-form>
			</div>

			<!-- city_id -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 select-one" >
					<select-one
						formControlName="city_id"
						icon='fa fa-building'     
						[options]='citiesOptions'   
						[placeholder]='"city" | translate'
					>
					</select-one>
				</div>
				<input-error-in-form [control]='formGroup.controls.city_id'></input-error-in-form>
			</div>


		
			<!-- btn -->
			<div class="col-md-4 col-md-offset-4 col-xs-12 col-xs-offset-0">
				<div class="container-login100-form-btn">
					<button class="login100-form-btn" >
						{{'save' | translate}}
					</button>
				</div>
			</div>
	
		</form>
	</div>
</div>



