<div class="view-profile-any-thing">
    <div class="row" *ngIf="employeeGroup">  
        <div class="col-md-12">
            
            <!-- employeeGroup -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <panel-heading-in-profile
                        [name]='employeeGroup | getValueByLang:"nameEn,nameAr"'
                        [deleted]='employeeGroup.deleted'
                        
                        [displayIsOnline]='false'

                        [displayControl]='true'
                        [canDelete]='true'
                        [canRestore]='true'

                        (onDelete)='delete()'
                        (onRestore)='restore()'
                    >
                    </panel-heading-in-profile>
                </div>

                <div class="panel-body">

                    <ul class="list-group">
                        
                        <input-text-in-profile
                            [displayControl]='true' [edit]='edit.nameEn'

                            fieldName='nameEn' [value]='employeeGroup.nameEn' 
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpEmployeeGroupModel.nameEn'
                            [requiredErrorEnum]='nameEn_required'
                            [invalidErrorEnum]='nameEn_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'name_en' | translate"
                            icon='fa fa-object-ungroup'

                            editNameInEvent='nameEn'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-text-in-profile>

                        <input-text-in-profile
                            [displayControl]='true' [edit]='edit.nameAr'

                            fieldName='nameAr' [value]='employeeGroup.nameAr' 
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpEmployeeGroupModel.nameAr'
                            [requiredErrorEnum]='nameAr_required'
                            [invalidErrorEnum]='nameAr_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'name_ar' | translate"
                            icon='fa fa-object-ungroup'

                            editNameInEvent='nameAr'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-text-in-profile>

                        <input-select-many-in-profile
                            [displayControl]='true' [edit]='edit.branches'

                            [placeholder]='"edit" | translate'
                            fieldName='branches' [fieldValue]='employeeGroup.branches | showBranches'
                            [value]='branches_ids'
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpBranchModel._id'
                            [requiredErrorEnum]='branches_required'
                            [invalidErrorEnum]='branches_invalid'
                            (onValidationError)='onValidationError($event)'

                            [options]='branchesOptions'

                            [displayName]="'branches' | translate"
                            icon='fa fa-briefcase'

                            editNameInEvent='branches'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-select-many-in-profile>

                        <input-select-many-in-profile
                            [displayControl]='true' [edit]='edit.screens'

                            [placeholder]='"edit" | translate'
                            fieldName='screens' [fieldValue]='employeeGroup.screens | showScreens'
                            [value]='employeeGroup.screens'
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpEmployeeGroupModel.screens'
                            [requiredErrorEnum]='screens_required'
                            [invalidErrorEnum]='screens_invalid'
                            (onValidationError)='onValidationError($event)'

                            [options]='screensOptions'

                            [displayName]="'screens' | translate"
                            icon='fa fa-desktop'

                            editNameInEvent='screens'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-select-many-in-profile>




                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            fieldName='createdAt' [value]='employeeGroup.createdAt | timeAgo'

                            [displayName]="'created_at' | translate"
                            icon='fa fa-sign-in'
                        ></input-text-in-profile>

                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            fieldName='updatedAt' [value]='employeeGroup.updatedAt | timeAgo'

                            [displayName]="'updated_at' | translate"
                            icon='fa fa-pencil'
                        ></input-text-in-profile>

                    </ul>

                </div>
            </div>
            <!-- ./employeeGroup -->

        </div>
    </div>
</div> 


