// --------- var ---------
$mainColor : #6edd19;
$mainHoverColor : #5fc00c;
$editIconColor: #72afd2;
$textColor : #696666;
@mixin transition($time) {
    -webkit-transition: all $time;
    -o-transition: all $time;
    -moz-transition: all $time;
    transition: all $time;
};
// --------- var ---------


// ------- main style -------
::ng-deep select-one {

    width: 100%;
    & > div {
        @media (max-width: 768px) {
            padding-top: 5px;
        }
    }
    p-dropdown.select-one *
    {
        letter-spacing: 0.5px;
    }
    p-dropdown.select-one .ui-dropdown.ui-state-focus
    {
        box-shadow: 0 0 5px $mainColor !important;
    }
    p-dropdown.select-one.ui-state-highlight
    {
        background: $mainColor;
    }
    p-dropdown.select-one .ui-dropdown,
    p-dropdown.select-one .ui-dropdown:hover
    {
        padding: 6px;
        padding-left: 15px;
        border-radius: 22px;
        background: white ;
        border: 0;
    }
    p-dropdown.select-one .ui-dropdown-trigger.ui-state-default.ui-corner-right
    {
        border: 0;
        background: $mainColor;
        
    }
    p-dropdown.select-one .ui-dropdown-trigger.ui-state-default.ui-corner-right:hover
    {
        border: 0;
        background: $mainHoverColor !important;
        
    }
    p-dropdown.select-one .ui-dropdown .ui-dropdown-trigger .fa {
        color: #fff;
    }
    p-dropdown.select-one .ui-dropdown-item
    {
        transition: padding 0.5s  ease;
        -webkit-transition: padding 0.5s  ease;
        -moz-transition: padding 0.5s  ease;
        -o-transition: padding 0.5s  ease;
        color: $mainHoverColor;
        margin-top: 1px;
        margin-bottom: 1px;
    }
    p-dropdown.select-one .ui-dropdown-item:hover
    {
        color: $mainHoverColor !important;
    }
    p-dropdown.select-one .ui-dropdown-item.ui-state-highlight:hover,
    p-dropdown.select-one .ui-dropdown-item.ui-state-highlight
    {
        color: #FFF !important;
    }
    p-dropdown.select-one .ui-dropdown-item.ui-state-highlight
    {
        background: $mainHoverColor;
        border-color: $mainHoverColor;
    }
    p-dropdown.select-one label.ui-dropdown-label
    {
        color: $mainHoverColor ;
    };
    p-dropdown.select-one 
    {
        z-index: auto;
        position: relative;
        width: 100%;
    }
    p-dropdown.select-one > i.fa
    {
        position: absolute;
        z-index: 1;
        top: 18px;
        left: 34px; 
        font-size: 15px;
        color: #666666;
    }
    p-dropdown.select-one  .ui-dropdown
    {
        background: #DDD !important;
        padding: 11px !important;
    }
    p-dropdown.select-one  .ui-dropdown label
    {
        background: #DDD !important;
        color: $textColor !important;
        font-weight: bold !important;
    }
    p-dropdown.select-one .ui-dropdown-trigger-icon {
        color: #fff;
        position: absolute;
        left: 17px;
        top: 27px;
    }
    i.select-one {
        text-align: center;
        width: 32px;
        color: $textColor;
        font-size: 18px;
        position: absolute;
        top: 16px !important;
        z-index: 1;
    };


};
// ------- main style -------


// ------- en style -------
::ng-deep .style-ltr select-one {
    p-dropdown.select-one .ui-dropdown-panel .ui-dropdown-filter {
        padding-right: 2.0em;
        padding-left: 10px;
    }
    p-dropdown.select-one .ui-dropdown-trigger.ui-state-default.ui-corner-right
    {
        padding: 10px 28px 10px 10px;
        border-radius: 0px 22px 22px 0px;
    }
    p-dropdown.select-one .ui-dropdown-item
    {
        padding-left: 7px;
        padding-bottom: 9px;
        padding-top: 12px;
    }
    p-dropdown.select-one .ui-dropdown-item:hover
    {
        padding-left: 15px;
    }  
    p-dropdown.select-one  .ui-dropdown label
    {
        padding-left: 40px !important;
    }
    i.select-one {
        left: 13px !important;
    };


};
// ------- en style -------


// ------- ar style -------
::ng-deep .style-rtl select-one {
    p-dropdown.select-one .ui-dropdown-panel .ui-dropdown-filter {
        padding-left: 2.0em;
        padding-right: 10px;
    }
    p-dropdown.select-one .ui-dropdown-trigger.ui-state-default.ui-corner-right
    {
        left: 0 !important;
        right: auto;
        padding: 10px 28px 10px 10px;
        border-radius: 22px 0px 0px 22px;
    }
    p-dropdown.select-one .ui-dropdown-item
    {
        padding-right: 7px;
        padding-bottom: 9px;
        padding-top: 12px;
        text-align: right
    }
    p-dropdown.select-one .ui-dropdown-item:hover
    {
        padding-right: 15px;
    }
    p-dropdown.select-one  .ui-dropdown label
    {
        padding-right: 40px !important;
    }
    i.select-one {
        right: 13px !important;
    };
    .ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter-icon {
        right: auto;
        left: 1em;
    }
    p-dropdown.select-one
    {
        direction: rtl;
    }
};
// ------- ar style -------


