::ng-deep input-select-one-in-profile.big-input-select-one-in-profile-for-carGroups {
    .list-group-item .ui-inputgroup button {
        height: 100%;
        @media (max-width: 768px) {
          height: calc(100% - 5px);
        }
    }
}


::ng-deep .input-text-in-profile-plate-number input
{
    direction: ltr !important;
}