<div class="view-profile-any-thing">

    <div class="row" *ngIf="car">  
        <div class="col-md-12">
            
            <!-- car -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <panel-heading-in-profile
                        [name]='carGroupTitle'
                        [deleted]='car.deleted'
                        
                        [displayIsOnline]='false'

                        [displayControl]='true'
                        [canDelete]='canDeleteCar'
                        [canRestore]='canRestoreCar'

                        (onDelete)='delete()'
                        (onRestore)='restore()'
                    >
                    </panel-heading-in-profile>
                </div>

                <div class="panel-body">
                    <ul class="list-group">
                        
                        <!-- carGroup -->
                        <input-select-one-in-profile
                            class='big-input-select-one-in-profile-for-carGroups'
                            [displayControl]='canEditCar' [edit]='edit.carGroup_id'

                            [placeholder]='"edit" | translate'
                            fieldName='carGroup_id' [fieldValue]='carGroupTitle'
                            [value]='car.carGroup._id'
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpCarGroupModel._id'
                            [requiredErrorEnum]='carGroup_id_required'
                            [invalidErrorEnum]='carGroup_id_invalid'
                            (onValidationError)='onValidationError($event)'

                            [options]='carGroupsCanThisEmployeeAccessOptions'

                            [displayName]="'car_group' | translate"
                            icon='fa fa-car'

                            editNameInEvent='carGroup_id'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'

                            [displayLink]='true'
                            [linkLabel]="'view_car_groups' | translate"
                            [linkUrl]="['/view-car-groups' , car.carGroup._id]" 
                        ></input-select-one-in-profile>

                        <!-- plateNumber-->
                        <input-text-in-profile
                            class="input-text-in-profile-plate-number"
                            placeholder="123-أ ب ت ج" 

                            [displayControl]='canEditCar' [edit]='edit.plateNumber'

                            fieldName='plateNumber' 
                            [fieldValue]='car.plateNumber'
                            [value]='car.plateNumber' 
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpCarModel.plateNumber'
                            [requiredErrorEnum]='plateNumber_required'
                            [invalidErrorEnum]='plateNumber_invalid'
                            (onValidationError)='onValidationError($event)'

                            [displayName]="'plate_number' | translate"
                            icon='fa fa-id-card'

                            editNameInEvent='plateNumber'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-text-in-profile>


                        <!-- gearType -->
                        <input-select-one-in-profile
                            [displayControl]='canEditCar' [edit]='edit.gearType'

                            [placeholder]='"edit" | translate'
                            fieldName='gearType' [fieldValue]='getGearType(car.gearType)'
                            [value]='car.gearType'
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpCarModel.gearType'
                            [requiredErrorEnum]='gearType_required'
                            [invalidErrorEnum]='gearType_invalid'
                            (onValidationError)='onValidationError($event)'

                            [options]='gearTypesOptions'

                            [displayName]="'gear_type' | translate"
                            icon='fa fa-cogs'

                            editNameInEvent='gearType'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-select-one-in-profile>

                        <!-- status -->
                        <input-select-one-in-profile
                            [displayControl]='canEditCar' [edit]='edit.status'

                            [placeholder]='"edit" | translate'
                            fieldName='status' [fieldValue]='getStatus(car.status)'
                            [value]='car.status'
                            (onSave)='onSaveEdit($event)'

                            [RegExp]='RegExpCarModel.status'
                            [requiredErrorEnum]='status_required'
                            [invalidErrorEnum]='status_invalid'
                            (onValidationError)='onValidationError($event)'

                            [options]='statusOptions'

                            [displayName]="'status' | translate"
                            icon='fa fa-certificate'

                            editNameInEvent='status'
                            (onOpenEdit)='openEdit($event)'
                            (onCloseEdit)='closeEdit($event)'
                        ></input-select-one-in-profile>


                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            fieldName='createdAt' [value]='car.createdAt | timeAgo'

                            [displayName]="'created_at' | translate"
                            icon='fa fa-sign-in'
                        ></input-text-in-profile>

                        <input-text-in-profile
                            [displayControl]='false' [edit]='false'

                            fieldName='updatedAt' [value]='car.updatedAt | timeAgo'

                            [displayName]="'updated_at' | translate"
                            icon='fa fa-pencil'
                        ></input-text-in-profile>

                    </ul>

                </div>
            </div>
            <!-- ./car -->

        </div>
    </div>
</div> 


