<div class="router-outlet-content">
	<div class="container">

		<div class="parent-of-signin-form-page parent-of-add-form-page ">
			<div class="wrap-login100 row">
				<form role="form" [formGroup]='createForm' (submit)='onSubmit()' class="login100-form">
					
					<span class="login100-form-title">
						{{'create_guest' | translate}}
					</span>

					<!-- phone -->
					<div class="col-md-6 col-xs-12">
						<div class="wrap-input100" >
							<input 
								formControlName='phone' 
								class="input100" 
								type="text" 
								placeholder="{{'phone' | translate}}">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</span>
						</div>
						<input-error-in-form [control]='createForm.controls.phone'></input-error-in-form>
					</div>

					<!-- name -->
					<div class="col-md-6 col-xs-12">
						<div class="wrap-input100" >
							<input 
								formControlName='name' 
								class="input100" 
								type="text" 
								placeholder="{{'name' | translate}}">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-user" aria-hidden="true"></i>
							</span>
						</div>
						<input-error-in-form [control]='createForm.controls.name'></input-error-in-form>
					</div>
					
					<!-- iqama -->
					<div class="col-md-6 col-xs-12">
						<div class="wrap-input100" >
							<input 
								formControlName='iqama' 
								class="input100" 
								type="text" 
								placeholder="{{'iqama' | translate}}">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-id-card" aria-hidden="true"></i>
							</span>
						</div>
						<input-error-in-form [control]='createForm.controls.iqama'></input-error-in-form>
					</div>
										
					<!-- drivingLicence -->
					<div class="col-md-6 col-xs-12">
						<div class="wrap-input100" >
							<input 
								formControlName='drivingLicence' 
								class="input100" 
								type="text" 
								placeholder="{{'driving_licence' | translate}}">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-envira" aria-hidden="true"></i>
							</span>
						</div>
						<input-error-in-form [control]='createForm.controls.drivingLicence'></input-error-in-form>
					</div>

					<!-- iqamaExpiryDate hijri-->
					<div class="col-md-6 col-xs-12">
						<div class="parent_input_p-calendar p-calendar wrap-input100" >
							<p-calendar 
								[locale]='localeHijri'
								[ngModelOptions]="{standalone: true}"
								[defaultDate]='defaultHijriDate'
								[(ngModel)]="iqamaExpiryDateInHijriModel"
								[placeholder]="'iqama_expiry_date_hijri' | translate"
								dateFormat="yy-mm-dd" 
								(onSelect)='onSelectIqamaExpiryDateInHijri($event)'
							></p-calendar>
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-calendar" aria-hidden="true"></i>
							</span>
						</div>
						<div style="height:23px"></div>
					</div>
					<!-- iqamaExpiryDate -->
					<div class="col-md-6 col-xs-12">
						<div class="parent_input_p-calendar p-calendar wrap-input100" >
							<p-calendar 
								formControlName="iqamaExpiryDate" 
								[placeholder]="'iqama_expiry_date' | translate"
								dateFormat="yy-mm-dd" 
								(onSelect)='onSelectIqamaExpiryDate($event)'
							></p-calendar>
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-calendar" aria-hidden="true"></i>
							</span>
						</div>
						<input-error-in-form [control]='createForm.controls.iqamaExpiryDate'></input-error-in-form>
					</div>

					<!-- drivingLicenceExpiryDate hijri -->
					<div class="col-md-6 col-xs-12">
						<div class="parent_input_p-calendar p-calendar wrap-input100" >
							<p-calendar 
								[locale]='localeHijri'
								[ngModelOptions]="{standalone: true}"
								[defaultDate]='defaultHijriDate'
								[(ngModel)]="drivingLicenceExpiryDateInHijriModel"
								[placeholder]="'driving_licence_expiry_date_hijri' | translate" 
								dateFormat="yy-mm-dd" 
								(onSelect)='onSelectDrivingLicenceExpiryDateInHijri($event)'
							></p-calendar>
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-calendar" aria-hidden="true"></i>
							</span>
						</div>
						<div style="height:23px"></div>
					</div>	 
					<!-- drivingLicenceExpiryDate -->
					<div class="col-md-6 col-xs-12">
						<div class="parent_input_p-calendar p-calendar wrap-input100" >
							<p-calendar 
								formControlName="drivingLicenceExpiryDate" 
								[placeholder]="'driving_licence_expiry_date' | translate" 
								dateFormat="yy-mm-dd" 
								(onSelect)='onSelectDrivingLicenceExpiryDate($event)'
							></p-calendar>
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-calendar" aria-hidden="true"></i>
							</span>
						</div>
						<input-error-in-form [control]='createForm.controls.drivingLicenceExpiryDate'></input-error-in-form>
					</div>
					
					<!-- birthday hijri -->
					<div class="col-md-6 col-xs-12">
						<div class="parent_input_p-calendar p-calendar wrap-input100" >
							<p-calendar 
								[locale]='localeHijri'
								[ngModelOptions]="{standalone: true}"
								[defaultDate]='defaultHijriDate'
								[(ngModel)]="birthdayInHijriModel"
								[placeholder]="'birthday_hijri' | translate" 
								dateFormat="yy-mm-dd"
								(onSelect)='onSelectBirthdayInHijri($event)'
							></p-calendar>
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-birthday-cake" aria-hidden="true"></i>
							</span>
						</div>
						<div style="height:23px"></div>
					</div>
					<!-- birthday -->
					<div class="col-md-6 col-xs-12">
						<div class="parent_input_p-calendar p-calendar wrap-input100" >
							<p-calendar 
								formControlName="birthday" 
								[placeholder]="'birthday' | translate" 
								dateFormat="yy-mm-dd" 
								(onSelect)='onSelectBirthday($event)'
							></p-calendar>
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-birthday-cake" aria-hidden="true"></i>
							</span>
						</div>
						<input-error-in-form [control]='createForm.controls.birthday'></input-error-in-form>
					</div>


					<!-- btn -->
					<div class="col-md-4 col-md-offset-4 col-xs-12 col-xs-offset-0">
						<div class="container-login100-form-btn">
							<button class="login100-form-btn" >
								{{'save' | translate}}
							</button>
						</div>
					</div>

				</form>
				
			</div>
		</div>

	</div>
</div>



