<div class="router-outlet-content">
	<div class="container">
		<div class="parent-of-signin-form-page">

			<div class="wrap-login100">
				<div style="padding-top: 100px;" class="login100-pic js-tilt">
					<img onError="this.src='/assets/images/no-image.png';" src="/assets/images/img-01.png" alt="IMG">
				</div>

				<form role="form" [formGroup]='signupForm' (submit)='onSubmit()' class="login100-form">
					
					<span class="login100-form-title">
						{{'signup' | translate}}
					</span>

					<!-- name -->
					<div class="wrap-input100 validate-input" >
						<input 
							formControlName='name' 
							class="input100" 
							type="text" 
							placeholder="{{'name' | translate}}">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>
					<input-error-in-form [control]='signupForm.controls.name'></input-error-in-form>

					<!-- email -->
					<div class="wrap-input100 validate-input" >
						<input 
							formControlName='email' 
							class="input100" 
							type="text" 
							placeholder="{{'email' | translate}}">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
					<input-error-in-form [control]='signupForm.controls.email'></input-error-in-form>

					
					<!-- phone -->
					<div class="wrap-input100 validate-input" >
						<input 
							formControlName='phone' 
							class="input100" 
							type="text" 
							placeholder="{{'phone' | translate}}">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</span>
					</div>
					<input-error-in-form [control]='signupForm.controls.phone'></input-error-in-form>
						

					<!-- password -->
					<div class="parent_input_password wrap-input100">
						<i class="fa fa-eye" (mouseenter)='pa.type="text"' (mouseleave)='pa.type="password"'></i>
						<input  formControlName='password' #pa class="input100" type="password" placeholder="{{'password' | translate}}">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					<input-error-in-form [control]='signupForm.controls.password'></input-error-in-form>

					<!-- btn -->
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" >
							{{'signin' | translate}}
						</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>



