<custom-data-view3
    (onLazyLoad)='onLazyLoad($event)'
        
    [filterBy1Options]='bookingsTypesFilterOptions'
    [filterBy1Title]="'all_bookings_types' | translate"
    filterBy1Icon="fa-ticket"

    [filterBy2Options]='branchesCanThisEmployeeAccessFilterOptions'
    [filterBy2Title]="'all_branches' | translate"
    filterBy2Icon="fa-briefcase"

    (onReset)='onReset($event)'

    [loading]='loading'
    [itemsCount]='bookings.length | numEnToAr'
    [bottomLengthTitle]="'bookings_count' | translate"
>
    <!-- content -->
    <div *ngFor="let item of bookings" class="ui-g parent-in-custom-data-view" >

        
        <div class="hidden-xs parent-of-image" style="margin-top: 58px;">
            <img 
                [routerLink]="['/view-bookings' , item._id]" 
                onError="this.src='/assets/images/no-image.png'" 
                [src]="item.carGroup.images[0] ? imageUrl + item.carGroup.images[0] : '/assets/images/no-image.png'" class="img-responsive" 
                alt="Image"
            >
        </div>
        
        <div class="ui-sm-12 ui-g-9">

            <!-- booking -->
            <div class="ui-g item-in-custom-data-view">
                
                <div class="ui-g-12">
                    <i class="fa fa-calendar"></i>
                    <strong>
                        {{'pick_up_date' | translate}} :
                    </strong>
                    <span>
                        {{item.pickUpDate | date:"yyyy-MM-dd"}}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-calendar"></i>
                    <strong>
                        {{'return_date' | translate}} :
                    </strong>
                    <span>
                        {{item.returnDate | date:"yyyy-MM-dd"}}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-ticket"></i>
                    <strong>
                        {{'booking_type' | translate}} :
                    </strong>
                    <span>
                        {{getBookingType(item.bookingType)}}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-briefcase"></i>
                    <strong>
                        {{'branch' | translate}} :
                    </strong>
                    <span>
                        {{item.pickUpBranch |  getValueByLang:"nameEn,nameAr" }}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-car"></i>
                    <strong>
                        {{'car_type' | translate}} :
                    </strong>
                    <span>
                        {{item.carGroup.carType |  getValueByLang:"nameEn,nameAr" }}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-car"></i>
                    <strong>
                        {{'car_model' | translate}} :
                    </strong>
                    <span>
                        {{item.carGroup.carModel |  getValueByLang:"nameEn,nameAr" }}
                    </span>
                </div>

                <div class="ui-g-12">
                    <i class="fa fa-usd"></i>
                    <strong>
                        {{'total_price' | translate}} :
                    </strong>
                    <span [innerHTML]='(item.total | numEnToAr) + " $ "'></span>
                </div>

       
                <button *ngIf="item.deleted" class="item-btn-deleted item-btn-2" tooltipPosition="top" 
                    [pTooltip]="'deleted' | translate" 
                    pButton type="button" icon="fa fa-times" >
                </button>
                <button *ngIf="!item.deleted" class="item-btn-not-deleted item-btn-2" tooltipPosition="top" 
                    [pTooltip]="'not_deleted' | translate" 
                    pButton type="button" icon="fa fa-times" >
                </button>

                <button class="item-btn item-btn-1" tooltipPosition="top" 
                    [pTooltip]="'view_booking' | translate" 
                    [routerLink]="['/view-bookings' , item._id]" 
                    pButton type="button" icon="fa fa-ticket" >
                </button>


            </div>
            <!-- booking -->
                                                    
        </div>

    </div>
    <!-- ./content    -->

</custom-data-view3>

