<div class="parent-of-signin-form-page parent-of-add-form-page ">
	<div class="wrap-login100 row">

		<form role="form" [formGroup]='formGroup' (submit)='onSubmit()' class="login100-form">
			
			<span class="login100-form-title">
				{{'add_car' | translate}}
			</span>

			

			<!-- status -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 select-one" >
					<select-one
						formControlName="status"
						icon='fa fa-certificate'     
						[options]='statusOptions'   
						[placeholder]='"status" | translate'
					>
					</select-one>
				</div>
				<input-error-in-form [control]='formGroup.controls.status'></input-error-in-form>
			</div>


			<!-- gearType -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 select-one" >
					<select-one
						formControlName="gearType"
						icon='fa fa-cogs'     
						[options]='gearTypesOptions'   
						[placeholder]='"gear_type" | translate'
					>
					</select-one>
				</div>
				<input-error-in-form [control]='formGroup.controls.gearType'></input-error-in-form>
			</div>

			<!-- plateNumber -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100" >
					<input 
						formControlName='plateNumber' 
						class="input100" 
						type="text" 
						tooltipPosition="top" 
						pTooltip="1234-أ ب ت" 
						tooltipEvent='focus'
						tooltipStyleClass='tooltipStyleClass-in-plateNumber'
						[placeholder]="'plate_number' | translate">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-id-card" aria-hidden="true"></i>
					</span>
				</div>
				<input-error-in-form [control]='formGroup.controls.plateNumber'></input-error-in-form>
			</div>

			<!-- carGroup_id -->
			<div class="col-md-6 col-xs-12">
				<div class="wrap-input100 select-one" >
					<select-one
						formControlName="carGroup_id"
						icon='fa fa-car'     
						[options]='carGroupsCanThisEmployeeAccessOptions'   
						[placeholder]='"the_car_group" | translate'
					>
					</select-one>
				</div>
				<input-error-in-form [control]='formGroup.controls.carGroup_id'></input-error-in-form>
			</div>


			<!-- btn -->
			<div class="col-md-4 col-md-offset-4 col-xs-12 col-xs-offset-0">
				<div class="container-login100-form-btn">
					<button class="login100-form-btn" >
						{{'save' | translate}}
					</button>
				</div>
			</div>
	
		</form>
	</div>
</div>



